.cookies{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 32px;
    max-width: 1069px;
    width: 95%;
    background-color: #8A8A9C;
    border-radius: 10px;
    display: grid;
    grid-template-columns: minmax(100px , 728px) 1fr;
    align-items: center;
    z-index: 999;

    @media (max-width: 767px) {
        display: block;
        padding: 16px;
    }

    &.hidden{
        display: none;
    }

    & h3{
        display: flex;
        align-items: center;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #FFFFFF;
        margin-bottom: 15px;

        @media (max-width: 767px) {
            font-size: 12px;
            line-height: 18px;
        }

        & img{
            margin-right: 10px;
        }
    }

    & p{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        
        & a{
            color: #FCEC5A;
            text-decoration: underline;
        }
    }
}

.cookies--reject,
.cookies--accept {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 48px;
    border-radius: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;

    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-delay: 0;

    @media (max-width: 767px) {
        width: 152px;
        height: 40px;
    }
}

.cookies--accept {
    background-color: #F1DD23;
    border: 1.5px solid #F1DD23;
    color: #0A0A0A;

    &:hover,
    :focus {
        background-color: transparent;
        color: #F1DD23;
    }
}

.cookies--reject {
    background-color: transparent;
    border: 1.5px solid #FFFFFF;
    color: #FFFFFF;
    margin-top: 15px;

    @media (max-width: 767px) {
        margin-top: 0;
        margin-left: 16px;
    }

    &:hover,
    :focus {
        background-color: #FFFFFF;
        color: #0A0A0A;
    }
}


.cookies--buttons{
    margin-left: auto;

    @media (max-width: 767px) {
        display: flex;
        justify-content: center;
        margin-top: 16px;
    }
}