.custom-scrollbar{
    display: block;
    width: 8px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background: #151617;
    border-radius: 30px;
}

.custom-crollbar-thumb{
    display: block;
    background: #FCEC5A;
    border-radius: 30px;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;

}