footer .container{
    display: block;
    border-radius: 0 0 20px 20px;

    @media (max-width: 1000px) {
        display: none;
    }

}

.footer--wrap{
    display: grid;
    grid-template-columns: repeat(3, fit-content);
    grid-auto-rows: fit-content;
    background-color: #0A0A0A;
    border-radius: 20px;
    padding: 86px;
    justify-content: space-between;
}

.main .footer--wrap{
    background-color: #151617;
}

.footer--logo-wrap{
    max-width: 220px;
}

.footer--logo{
    width: 120px;
    height: 80px;
    display: block;
}

.footer--icon-cross{
    display: inline-block;
    width: 8px;
    height: 8px;
    position: absolute;
    transform: translate(50% 50%);

    transition-property: transform;
    transition-duration: 500ms;
    transition-delay: 0;
}

.footer--icon-minus{
    display: inline-block;
        width: 8px;
        height: 8px;
        stroke: #FCEC5A;
        fill: #FCEC5A;

        position: absolute;
        transform: translate(50% 50%);
}

.footer--icon-wrap{
    position: relative;
    width: 8px;
    height: 8px;
    margin-right: 5px;
    fill: #FCEC5A;
}

.footer--link{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #8A8A9C;
    max-width: 306px;

    transition-property: color;
    transition-duration: 500ms;
    transition-delay: 0;

    &:hover,
    :focus{
        color: #FFFFFF;

        &>.footer--icon-wrap{
            &>.footer--icon-cross{
                transform: rotateX(90deg);
            }
        }
    }

}

.footer--list{
    margin-top: 15px;

    & li{
        &:not(:first-child){
            margin-top: 10px;
        }
    }
}

.footer--group-title{
    display: flex;
    align-items: center;

    & h3{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }
}

.footer--more-options-button{
    margin-top: 10px;
    border: none;
    padding: 0;
    background-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #FCEC5A;
    text-decoration: underline;
}

.footer--text{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #8A8A9C;
    margin-top: 15px;
}

.footer--contacts-list{
    margin-top: 10px;
    
    & li{
        &:not(:first-child){
            margin-top: 10px;
        }
    }
}

.footer--box-1{
    grid-column-start: 1;
}

.footer--box-2{
    grid-column-start: 1;
    max-width: 180px;

}

.footer--box-3{
    grid-column-start: 2;
    grid-row-start: 1;
    width: fit-content;
}

.footer--box-4{
    grid-column-start: 2;
    grid-row-start: 2;
    width: fit-content;
}

.footer--box-5{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: fit-content;
    margin-left: auto;
}

.footer--box-6{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-top: 1px solid #8A8A9C;
    padding-top: 15px;
    align-items: center;

}

.footer--top-button{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #F1DD23;
    background-color: #F1DD23;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer--copyright{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.footer--icon-up{
    stroke: #151617;
    width: 8px;
    height: 10px;
}