.header--notification {
    background-color: #DB4141;
    height: 52px;
    transition-property: height;
    transition-duration: 500ms;
    transition-delay: 0;

    &.hidden{
        height: 0px;
        overflow: hidden;
    }
}

.header--notification .container{
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #FFFFFF;

        & a{
            color: Yellow;
            text-decoration: underline;
        }
    }
}

header .container{
    display: flex;
    align-items: center;
}

.header--main{
    padding-top: 35px;
    padding-bottom: 35px;
}

.header--logo{
    width: 84px;
    height: 56px;
    fill: #F1DD23;
}

.header--logo-2{
    opacity: 0;
}

.header--logo-1,
.header--logo-2{
    transition-property: opacity;
    transition-duration: 500ms;
    transition-delay: 0;
}

.header--logo:hover .header--logo-1{
    opacity: 0;
}

.header--logo:hover .header--logo-2{
    opacity: 1;
}

.header--nav-list{
    display: flex;
    margin-left: 215px;

    & li{
        &:not(:first-child){
            margin-left: 32px;
        }
    }

    & .header--link{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #8A8A9C;
        transition-property: color;
        transition-duration: 500ms;
        transition-delay: 0;

        &.active,{
            color: #FFFFFF;
        }

        &:hover,
        :focus{
            color:  #FFFFFF;
        }
    }
}

.header--notification-button{
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 1.5px solid #FFFFFF;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg{
        width: 20px;
        height: 20px;
        stroke: #FFFFFF;
    }
}

.header--language{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    margin-left: auto;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #8A8A9C;

    position: relative;

    & div{
        cursor: pointer;
    }

    &::after{
        content: "";
        width: 1px;
        height: 24px;
        margin-left: 25px;
        margin-right: 25px;
        background-color: #8A8A9C;
    }

    & svg{
        width: 15px;
        height: 10px;
        fill: #FFFFFF;
        margin-right: 8px;
    }

    & ul{
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translate(25%, 100%);
        background-color: #FFFFFF;
        padding: 32px;
        border-radius: 10px;

        transition-property: height, padding;
        transition-duration: 500ms;
        transition-delay: 0;

        &.hidden{
            height: 0;
            padding: 0;
            overflow: hidden;
        }

        & li{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.05em;
            color: #8A8A9C;
            cursor: pointer;

            transition-property: color;
            transition-duration: 500ms;
            transition-delay: 0;

            &:hover,
            :focus{
                color: #0A0A0A;
            }

            &:not(:first-child){
                margin-top: 15px;
            }

            &.active{
                color:#0A0A0A;
            }
        }
    }
}

.header--login{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1.5px solid #FFFFFF;
    border-radius: 10px;
    width: 48px;
    height: 48px;

    transition-property: background-color;
    transition-duration: 500ms;
    transition-delay: 0;

    & svg{
        width: 24px;
        height: 24px;
        fill: transparent;
        stroke: #FFFFFF;

        transition-property: fill, stroke;
        transition-duration: 500ms;
        transition-delay: 0;
    }

    &:hover,
    :focus{
        background-color: #FFFFFF;

        & svg{
            fill: #0A0A0A;
            stroke: #0A0A0A;
        }
    }
}

.header--termine{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 48px;
    background-color: #F1DD23;
    border: 1.5px solid #F1DD23;
    border-radius: 10px;
    margin-left: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #0A0A0A;

    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-delay: 0;

    &:hover,
    :focus{
        background-color: transparent;
        color: #F1DD23;
    }
}

.header--info{
    padding-top: 15px;
    padding-bottom: 15px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        display: flex;
        align-items: center;

        & a{
            color: inherit;
        }

        & span{
            margin-left: 3px;
            margin-right: 3px;
        }
    }
}

.main .header--info{
    border-bottom: 1px solid #333333;
}


.header--info-icon{
    width: 14px;
    height: 14px;
    fill: #8A8A9C;
    stroke: #0A0A0A;
}

.header--graphic-icon{
    width: 11px;
    height: 12px;
}

.header--phone-icon{
    width: 16px;
    height: 16px;
}

.header--info-icon,
.header--graphic-icon,
.header--phone-icon{
    margin-right: 10px;
}

.header--blog-icon{
    width: 8px;
    height: 8px;
    margin-right: 4px;

}

.header--blog-list{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    border-radius: 10px;
    display: block;
    height: 0px;
    overflow: hidden;
    transition-property: height, padding;
    transition-duration: 500ms;
    transition-delay: 0;
    

    & li{
        &:not(:first-child){
            margin: 0;
            margin-top: 15px;
        }
    }

    & a{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #8A8A9C;
        letter-spacing: 0.05em;

        transition-property: color;
        transition-duration: 500ms;
        transition-delay: 0;

        &:hover,
        :focus{
            color: #0A0A0A;
        }
    }
}

.header--blog-links {
    position: relative;

    &:hover .header--blog-list,
    :focus .header--blog-list{
        padding: 32px;
        height: 194px;
    }
}

.header--blog-link{
    display: flex;
    align-items: center;
}


