.header-mobile{
    margin: auto;
    position: relative;
    padding-top: 24px;
    padding-bottom: 24px;
    background: #0A0A0A;
    background: #151617;
    display: none;

    @media (max-width: 1399px) {
        display: block;
    }
    
}

.header-mobile .header--logo{
    width: 72px;
    height: 48px;
    display: block;
}

.header-mobile--logo-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mobile--menu-button{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: transparent;
    margin-right: 14px;
}

.header-mobile--icon-menu{
    display: block;
    width: 16px;
    height: 16px;

    &.hidden{
        display: none;
    }
}

.header-mobile--icon-cross{
    display: block;
    width: 8px;
    height: 8px;
    stroke: #FFFFFF;

    &.hidden{
        display: none;
    }
}

.header-mobile--link-call{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    background-color: #F1DD23;
    border-radius: 8px;
    position: relative;
    z-index: 2;
    opacity: 1;
    stroke: #0A0A0A;
    border: none;


    & svg{
        display: block;
        width: 16px;
        height: 16px;
    }

    &.hidden{
        z-index: 1;
        opacity: 0;
    }
}

.header-mobile--button-enter{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 40px;
    padding: 0;
    border: 1px solid #FFFFFF;
    border-radius: 8px;

    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    background-color: transparent;z-index: 2;

    position: absolute;
    top: 0;
    left: 0;

    &.hidden {
        z-index: 1;
        opacity: 0;
    }
}

.header-mobile--buttons{
    display: flex;
}

.header-mobile--buttons-carusel{
    display: block;
    width: 80px;
    height: 40px;
    position: relative;
}

.header-mobile--menu-punkt{
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.header-mobile--nav-list{

    & li{
        &:not(:first-child){
            margin-top: 32px;
        }
    }

    & a{
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #8A8A9C;
    }
}

.header-mobile--nav-number{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #8A8A9C;

    transition-property: color;
    transition-duration: 500ms;
    transition-delay: 0;

    &.hidden{
        color: transparent;
    }
}

.header-mobile--nav-list-item-inf{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-mobile--phones-wrap{
    display: flex;
    flex-direction: column;
    height: 68px;
        background: #151617;
        border-radius: 10px;
        padding: 16px;

    & a{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
}

.header-mobile--dates{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #FFFFFF;

    height: 68px;
    background: #151617;
    border-radius: 10px;
        padding: 16px;
}

.header-mobile--contacts{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 64px;
    
}

.header-mobile--popular-list{
    display: flex;
    gap: 24px;
    margin-top: 16px;
    height: 120px;
    width: 100%;

    transition-property: heightm margin-top;
    transition-duration: 500ms;
    transition-delay: 0;

    overflow: auto;

    &.hidden{
        margin-top: 0;
        height: 0;
        overflow: hidden;
    }
    

    & li{
        flex-shrink: 0;
        height: 120px;
        width: 297px;
        padding-left: 20px;
        background-color: #151617;

        &:not(:first-child){
            margin-top: 0;
        }

    }

    & h3{
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        max-width: 179px;
    }
}


.header-mobile--blog-list{
    margin-top: 24px;
    padding-left: 15px;
    height: 160px;


    transition-property: margin-top, height;
    transition-duration: 500ms;
    transition-delay: 0;

    & li{
        &:not(:first-child){
            margin-top: 24px;
        }
    }

    &.hidden{
        margin-top: 0;
        height: 0;
        overflow: hidden;
    }
}

.header-mobile--leanguage-list{
    margin-top: 24px;
    height: 114px;

    transition-property: margin-top, height;
    transition-duration: 500ms;
    transition-delay: 0;
    
    & li {
        &:not(:first-child) {
            margin-top: 24px;
        }
    }

    &.hidden{
        margin-top: 0;
        height: 0;
        overflow: hidden;
    }
}

.header-mobile--menu{
    display: block;
    width: 100%;
    height: fit-content;
    padding-top: 24px;
    padding-bottom: 100px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    padding-left: 16px;
    padding-right: 16px;
    background: #0A0A0A;
    z-index: 999;

    @media (min-width: 768px) {
        max-width: 90%;
    }

    transition-property: height, padding-top;
    transition-duration: 500ms;
    transition-delay: 0;

    & nav{
        background: #0A0A0A;
    }

    &.hidden{
        padding-top: 0;
        padding-bottom: 0;
        height: 0;
        overflow: hidden;
    }
}

.header-mobile .header--logo-1{
    opacity: 1;

    transition-property: opacity;
    transition-duration: 500ms;
    transition-delay: 0;
    &.hidden{
        opacity: 0;
    }
}

.header-mobile .header--logo-2{
    opacity: 1;
    transition-property: opacity;
    transition-duration: 500ms;
    transition-delay: 0;

    &.hidden {
        opacity: 0;
    }
}