* {
  box-sizing: border-box;
  outline: 1px solid tomato;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: black;
}

button:hover {
  cursor: pointer;
}

a,
p,
h1,
h2,
h3,
h4,
span {
  font-family: "Montserrat";
  margin: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-padding-end: 0;
          padding-inline-end: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

ol {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

a {
  text-decoration: none;
}

section {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding-left: 72px;
  padding-right: 72px;
}

footer .container {
  display: block;
}

.footer--wrap {
  display: grid;
  grid-template-columns: repeat(3, fit-content);
  grid-auto-rows: auto;
  background-color: #151617;
  border-radius: 20px;
  padding: 86px;
  justify-content: space-between;
}

.footer--logo-wrap {
  max-width: 220px;
}

.footer--logo {
  width: 158px;
  height: 60px;
  display: block;
}

.footer--icon-cross {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 5px;
}

.footer--link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #8A8A9C;
  max-width: 306px;
}

.footer--list {
  margin-top: 15px;
}
.footer--list li:not(:first-child) {
  margin-top: 10px;
}

.footer--group-title {
  display: flex;
  align-items: center;
}
.footer--group-title h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.footer--more-options-button {
  margin-top: 10px;
  border: none;
  padding: 0;
  background-color: transparent;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #FCEC5A;
  text-decoration: underline;
}

.footer--text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #8A8A9C;
  margin-top: 15px;
}

.footer--contacts-list {
  margin-top: 10px;
}
.footer--contacts-list li:not(:first-child) {
  margin-top: 10px;
}

.footer--box-1 {
  grid-column-start: 1;
}

.footer--box-2 {
  grid-column-start: 1;
  max-width: 180px;
}

.footer--box-3 {
  grid-column-start: 2;
  grid-row-start: 1;
  width: -moz-fit-content;
  width: fit-content;
}

.footer--box-4 {
  grid-column-start: 2;
  grid-row-start: 2;
  width: -moz-fit-content;
  width: fit-content;
}

.footer--box-5 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
}

.footer--box-6 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.footer--top-button {
  display: inline-block;
  width: 40px;
  height: 40px;
}/*# sourceMappingURL=styles.css.map */