.cabinet--page{
    padding-bottom: 80px;
}

.cabinet--page-section-title{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #8A8A9C;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    @media (max-width: 1399px) {
        grid-row-start: 5;
        grid-row-end: 6;
    }

    &.list{
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 56px;

        @media (max-width: 1399px) {
            grid-row-start: 7;
            grid-row-end: 8;
        }
    }

    &.section-margin{
        margin-top: 80px;
    }
}

.cabinet--page-secondary-text{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    position: relative;
    z-index: 99;

    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.01em;
    }
}

.cabinet--page-primary-text{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #8A8A9C;
    margin-bottom: 5px;
    position: relative;
    z-index: 99;

    @media (max-width: 767px) {
        margin-bottom: 2px;
    }

    &.left{
        display: block;
        text-align: left;
        
    }
}



.cabinet--page-info{
    display: grid;
    grid-template-columns: max(416px) max(196px) repeat(2, 1fr);
    gap: 24px;

    @media (max-width: 1399px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.cabinet--page-button-add-auto{
    padding: 35px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: #212223;
    overflow: hidden;

    transition-property: border;
    transition-duration: 500ms;
    transition-delay: 0;

    @media (max-width: 1399px) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    &:hover{
        border: 1px solid #FFFFFF;
    }
}



.cabinet--page-button-add-icon-wrap{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    position: relative;
}

.cabinet--page-button-add-icon{
    width: 14px;
    height: 14px;
    stroke: #0A0A0A;
}

.cabinet--page-info-in-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: #212223;
    padding: 35px 32px;
    height: 100%;

    @media (max-width: 1399px) {
        display: none;
    }
}

.cabinet--page-section-title-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;

    @media (max-width: 1399px) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
}

.cabinet--page-info-icon{
    width: 20px;
    height: 20px;
    stroke: #FFFFFF;
    fill: transparent;
}

.cabinet--page-info-raiting{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: #212223;
    padding: 35px 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;

    @media (max-width: 1399px) {
        padding: 18px;
        height: 150px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

}

.cabinet--page-info-raiting .cabinet--page-text-big{
    @media (max-width: 1399px){
        margin-left: auto;
    }
}

.cabinet--page-text-big{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    position: relative;
    z-index: 99;

    @media (max-width: 767px) {
        font-size: 32px;
        line-height: 40px;
    }
}

.cabinet--page-user-title-wrap{
    grid-column-start: 3;
    grid-column-end: 5;
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg{
        width: 24px;
        height: 24px;
        stroke: #FFFFFF;
    }

    @media (max-width: 1399px) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
}

.cabinet--page-button-add-car{
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.cabinet--page-user-add{
    grid-column-start: 3;
    grid-column-end: 5;

    @media (max-width: 1399px) {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

.cabinet--page-button-add-car,
.cabinet--page-user-add {
    height: 300px;
    background-color: #212223;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: border;
    transition-duration: 500ms;
    transition-delay: 0;

    &:hover{
        border: 1px solid #FFFFFF;
    }
}

.cabinet--page-button-add-car:hover p,
.cabinet--page-user-add:hover p{
    color: #FFFFFF
}

.cabinet--page-button-add-car:hover .cabinet--page-button-icon,
.cabinet--page-user-add:hover .cabinet--page-button-icon{
    fill: #8A8A9C;

    
}

.cabinet--page-add-link{
    @extend .footer--link;

    & span{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #8A8A9C;
        margin-left: 5px;
    }
    
}

.cabinet--page-add-text-wrap{
    display: flex;
    flex-direction: column;

    & p{
        display: inline-block;
        width: fit-content;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #8A8A9C;
        margin-bottom: 5px;

        transition-property: color;
        transition-duration: 500ms;
        transition-delay: 0;
    }
}

.cabinet--page-button-icon{
    width: 56px;
    height: 56px;
    margin-right: 24px;
    fill: transparent;
    stroke:#8A8A9C;

    transition-property: fill;
    transition-duration: 500ms;
    transition-delay: 0;

    &.cross {
        width: 14px;
        height: 14px;
        margin: 0;
    }
}

.cabinet--page-list-wrap{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: #212223;
    margin-top: 24px;
}

.cabinet--page-icon-cross{
    border: 2px solid #8A8A9C;
    border-radius: 4px;
    display: flex;
    padding: 17px 14px;
    border-radius: 10px;
    margin-right: 30px;
}

.cabinet--drop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.43);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    &.hidden{
        display: none;
    }
}

.cabinet--add-new-car,
.cabinet--change-car{
    width: fit-content;
    height: fit-content;
    padding: 24px;
    background-color: #151617;
    border-radius: 20px;
    width: 464px;

    &.hidden{
        display: none;
    }
}

.cabinet--add-new-car-logo{
    width: 46px;
    height: 46px;
    margin-right: 24px;
    fill: #8A8A9C;
}

.cabinet--add-new-car-mark{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #8A8A9C;
}

.cabinet--add-new-car-model{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #8A8A9C;
    margin-top: 4px;
}

.cabinet--add-new-car-model-wrap{
    display: flex;
    align-items: center;
}

.cabinet--add-new-car-remove-btn{
    margin-left: auto;

    &.hidden{
        display: none;
    }
}

.cabinet--add-new-car-remove-btn{
    border: none;
    background-color: transparent;
    padding: 0;

    & svg{
        display: block;
        width: 24px;
        height: 24px;
        fill: transparent;
    }
}

.cabinet--add-new-car-form{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.cabinet--add-new-car-input-wrap{
    position: relative;
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1.5px solid #ACACAC;

    transition-property: border-bottom;
    transition-duration: 500ms;
    transition-delay: 0;

    &:not(:first-child){
        margin-top: 24px;
    }

    &:hover{
        border-bottom: 1.5px solid #333333;

        & input{
            &::placeholder{
                color: #333333;
            }
        }
    }

    & input{
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #FFFFFF;

        transition-property: color;
        transition-duration: 500ms;
        transition-delay: 0;

        &::placeholder{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.05em;
            color: #ACACAC;
            transition-property: color;
            transition-duration: 500ms;
            transition-delay: 0;
        }
    }

    & svg{
        position: absolute;
        right: 0;
        width: 20px;
        height: 20px;
        stroke: #ACACAC;
        fill: transparent;
    }
}

.cabinet--add-new-car-buttons-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 36px;

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & button{
        width: 100%;
        height: 48px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.01em;
        border-radius: 10px;

        transition-property: background-color, color;
        transition-duration: 500ms;
        transition-delay: 0;

        &.add{
            border: 1.5px solid #F1DD23;
            background-color: #F1DD23;
            color:#0A0A0A;

            &:hover{
                background-color: transparent;
                color: #F1DD23;
            }
        }

        &.remove{
            border: 1.5px solid #FFFFFF;
            background-color: transparent;
            color: #FFFFFF;

            &:hover {
                background-color: #FFFFFF;
                color: #0A0A0A;
            }
        }
    }
}

.cabinet--add-new-user{
    @extend .cabinet--add-new-car;
}

.cabinet--add-new-user .cabinet--add-new-car-form{
    margin: 0;
}

.cabinet--add-new-user .section-request--legal{
    margin-top: 48px;

    & span{
        color: #F1DD23;
    }
}

#anim-1{
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    animation: anim 16s linear 8s infinite;

    @keyframes anim {
        0% {
            background-image: url('./images/anim-1/anbg-1.png');
        }

        25% {
            background-image: url('./images/anim-1/anbg-2.png');
        }

        50% {
            background-image: url('./images/anim-1/anbg-3.png');
        }

        75% {
            background-image: url('./images/anim-1/anbg-4.png');
        }

        100% {
            background-image: url('./images/anim-1/anbg-1.png');
        }
    }
}

#anim-2 {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    animation: an 16s linear 8s infinite;

    @keyframes an {
        0% {
            background-image: url('./images/animation/an-1qw.png');
        }

        25% {
            background-image: url('./images/animation/an-2qw.png');
        }

        50% {
            background-image: url('./images/animation/an-3qw.png');
        }

        75% {
            background-image: url('./images/animation/an-4qw.png');
        }

        100% {
            background-image: url('./images/animation/an-1qw.png');
        }
    }
}

#anim-3{
    position: relative;
    
    &>.background {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;

        transition-property: opacity;
        transition-duration: 500ms;
        transition-delay: 0;

        animation: gradient-3 16s linear 8s infinite;

        @keyframes gradient-3 {
            0% {
                background-image: url('./images/anim-3/an-1.png');
            }

            25% {
                background-image: url('./images/anim-3/an-2.png');
            }

            50% {
                background-image: url('./images/anim-3/an-3.png');
            }

            75% {
                background-image: url('./images/anim-3/an-4.png');
            }

            100% {
                background-image: url('./images/anim-3/an-1.png');
            }
        }
    }
}

#anim-3:hover .background{
    opacity: 1;
}

#anim-4{
    position: relative;
    
    &>.background {
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        background-repeat: no-repeat;
        background-size: cover;

        transition-property: opacity;
        transition-duration: 500ms;
        transition-delay: 0;

        animation: gradient-3 16s linear 8s infinite;

        @keyframes gradient-3 {
            0% {
                background-image: url('./images/anim-3/an-1.png');
            }

            25% {
                background-image: url('./images/anim-3/an-2.png');
            }

            50% {
                background-image: url('./images/anim-3/an-3.png');
            }

            75% {
                background-image: url('./images/anim-3/an-4.png');
            }

            100% {
                background-image: url('./images/anim-3/an-1.png');
            }
        }
    }
}

#anim-4:hover .background {
    opacity: 1;
}

#anim-5 {
    position: relative;
    
        &>.background {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
    
            transition-property: opacity;
            transition-duration: 500ms;
            transition-delay: 0;
    
            animation: new-qnimation 16s linear 8s infinite;
    
            @keyframes new-qnimation {
                0% {
                    background-image: url('./images/wrts-2/an-1er.png');
                }
    
                25% {
                    background-image: url('./images/wrts-2/an-2er.png');
                }
    
                50% {
                    background-image: url('./images/wrts-2/an-3er.png');
                }
    
                75% {
                    background-image: url('./images/wrts-2/an-4er.png');
                }
    
                100% {
                    background-image: url('./images/wrts-2/an-1er.png');
                }
            }
        }
}

#anim-5:hover .background {
    opacity: 1;
}

.cabinet--information-wrap{
    position: relative;
}

.cabinet--information-wrap:hover .cabinet--information,
.cabinet--information-wrap:active .cabinet--information{
    display: block;
    cursor: pointer;
}

.cabinet--information{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #0A0A0A; 
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-100%, 100%);
    width: 352px;
    z-index: 100;

    display: none;
}

.cabinet--page-change-user{
    padding: 0;
    border: none;
    background-color: transparent;

    & svg{
        fill: transparent;
    }
}