.cabinet--page{
    padding-bottom: 80px;
}

.cabinet--page-section-title{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #8A8A9C;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    &.list{
        grid-row-start: 3;
        grid-row-end: 4;
        margin-top: 56px;
    }

    &.section-margin{
        margin-top: 80px;
    }
}

.cabinet--page-secondary-text{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.cabinet--page-primary-text{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #8A8A9C;
    margin-bottom: 5px;

    &.left{
        display: block;
        text-align: left;
        
    }
}



.cabinet--page-info{
    display: grid;
    grid-template-columns: max(416px) max(196px) repeat(2, 1fr);
    gap: 24px;
}

.cabinet--page-button-add-auto{
    padding: 35px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: #212223;

    transition-property: border;
    transition-duration: 500ms;
    transition-delay: 0;

    &:hover{
        border: 1px solid #FFFFFF;
    }
}

.cabinet--page-button-add-icon-wrap{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabinet--page-button-add-icon{
    width: 14px;
    height: 14px;
    stroke: #0A0A0A;
}

.cabinet--page-info-in-list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: #212223;
    padding: 35px 32px;
    height: 100%;
}

.cabinet--page-section-title-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.cabinet--page-info-icon{
    width: 20px;
    height: 20px;
    stroke: #FFFFFF;
}

.cabinet--page-info-raiting{
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: #212223;
    padding: 35px 32px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabinet--page-text-big{
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: right;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.cabinet--page-user-title-wrap{
    grid-column-start: 3;
    grid-column-end: 5;
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & svg{
        width: 24px;
        height: 24px;
        stroke: #FFFFFF;
    }
}

.cabinet--page-button-add-car{
    grid-column-start: 1;
    grid-column-end: 3;
    
}

.cabinet--page-user-add{
    grid-column-start: 3;
    grid-column-end: 5;
}

.cabinet--page-button-add-car,
.cabinet--page-user-add {
    height: 300px;
    background-color: #212223;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: border;
    transition-duration: 500ms;
    transition-delay: 0;

    &:hover{
        border: 1px solid #FFFFFF;
    }
}

.cabinet--page-button-add-car:hover p,
.cabinet--page-user-add:hover p{
    color: #FFFFFF
}

.cabinet--page-button-add-car:hover .cabinet--page-button-icon,
.cabinet--page-user-add:hover .cabinet--page-button-icon{
    fill: #8A8A9C;

    
}

.cabinet--page-add-link{
    @extend .footer--link;

    & span{
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.05em;
        color: #8A8A9C;
        margin-left: 5px;
    }
    
}

.cabinet--page-add-text-wrap{
    display: flex;
    flex-direction: column;

    & p{
        display: inline-block;
        width: fit-content;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #8A8A9C;
        margin-bottom: 5px;

        transition-property: color;
        transition-duration: 500ms;
        transition-delay: 0;
    }
}

.cabinet--page-button-icon{
    width: 56px;
    height: 56px;
    margin-right: 24px;
    fill: transparent;
    stroke:#8A8A9C;

    transition-property: fill;
    transition-duration: 500ms;
    transition-delay: 0;

    &.cross {
        width: 14px;
        height: 14px;
        margin: 0;
    }
}

.cabinet--page-list-wrap{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    background-color: #212223;
    margin-top: 24px;
}

.cabinet--page-icon-cross{
    border: 2px solid #8A8A9C;
    border-radius: 4px;
    display: flex;
    padding: 17px 14px;
    border-radius: 10px;
    margin-right: 30px;
}

.cabinet--drop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: rgba(0, 0, 0, 0.43);
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    &.hidden{
        display: none;
    }
}

.cabinet--add-new-car{
    width: fit-content;
    height: fit-content;
    padding: 24px;
    background-color: #151617;
    border-radius: 20px;
    width: 464px;

    &.hidden{
        display: none;
    }
}

.cabinet--add-new-car-logo{
    width: 46px;
    height: 46px;
    margin-right: 24px;
}

.cabinet--add-new-car-mark{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #8A8A9C;
}

.cabinet--add-new-car-model{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #8A8A9C;
    margin-top: 4px;
}

.cabinet--add-new-car-model-wrap{
    display: flex;
    align-items: center;
}

.cabinet--add-new-car-remove-btn{
    margin-left: auto;

    &.hidden{
        display: none;
    }
}

.cabinet--add-new-car-remove-btn{
    border: none;
    background-color: transparent;
    padding: 0;

    & svg{
        display: block;
        width: 24px;
        height: 24px;
    }
}

.cabinet--add-new-car-form{
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}

.cabinet--add-new-car-input-wrap{
    position: relative;
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1.5px solid #ACACAC;

    transition-property: border-bottom;
    transition-duration: 500ms;
    transition-delay: 0;

    &:not(:first-child){
        margin-top: 24px;
    }

    &:hover{
        border-bottom: 1.5px solid #333333;

        & input{
            &::placeholder{
                color: #333333;
            }
        }
    }

    & input{
        width: 100%;
        background-color: transparent;
        outline: none;
        border: none;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #FFFFFF;

        transition-property: color;
        transition-duration: 500ms;
        transition-delay: 0;

        &::placeholder{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.05em;
            color: #ACACAC;
            transition-property: color;
            transition-duration: 500ms;
            transition-delay: 0;
        }
    }

    & svg{
        position: absolute;
        right: 0;
        width: 20px;
        height: 20px;
        stroke: #ACACAC;
    }
}

.cabinet--add-new-car-buttons-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 36px;

    & button{
        width: 100%;
        height: 48px;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.01em;
        border-radius: 10px;

        transition-property: background-color, color;
        transition-duration: 500ms;
        transition-delay: 0;

        &.add{
            border: 1.5px solid #F1DD23;
            background-color: #F1DD23;
            color:#0A0A0A;

            &:hover{
                background-color: transparent;
                color: #F1DD23;
            }
        }

        &.remove{
            border: 1.5px solid #FFFFFF;
            background-color: transparent;
            color: #FFFFFF;

            &:hover {
                background-color: #FFFFFF;
                color: #0A0A0A;
            }
        }
    }
}

.cabinet--add-new-user{
    @extend .cabinet--add-new-car;
}

.cabinet--add-new-user .cabinet--add-new-car-form{
    margin: 0;
}

.cabinet--add-new-user .section-request--legal{
    margin-top: 48px;

    & span{
        color: #F1DD23;
    }
}