
.cabinet--page-cars-list{
    grid-column-start: 1;
    grid-column-end: 3;
    height: 300px;
    width: 100%;
    overflow: auto;
    border-radius: 20px;

    &:hover{
        border: none;
    }

    &::-webkit-scrollbar {
        width: 8px;
    }


    &::-webkit-scrollbar-track {
        background: #151617;
        border-radius: 30px;
    }

    &::-webkit-scrollbar-thumb {
        background: #FCEC5A;
        border-radius: 30px;
    }
}

.cabinet--page-cars-list-item{
    padding: 32px;
    width: 100%;
    max-width: 600px;
    display: flex;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;

    transition-property: border;
    transition-duration: 500ms;
    transition-delay: 0;

    &.active{
        background-color: #212223;
    }

    &:hover{
        border: 1px solid #FFFFFF;
    }

    &:not(:first-child){
        margin-top: 24px;
    }
}

.cabinet--page-cars-list-item-car-icon{
    width: 46px;
    height: 46px;
    fill: #8A8A9C;
    display: block;

    transition-property: fill;
    transition-duration: 500ms;
    transition-delay: 0;
}


.cabinet--page-cars-list-item-text-wrap{
    margin-left: 16px;
}

.cabinet--page-cars-list-item-text-wrap .mark{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #8A8A9C;

        transition-property: color;
        transition-duration: 500ms;
        transition-delay: 0;
}

.cabinet--page-cars-list-item-text-wrap .info{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #8A8A9C;

    transition-property: color;
    transition-duration: 500ms;
    transition-delay: 0;
}

.cabinet--page-cars-list-item-button{
    margin-left: auto;
    padding: 0;
    margin-left: auto;
    background-color: transparent;
    border: none;
}

.cabinet--page-cars-list-item-icon-reduct{
    width: 20px;
    height: 20px;
    
    stroke: transparent;
    fill: none;

    transition-property: stroke;
    transition-duration: 500ms;
    transition-delay: 0;
}

.cabinet--page-cars-list-item:hover .cabinet--page-cars-list-item-icon-reduct{
    stroke: #FFFFFF;
}

.cabinet--page-cars-list-item:hover .mark,
.cabinet--page-cars-list-item:hover .info{
    color: #FFFFFF;
}

.cabinet--page-cars-list-item:hover .cabinet--page-cars-list-item-car-icon{
    fill: #FFFFFF;
}


.cabinet--page-user-cart{
    grid-column-start: 3;
    grid-column-end: 5;
    height: 300px;
    width: 100%;
    overflow: auto;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: #212223;
    padding: 24px;
    display: grid;
    grid-template-columns: max(172px) 1fr;
    gap: 24px;
}

.cabinet--page-user-avatar{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #0A0A0A;
    border-radius: 10px;
    position: relative;

    & svg{
        width: 108px;
        height: 126px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        fill: #151617;
    }

    & img{
        display: block;
        z-index: 2;
    }
}

.cabinet--page-user-country,
.cabinet--page-user-raiting {
    padding: 4px 15px;
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    position: absolute;
    color: #FFFFFF;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}

.cabinet--page-user-country{
    top: 20px;
}

.cabinet--page-user-raiting{
    bottom: 20px;
    width: fit-content;
    display: flex;

    & span{
        margin-left: 4px;
    }
}

.cabinet--page-user-info-cathegory{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #8A8A9C;
}

.cabinet--page-user-info-value{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 4px;
}


.cabinet--page-user-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: min-content;
    gap: 16px 24px;
    align-content: center;
}

.cabinet--page-user-info .mail{
    grid-column-start: 1;
    grid-column-end: 3;
}

.cabinet--page .section-about-light--list{
    margin-top: 24px;
}

.cabinet--page .section-about-light--list-item{
    background-color: #0A0A0A;

    &:hover{
        background-color: #212223;
    }
}

.cabinet--page .sort-page--title{
    margin-top: 80px;
}

.cabinet--page-jobs-car-info{
    display: flex;
    align-items: center;
}

.cabinet--page-jobs-item{
    display: grid;
    grid-template-columns: max(506px) max(525px) 40px;
    justify-content: space-between;
    padding: 32px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;

    & *{
        outline: 1px solid tomato;
    }

    &:not(:first-child){
        margin-top: 14px;
    }
}

.cabinet--page-jobs-item .section-questions--icon-wrap{
    // margin-left: 37px;
}

.cabinet--page-status{
    background-color: #A6EF5D;
    padding: 8px 16px;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #0A0A0A;
}

.cabinet--page-more-info{
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;

    & svg{
        stroke: #FFFFFF;
        width: 20px;
        height: 20px;
        margin-right: 10px;
        display: block;
    }

    &:not(:first-child){
        margin-top: 18px;
    }
}

.cabinet--page-jobs-item-first-block{
    display: flex;
    flex-direction: column;
}

.cabinet--page-item-car-inf{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabinet--page-item-job-title{
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #8A8A9C;
    margin-bottom: 32px;
    height: 56px;
    display: flex;
    align-items: center;
}

.cabinet--page-item-job-details{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    & span{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
}

.cabinet--page-jobs-item-second-block{
    margin-left: auto;

}

.cabinet--page-jobs-notification{
    margin-top: 24px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #8A8A9C;
}

.cabinet--page-status-date{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.cabinet--page-jobs-table-title{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #8A8A9C;
}


.cabinet--page-jobs-table{
    margin-top: 24px;

    & p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    & span{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        text-align: right;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }

    & li{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:first-child){
            margin-top: 24px;
        }

        &:last-child{
            padding-top: 24px;
            border-top: 1px dashed #FFFFFF;

            & p{
                font-weight: 700;
            }
        }
    }
}

.cabinet--page-jobs-item-links-wrap{
    margin-top: auto;
}


.cabinet--page-jobs-grade-list{
    display: flex;
    margin-top: 12px;

    & svg{
        display: block;
        width: 20px;
        height: 20px;
        stroke: #FFFFFF;
        fill: transparent;
    }

    & button{
        padding: 0;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
    }

    & li{
        &:not(:first-child){
            margin-left: 8px;
        }
    }
}

.cabinet--page-jobs-feedback-options{
    display: flex;
    align-items: flex-start;

}

.cabinet--page-jobs-feedback-wrap{
    margin-top: 37px;

    &:not(:first-child){
        margin-left: 45px;
        display: flex;
        flex-direction: column;
    }
}

.cabinet--page-jobs-feedback-link{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    margin-top: 10px;

    & svg{
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 8px;
    }
}