<div class="page-title">
    <div class="container">
        <div class="page-title--navigation">
            <ul class="bread-crumbs">
                <li>
                    <a href="/">
                        <svg>
                            <use href="./images/icons.svg#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">Наші роботи</a>
                </li>
                <li>
                    <a href="">Заміна линз в фарах Mercedes-Benz ML 6.3</a>
                </li>
            </ul>
            <a href="" class="page-title--back">
                <svg>
                    <use href="./images/icons.svg#left"></use>
                </svg>
                Назад
            </a>
        </div>
        <h2>Наші роботи</h2>
    </div>
</div>
<div class="job--page">
    <div class="job-page--hero container">
        <div class="job-page--hero-information">
            <div class="job-page--hero-information-car-inf">
                <div>
                    <h3 class="job-page--hero-information-car">
                        Mercedes-Benz
                    </h3>
                    <span class="job-page--hero-information-model">
                        ML 6.3 w164
                    </span>
                </div>
                <svg class="job-page--hero-information-car-icon">
                    <use href="./images/cars.svg#icon-Mercedes-Benz"></use>
                </svg>
            </div>
            <p class="job-page--hero-list-title">
                <svg>
                    <use href="./images/icons.svg#information"></use>
                </svg>
                Вартість робіт та матеріалів:
            </p>
            <div class="job-page--hero-list-wrap">
                <ul class="job-page--hero-list">
                    <li>
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <div>
                            <p>Робота із заміни лінз</p>
                            <span>6.000 грн</span>
                        </div>
                    </li>
                    <li>
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <div>
                            <p>Комплект лінз Hella 3</p>
                            <span>2.600 грн</span>
                        </div>
                    </li>
                    <li>
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <div>
                            <p>Лампи Osram Classic</p>
                            <span>6.000 грн</span>
                        </div>
                    </li>
                    <li>
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <div>
                            <p>Лампи Osram Classic</p>
                            <span>6.000 грн</span>
                        </div>
                    </li>
                    <li>
                
                    </li>
                </ul>
            </div>
            <button class="job-page--hero-button">
                Замовити прорахунок
            </button>
        </div>
        <img src="./images/hero-image-big.png" alt="">
    </div>
    <div class="job--page-content correct container">
        <h3>Діагностика
        та демонтаж</h3>
        <div>
            <p class="job--page-content-text">
                У сервісі автомобіль Mercedes-Benz, передня оптика перестала нормально висвітлювати дорожнє покриття і власник вирішив
                виправити ситуацію з фарами та покращити світло автомобіля
            </p>
            <p class="job--page-content-text lined">Оптика мала такий стан на момент звернення до нас у сервіс:</p>
            <ul class="job--page-content-images-list">
                <li>
                    <img src="./images/Rectangle 23.png" alt="">
                </li>
                <li>
                    <img src="./images/Rectangle 23.png" alt="">
                </li>
            </ul>
        </div>
    </div>
    <div class="job--page-content container">
        <div>
            <span class="job--page-content-secondary-text">До ремонту</span>
            <p class="job--page-content-text">Майстри сервісу вирішили зробити вимірювання потужності світлового потоку за допомогою окремих приладів, а також зробити
            проекцію на екран полотно</p>
        </div>
        <ul class="job--page-content-elements-grid">
            <li>
                <img src="./images/diagnostic-1.png" alt="">
            </li>
            <li>
                <img src="./images/diagnostic-2.png" alt="">
            </li>
            <li>
                <img src="./images/diagnostic-3.png" alt="">
            </li>
        </ul>
    </div>
    <div class="job--page-content correct container">
        <h3>Ремонтні роботи</h3>
        <div class="job--page-content-second-column">
            <p class="job--page-content-text">
            Демонтували оптику з автомобіля та розпочали заміну лінз. Це дасть можливість покращити світло оптики та отримати більш
            комфортну керованість автомобілем.
            </p>
            <p class="job--page-content-text">
                Майстри сервісу розкрили фари і всі внутрішні елементи відправили в чищення від грязьового нальоту, який накопичився на
                них від експлуатації автомобіля.
            </p>
        </div>
        <img src="./images/repair.png" alt="" class="job--page-content-image-big">
        <div class="job--page-content-second-column">
            <p class="job--page-content-text">
                Потім, коли все було ретельно очищено, почався процес збирання оптики, але тепер брав участь уже новий модуль світла
                Hella 3, який укомплектували лампами Osram Classic.
            </p>
            <p class="job--page-content-text">
                Після того, як все було закріплено в корпусі фари, майстри сервісу приклеїли шибки на новий герметичний шов. І оптику
                відставили на час застигання герметика.
            </p>
            <p class="job--page-content-text">
                Коли герметик застиг майстра сервісу знову взялися за фари, цього разу треба було перевірити чи не з'явилися передумови
                появи внутрішнього конденсату через те, що фари розбиралися-збиралася.
            </p>
            <p class="job--page-content-text">
                Після закінчення перевірки і не знаходження явних причин, які можуть давати запотівання фар, оптику встановили назад на
                автомобіль.
            </p>
            <ul class="job--page-content-images-list correct-margin">
                <li>
                    <img src="./images/Rectangle 23.png" alt="">
                </li>
                <li>
                    <img src="./images/Rectangle 23.png" alt="">
                </li>
            </ul>
            <div class="job--page-content-elements-grid margin" id="grid-slider-control">
                <div class="job--page-content-slider">
                    <p class="job--page-content-text">Підключили до штатної проводки і тепер потрібно було налаштувати світло нових лінз Hella біксенонів за допомогою
                    регулювального приладу для автомобільної оптики.</p>
                    <div class="job--page-content-elements-grid-nav-wrap">
                        <span class="job--page-content-slider-pages">
                            <span class="job--page-content-slider-pages-actual">1</span>/1</span>
                        <div class="job--page-content-nav-button-wrap">
                            <button class="job--page-content-nav-button active left">
                                <svg class="job--page-content-nav-button-icon">
                                    <use href="./images/icons.svg#arrow-left"></use>
                                </svg>
                            </button>
                            <button class="job--page-content-nav-button right">
                                <svg class="job--page-content-nav-button-icon">
                                    <use href="./images/icons.svg#arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="job--page-content-slider-list" id="grid-slider-list">
                    <li>
                        <img src="./images/job-done-1.png" alt="">
                    </li>
                    <li>
                        <img src="./images/job-done-2.png" alt="">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="job--page-content container">
        <div>
            <span class="job--page-content-secondary-text">Після ремонту</span>
            <p class="job--page-content-text">Майстри сервісу вирішили зробити вимірювання потужності світлового потоку за
                допомогою окремих приладів, а також зробити
                проекцію на екран полотно</p>
        </div>
        <ul class="job--page-content-elements-grid">
            <li>
                <img src="./images/diagnostic-1.png" alt="">
            </li>
            <li>
                <img src="./images/diagnostic-2.png" alt="">
            </li>
            <li>
                <img src="./images/diagnostic-3.png" alt="">
            </li>
        </ul>
    </div>
    <div class="job--page-content container">
        <div>
            <h3>Результат</h3>
            <p class="job--page-content-secondary-text margin">Встановлення біксенонових лінз у фари автомобіля</p>
            <button class="job-page--hero-button margin">
                Замовити прорахунок
            </button>
            <button class="job-page--more-inf">
                Замовити прорахунок
            </button>
        </div>
        <div>
            <div class="job--page-grid-table-title">
                <p class="job--page-content-secondary-text">Автомобіль</p>
                <span class="job--page-content-text no-margin">Mercedes-Benz</span>
                <span class="job--page-content-text-price">ML 6.3 w164</span>
            </div>
            <div class="job--page-grid-table">
                <p class="job--page-content-secondary-text">Проведені роботи</p>
                <ul>
                    <li>
                        <p class="job--page-content-text">Робота із заміни лінз</p>
                        <span class="job--page-content-text-price">6.000 грн</span>
                    </li>
                    <li>
                        <p class="job--page-content-text">Комплект лінз Hella 3</p>
                        <span class="job--page-content-text-price">2.600 грн</span>
                    </li>
                    <li>
                        <p class="job--page-content-text">Лампи Osram Classic</p>
                        <span class="job--page-content-text-price">3.800 грн</span>
                    </li>
                    <li>
                        <p class="job--page-content-text total">Загальна вартість</p>
                        <span class="job--page-content-text-price">6.000 грн</span>
                    </li>
                </ul>
            </div>
            <li class="blog-article--tags">
                <h3></h3>
                <div>
                    <ul>
                        <li>
                            <a href="">Ремонт фар Київ</a>
                        </li>
                        <li>
                            <a href="">Заміна лінз у фарах</a>
                        </li>
                        <li>
                            <a href="">Ремонт фар Mercedes</a>
                        </li>
                        <li>
                            <a href="">Установка лінз фар Mercedes</a>
                        </li>
                        <li>
                            <a href="">Вартість установки лінз фар</a>
                        </li>
                        <li>
                            <a href="">Установка лінз hella фари</a>
                        </li>
                        <li>
                            <a href="">Вартість заміни лінз фар</a>
                        </li>
                        <li>
                            <button>
                                <span>Більше</span>
                                <svg>
                                    <use href="./images/icons.svg#left"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </li>
        </div>
    </div>
    <div class="blog-article--correct-item container">
        <h3>Більше виконаних робіт</h3>
        <ul class="blog-article--comleted-works">
            <li class="blog-article--comleted-works-cart" id="blog-article--comleted-works-cart">
                <div class="blog-article--comleted-works-cart-image-wrap">
                    <div class="section-about-light--star-icon">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/1.png" alt="">
                </div>
                <h4>
                    Внутрішнє чищення фар Opel Insignia з поліруванням скла
                </h4>
                <p>
                    В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не
                    виняток оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє
                    покриття
                    і власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.
                </p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="blog-article--comleted-works--tag-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    Шліфування та полірування автомобільних фар
                    <div class="text"></div>
                </a>
            </li>
            <li class="blog-article--comleted-works-cart" id="blog-article--comleted-works-cart">
                <div class="blog-article--comleted-works-cart-image-wrap">
                    <div class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/2.png" alt="">
                </div>
                <h4>
                    ПОЛИРОВКА ФАР FORD FOCUS
                </h4>
                <p>
                    В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не
                    виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє
                    покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.
                </p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="blog-article--comleted-works--tag-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    Шліфування та полірування автомобільних фар
                    <div class="text"></div>
                </a>
            </li>
            <li class="blog-article--comleted-works-cart" id="blog-article--comleted-works-cart">
                <div class="blog-article--comleted-works-cart-image-wrap">
                    <div class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/2.png" alt="">
                </div>
                <h4>
                    ПОЛИРОВКА ФАР FORD FOCUS
                </h4>
                <p>
                    В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не
                    виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє
                    покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.
                </p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="blog-article--comleted-works--tag-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    Шліфування та полірування автомобільних фар
                    <div class="text"></div>
                </a>
            </li>
        </ul>
    </div>
</div>