.catalog-page .section-about-light--list-item {
    background-color: #0A0A0A;

    transition-property: background-color, border;
    transition-duration: 500ms;
    transition-delay: 0;

    &:hover,
    :focus {
        background-color: #FFFFFF1A;
    }

    &:nth-child(7n),
    &:nth-child(8n){
        margin-top: 80px;
    }
}

.catalog-page .section-about-light--list{
    margin-top: 24px;

    @media (max-width: 767px) {
        display: none;
    }
}

.catalog-page .section-nore-jobs--list{
    display: none;

    @media (max-width: 767px) {
        display: block;
        margin: auto;
        margin-top: 24px;
        width: 350px;

        & li{
            max-width: 350px;
            background-color: #0A0A0A;
            border-radius: 15px;

            &:not(:first-child){
                margin-top: 32px;
            }
        }
    }
}

.catalog-page--pages-nav{
    display: flex;
    justify-content: center;
    margin-top: 80px;

    & li{
        &:not(:first-child){
            margin-left: 15px;
        }
    }

    & button{
        width: 40px;
        height: 40px;
        background-color: #212223;
        border: 2px solid #212223;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: #FFFFFF;

        transition-property: border;
        transition-duration: 500ms;
        transition-delay: 0;

        &:hover,
        &:focus{
            border: 2px solid #FFFFFF;
        }

        &.active{
            border: 2px solid #FFFFFF;
            background-color: #FFFFFF;
            color: #0A0A0A;
        }
    }

    & svg{
        display: block;
        width: 10px;
        height: 10px;    
        stroke: #FFFFFF;
    }
}

.catalog-page--filter{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media (max-width: 767px) {
        grid-template-columns: 100%;
        gap: 16px;
    }

    & button{
        border: 1px solid rgba(255, 255, 255, 0.1);
        background-color: #212223;
        display: flex;
        align-items: center;
        border-radius: 10px;
        padding: 35px 32px;

        @media (max-width: 767px) {
            padding: 21px 16px;
        }

        & span{
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.02em;
            color: #8A8A9C;
            text-align: left;
            display: block;
            max-width: 480px;
        }

        & p{
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            letter-spacing: 0.03em;
            color: #FFFFFF;
            margin-top: 5px;
            text-align: left;
            max-width: 480px;

            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 22px;
                letter-spacing: 0.01em;
            }
        }
    }
}

.catalog-page--fiter-theme{
    grid-column-start: 1;
    grid-column-end: 3;

    @media (max-width: 767px) {
        grid-column-end: 2;
    }

    @media (min-width: 768px) and (max-width: 1399px) {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}

.catalog-page--clear-filter{
    justify-content: center;
    align-items: center;

    @media (max-width: 1399px) {
        grid-row-start: 5;
        grid-row-end: 6;
    }

    @media (min-width: 768px) and (max-width: 1399px) {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    & svg{
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

}

#catalog-page--clear-filter-text{
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    position: relative;
    margin: 0;

    &::after {
        content: "";
        width: 100%;
        height: 1px;
        display: block;
        background-color: #FFFFFF;
        position: absolute;
        left: 0;
        bottom: -3px;

        @media (max-width: 767px) {
            display: none;
        }
    }
}

.catalog-page--themes-list{
    grid-column-start: 1;
    grid-column-end: 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;

    @media (max-width: 1399px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        grid-column-end: 2;
    }

    & li{
        
        border-radius: 10px;

        & button{
            padding: 0;
            width: 100%;
            height: 120px;
            background-color: #0A0A0A;
            border: 2px solid #0A0A0A;
            border-radius: 10px;
            padding-left: 32px;
            justify-content: space-between;
            align-items: center;
            position: relative;

            transition-property: background-color, border;
            transition-duration: 500ms;
            transition-delay: 0;

            @media (max-width: 767px) {
                padding-left: 16px;
                height: 100px;
            }

            &:hover{
                background-color: #212223;
                border: 2px solid rgba(255, 255, 255, 0.1);
            }
        }

        & p{
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            max-width: 164px;
            margin: 0;

            @media (max-width: 767px) {
                font-size: 12px;
                line-height: 18px;
                max-width: 108px;
                font-weight: 400;
                letter-spacing: 0.02em;
                align-self: flex-start;
                margin-top: 14px;
            }
        }

        & img{
            max-width: 94px;
            height: auto;

            @media (max-width: 767px) {
                max-width: 48px;
                position: relative;
            }

            &.correct{
                height: 100%;
               max-width: fit-content;
               position: absolute;
               top: 0;
               right: 0;
            }
        }

        & a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: #212223;
            border: 2px solid rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            text-align: center;

            transition-property: background-color;
            transition-duration: 500ms;
            transition-delay: 0;

            &:hover{
                background-color: transparent;
            }
        }
    }
}

.catalog-page--marks-wrap{
    grid-column-start: 1;
    grid-column-end: 5;

    @media (max-width: 767px) {
        grid-column-end: 2;
    }

    & input{
        width: 100%;
        outline: none;
        border: none;
        background-color: transparent;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        border-bottom: 1.5px solid #ACACAC;

        &::placeholder{
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.05em;
            color: #ACACAC;
        }
    }

    & span{
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #8A8A9C;
        margin-top: 24px;
        margin-bottom: 8px;
        display: block;
    }
}

.catalog-page--auto-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;

    @media (max-width: 1399px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    & li {

        border-radius: 10px;
        overflow: hidden;
        position: relative;

        & button {
            padding: 0;
            width: 100%;
            height: 120px;
            background-color: #0A0A0A;
            border: 2px solid #0A0A0A;
            border-radius: 10px;
            padding-left: 32px;
            justify-content: space-between;
            align-items: center;
            position: relative;

            transition-property: background-color, border;
            transition-duration: 500ms;
            transition-delay: 0;

            @media (max-width: 767px) {
                height: 100px;
                padding-left: 16px;
            }

            &:hover {
                background-color: #212223;
                border: 2px solid rgba(255, 255, 255, 0.1);
            }
        }

        & p {
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #FFFFFF;
            max-width: 104px;

            @media (max-width: 767px) {
                font-size: 12px;
                line-height: 18px;
            }
        }

        & a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            background-color: #212223;
            border: 2px solid rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            text-align: center;
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0.01em;
            color: #FFFFFF;

            transition-property: background-color;
            transition-duration: 500ms;
            transition-delay: 0;

            &:hover {
                background-color: transparent;
            }
        }

        & svg{
            width: 56px;
            height: 56px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: -5px;
        }
    }
}

.catalog-page--input-wrap{
    padding: 20px 32px 32px;
    background-color: #212223;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    position: relative;

    @media (max-width: 767px) {
        padding: 16px;
    }

    & svg{
        display: none;

        @media (max-width: 767px) {
            display: block;
            width: 16px;
            height: 16px;
            position: absolute;
            right: 16px;
            top: 28px;
        }
    }
}

.catalog-page--filter-notification{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
    grid-column-start: 1;
    grid-column-end: 5;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background-color: #212223;

    @media (max-width: 767px) {
        grid-column-end: 2;
        padding: 16px;
    }

    &.hidden{
        display: none;
    }


    & p{
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        max-width: 480px;
        
        @media (max-width: 767px) {
            font-size: 12px;
            line-height: 18px;
        }
    }

    & img{
        width: 47px;
        height: 42px;
        display: block;

        @media (max-width: 767px) {
            width: 32px;
            height: 30px;
        }
    }
}

.catalog-page--hero{
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #0A0A0A;
    border-radius: 20px;
    margin-bottom: 80px;

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
        padding: 16px;
        margin-bottom: 64px;
    }
}

.catalog-page--hero-text{
    padding-left: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (max-width: 767px) {
        padding: 0;
        margin-top: 24px;
    }

    & p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #8A8A9C;
        letter-spacing: 0.05em;
        max-width: 440px;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -moz-box;
        display: -webkit-box;
        line-clamp: 3;
        box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        @media (max-width: 1399px) {
            font-size: 14px;
            line-height: 18px;
            margin-top: 24px;
        }

        @media (max-width: 767px) {
            display: none;
        }
    }

    & h3{
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #FFFFFF;
        margin-bottom: 40px;
        max-width: 440px;

        @media (max-width: 1399px) {
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.05em;
            margin-bottom: 0;
        }
    }

    & li{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 5px;
        background-color: #151617;
        padding: 8px 8px;
        display: block;
        width: fit-content;

        &:not(:first-child){
            margin-left: 5px;
        }
    }

    & ul{
        display: flex;
        margin-bottom: 15px;
    }
    
}

.catalog-page--hero-text .section--services-more{
    @media (max-width: 767px) {
        border: none;
        width: fit-content;
        margin-left: 0;
        margin-top: 24px;
        color: #8A8A9C;
    }
}

.catalog-page--hero-image{
    border-radius: 10px;
    overflow: hidden;
    
    & img{
        display: block;
        margin: 0;
        width: 100%;
        height: auto;
    }
}

.catalog-page--filter-car{
    @media (max-width: 1399px) {
        grid-row-start: 3;
        grid-row-end: 4;
    }

    @media (min-width: 768px) and (max-width: 1399px) {
        grid-column-start: 1;
        grid-column-end: 5;
    }
}

.catalog-page .sort-page--title{
    pading-top: 80px;

    @media (max-width: 767px) {
        padding-top: 64px;
    }
}