<div class="page-title">
    <div class="container">
        <div class="page-title--navigation">
            <ul class="bread-crumbs">
                <li>
                    <a href="/">
                        <svg>
                            <use href="./images/icons.svg#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">Послуги</a>
                </li>
            </ul>
            <a href="" class="page-title--back">
                <svg>
                    <use href="./images/icons.svg#left"></use>
                </svg>
                Назад
            </a>
        </div>
        <h2>Послуги</h2>
    </div>
</div>
<div class="services-page">
    <div class="container">
        <ul class="services-page--list"> 
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-02.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Заміна скла автомобильних фар</h3>
                        <p>
                            Якщо у вашого автомобіля розбита фара, то не варто зневірятися. Наші фахівці, можливо, зможуть вам допомогти. Не
                            варто
                            спочатку купувати фару на розбиранні або нову в офіційних сервісах вашої марки автомобіля. Наш сервіс допоможе
                            заощадити
                            гроші та відновити розбиту автомобільну оптику.
                        
                            Наш сервіс автосвітла має у своєму розпорядженні різні стекла до автомобільної оптики. І легко здійснить заміну
                            розбитого скла фари на нове скло.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <!-- <img src="./images/+.svg" alt="" class="footer--icon-minus"> -->
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-02.png" alt="">
                </div>
            </li>
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-03.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Регулювання фар на лазерно-оптичному обладнанні</h3>
                        <p>
                            Після будь-якого ремонту фар автомобіля або заміни автоламп рекомендується точне налаштування світла автомобіля. Існує
                            маса способів відрегулювати світла фар автомобіля: від інструкції в інтернеті, як перевірити та провести регулювання фар
                            автомобіля самостійно, до спеціальних пропозицій автомайстерень та СТО з різним обладнанням перевірки та калібрування
                            світла автомобільної оптики.
                            
                            Технічний сервіс автомобільного світла Сar Light Design пропонує своїм клієнтам зробити тонке налаштування роботи
                            ближнього та далекого світла автомобіля на пристрої для перевірки та калібрування фар "W.T. Engineering S.r.l.", з
                            лазерним візиром та цифровим люксметром.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <!-- <img src="./images/+.svg" alt="" class="footer--icon-minus"> -->
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-03.png" alt="">
                </div>
            </li>
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-04.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Led технології центрального стоп сигналу (CHMSL)</h3>
                        <p>
                            Фахівці сервісу автосвітла Сar Light Design, проаналізувавши статистику поводження з проблемами перегорання автоламп, в
                            центральному стоп-сигналі (CHMSL) в автомобілях бюджетної комплектації, де встановлені автолампи марок - W3W, W5W, W16W,
                            W21W, R10W визначили закономірність кузови автомобіля - універсал, хетчбек.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <!-- <img src="./images/+.svg" alt="" class="footer--icon-minus"> -->
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-04.png" alt="">
                </div>
            </li>
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-05.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Послуги кваліфікованого автоелектрика</h3>
                        <p>
                            Якщо у автомобіля проблеми з авто електронікою чи щось нормально не функціонує, через збій електричних систем
                            автомобіля. Тож звернувшись до нас на сервіс, електрик проведе діагностику неполадок електричних ланцюгів автомобіля.
                            Визначає програмне забезпечення, записані помилки в бортовому комп'ютері автомобіля. Для розуміння першопричини виходу з
                            ладу того чи іншого вузла автомобіля.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <!-- <img src="./images/+.svg" alt="" class="footer--icon-minus"> -->
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-05.png" alt="">
                </div>
            </li>
        </ul>
        <ul class="services-page--list">
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-06.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Заміна скла автомобильних фар</h3>
                        <p>
                            Якщо у вашого автомобіля розбита фара, то не варто зневірятися. Наші фахівці, можливо, зможуть вам
                            допомогти. Не
                            варто
                            спочатку купувати фару на розбиранні або нову в офіційних сервісах вашої марки автомобіля. Наш
                            сервіс допоможе
                            заощадити
                            гроші та відновити розбиту автомобільну оптику.
        
                            Наш сервіс автосвітла має у своєму розпорядженні різні стекла до автомобільної оптики. І легко
                            здійснить заміну
                            розбитого скла фари на нове скло.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <!-- <img src="./images/+.svg" alt="" class="footer--icon-minus"> -->
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-06.png" alt="">
                </div>
            </li>
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-07.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Регулювання фар на лазерно-оптичному обладнанні</h3>
                        <p>
                            Після будь-якого ремонту фар автомобіля або заміни автоламп рекомендується точне налаштування світла
                            автомобіля. Існує
                            маса способів відрегулювати світла фар автомобіля: від інструкції в інтернеті, як перевірити та
                            провести регулювання фар
                            автомобіля самостійно, до спеціальних пропозицій автомайстерень та СТО з різним обладнанням
                            перевірки та калібрування
                            світла автомобільної оптики.
        
                            Технічний сервіс автомобільного світла Сar Light Design пропонує своїм клієнтам зробити тонке
                            налаштування роботи
                            ближнього та далекого світла автомобіля на пристрої для перевірки та калібрування фар "W.T.
                            Engineering S.r.l.", з
                            лазерним візиром та цифровим люксметром.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-07.png" alt="">
                </div>
            </li>
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-08.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Led технології центрального стоп сигналу (CHMSL)</h3>
                        <p>
                            Фахівці сервісу автосвітла Сar Light Design, проаналізувавши статистику поводження з проблемами
                            перегорання автоламп, в
                            центральному стоп-сигналі (CHMSL) в автомобілях бюджетної комплектації, де встановлені автолампи
                            марок - W3W, W5W, W16W,
                            W21W, R10W визначили закономірність кузови автомобіля - універсал, хетчбек.
                        </p>
                        <a href="" class="section--services-more">Детальніше</a>
                    </div>
                    <img src="./images/bground-small/bg-img-08.png" alt="">
                </div>
            </li>
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-09.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Послуги кваліфікованого автоелектрика</h3>
                        <p>
                            Якщо у автомобіля проблеми з авто електронікою чи щось нормально не функціонує, через збій
                            електричних систем
                            автомобіля. Тож звернувшись до нас на сервіс, електрик проведе діагностику неполадок електричних
                            ланцюгів автомобіля.
                            Визначає програмне забезпечення, записані помилки в бортовому комп'ютері автомобіля. Для розуміння
                            першопричини виходу з
                            ладу того чи іншого вузла автомобіля.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-09.png" alt="">
                </div>
            </li>
        </ul>
        <ul class="services-page--list">
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-10.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Заміна скла автомобильних фар</h3>
                        <p>
                            Якщо у вашого автомобіля розбита фара, то не варто зневірятися. Наші фахівці, можливо, зможуть вам
                            допомогти. Не
                            варто
                            спочатку купувати фару на розбиранні або нову в офіційних сервісах вашої марки автомобіля. Наш
                            сервіс допоможе
                            заощадити
                            гроші та відновити розбиту автомобільну оптику.
        
                            Наш сервіс автосвітла має у своєму розпорядженні різні стекла до автомобільної оптики. І легко
                            здійснить заміну
                            розбитого скла фари на нове скло.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-10.png" alt="">
                </div>
            </li>
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-11.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Регулювання фар на лазерно-оптичному обладнанні</h3>
                        <p>
                            Після будь-якого ремонту фар автомобіля або заміни автоламп рекомендується точне налаштування світла
                            автомобіля. Існує
                            маса способів відрегулювати світла фар автомобіля: від інструкції в інтернеті, як перевірити та
                            провести регулювання фар
                            автомобіля самостійно, до спеціальних пропозицій автомайстерень та СТО з різним обладнанням
                            перевірки та калібрування
                            світла автомобільної оптики.
        
                            Технічний сервіс автомобільного світла Сar Light Design пропонує своїм клієнтам зробити тонке
                            налаштування роботи
                            ближнього та далекого світла автомобіля на пристрої для перевірки та калібрування фар "W.T.
                            Engineering S.r.l.", з
                            лазерним візиром та цифровим люксметром.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-11.png" alt="">
                </div>
            </li>
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-01.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Led технології центрального стоп сигналу (CHMSL)</h3>
                        <p>
                            Фахівці сервісу автосвітла Сar Light Design, проаналізувавши статистику поводження з проблемами
                            перегорання автоламп, в
                            центральному стоп-сигналі (CHMSL) в автомобілях бюджетної комплектації, де встановлені автолампи
                            марок - W3W, W5W, W16W,
                            W21W, R10W визначили закономірність кузови автомобіля - універсал, хетчбек.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-01.png" alt="">
                </div>
            </li>
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-12.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Послуги кваліфікованого автоелектрика</h3>
                        <p>
                            Якщо у автомобіля проблеми з авто електронікою чи щось нормально не функціонує, через збій
                            електричних систем
                            автомобіля. Тож звернувшись до нас на сервіс, електрик проведе діагностику неполадок електричних
                            ланцюгів автомобіля.
                            Визначає програмне забезпечення, записані помилки в бортовому комп'ютері автомобіля. Для розуміння
                            першопричини виходу з
                            ладу того чи іншого вузла автомобіля.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-12.png" alt="">
                </div>
            </li>
        </ul>
        <ul class="services-page--list">
            <li class="services-page--item">
                <img src="./images/bg-lights-small/bg-light-13.png" alt="" class="services-page--bg-image">
                <div class="services-page--service-wrap">
                    <div>
                        <h3>Заміна скла автомобильних фар</h3>
                        <p>
                            Якщо у вашого автомобіля розбита фара, то не варто зневірятися. Наші фахівці, можливо, зможуть вам
                            допомогти. Не
                            варто
                            спочатку купувати фару на розбиранні або нову в офіційних сервісах вашої марки автомобіля. Наш
                            сервіс допоможе
                            заощадити
                            гроші та відновити розбиту автомобільну оптику.
        
                            Наш сервіс автосвітла має у своєму розпорядженні різні стекла до автомобільної оптики. І легко
                            здійснить заміну
                            розбитого скла фари на нове скло.
                        </p>
                        <a href="" class="section--services-more">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </div>
                    <img src="./images/bground-small/bg-img-13.png" alt="">
                </div>
            </li>
        </ul>
    </div>
</div>