<!-- <div class="blog-article">

   
    
    
    
    <div class="job--page-content container">
        <div>
            <p class="job--page-content-text">Майстри сервісу вирішили зробити вимірювання потужності світлового потоку за
                допомогою окремих приладів, а також зробити
                проекцію на екран полотно</p>
        </div>
        <ul class="job--page-content-elements-grid margin-mob">
            <li>
                <img src="./images/diagnostic-1.png" alt="" class="small">
            </li>
            <li>
                <img src="./images/diagnostic-2.png" alt="">
            </li>
            <li class="full-line-desctop">
                <img src="./images/diagnostic-3.png" alt="" class="full-line-image">
            </li>
        </ul>
    </div>
    <div class="job--page-content container">
        <div>
            <p class="job--page-content-text">Майстри сервісу вирішили зробити вимірювання потужності світлового потоку за
                допомогою окремих приладів, а також зробити
                проекцію на екран полотно</p>
        </div>
        <ul class="job--page-content-elements-grid margin-mob">
            <li>
                <img src="./images/diagnostic-1.png" alt="" class="small">
            </li>
            <li>
                <img src="./images/diagnostic-2.png" alt="">
            </li>
            <li class="full-line-desctop">
                <img src="./images/diagnostic-3.png" alt="" class="full-line-image">
            </li>
        </ul>
    </div>
</div> -->

<div class="block-content">
    <div>
        <h3>Текст</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore
            magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <blockquote>
            <img src="./images/dotes.png" alt="">
            <p>Така процедура допоможе зберегти оптику в робочому стані на довгі
                роки
            </p>
        </blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et dolore
            magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
            Duis
            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        </p>
        <ol>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </li>
            <li>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore
                    magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat.
                    Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla <a class="block--text-link" href="">посилання</a>.
                </p>
            </li>
        </ol>
        <ul>
            <li>
                <svg>
                    <use href="./images/icons.svg#plus-one"></use>
                </svg>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor </p>
            </li>
            <li>
                <svg>
                    <use href="./images/icons.svg#plus-one"></use>
                </svg>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor </p>
            </li>
            <li>
                <svg>
                    <use href="./images/icons.svg#plus-one"></use>
                </svg>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor </p>
            </li>
        </ul>
        <ul>
            <li>
                <span>1.</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor </p>
            </li>
            <li>
                <span>2.</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor </p>
            </li>
            <li>
                <span>3.</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor </p>
            </li>
        </ul>
    </div>
</div>
<div class="four-text-blocks">
    <h3>Текст</h3>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla
            pariatur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla
            pariatur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla
            pariatur.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea
            commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla
            pariatur.</p>
    </div>
</div>
<div class="block-table">
    <div>
        <h3>Результат</h3>
        <p>Встановлення біксенонових лінз у фари автомобіля</p>
        <button class="job-page--hero-button margin">
            Замовити прорахунок
        </button>
        <button class="job-page--more-inf">
            Більше інформації
        </button>
    </div>
    <div>
        <div class="job--page-grid-table-title">
            <p class="job--page-content-secondary-text">Автомобіль</p>
            <span class="job--page-content-text no-margin">Mercedes-Benz</span>
            <span class="job--page-content-text-price table">ML 6.3 w164</span>
        </div>
        <div class="block-grid-table">
            <p>Проведені роботи</p>
            <ul>
                <li>
                    <p>Робота із заміни лінз</p>
                    <span>6.000 грн</span>
                </li>
                <li>
                    <p>Комплект лінз Hella 3</p>
                    <span>2.600 грн</span>
                </li>
                <li>
                    <p>Лампи Osram Classic</p>
                    <span>3.800 грн</span>
                </li>
                <li>
                    <p class="job--page-content-text total">Загальна вартість</p>
                    <span>6.000 грн</span>
                </li>
            </ul>
        </div>
        <div class="block-grid-table">
            <p>Підсумок</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore
                et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur
                sint
                occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <ul class="content-advantages-list">
            <li>
                <span>.01</span>
                <p>Поліпшення освітленості дороги – збільшена яскравість і ширина
                    променя, що освітлює узбіччя дороги</p>
            </li>
            <li>
                <span>.02</span>
                <p>Чітка світлотіньова межа - повністю відсутня сліпучий ефект</p>
            </li>
            <li>
                <span>.03</span>
                <p>Ефективний світлорозподіл - перед машиною немає яскравої світлової
                    плями, вся освітлена площа має однакову
                    яскравість</p>
            </li>
            <li>
                <span>.04</span>
                <p>Рівномірне освітлення дороги – у світловій плямі немає різких
                    контрастів, що чергуються</p>
            </li>
            <li>
                <span>.05</span>
                <p>Зменшується витрата рідини, що омиває - невелика температура на
                    покривному склі фари не висушує налиплий бруд
                </p>
            </li>
            <li>
                <span>.06</span>
                <p>Унікальний та стильний зовнішній вигляд Вашого автомобіля</p>
            </li>
            <li>
                <span>.07</span>
                <p>Зменшується витрата рідини, що омиває - невелика температура на
                    покривному склі фари не висушує налиплий бруд
                </p>
            </li>
        </ul>
        <blockquote>
            <img src="./images/dotes.png" alt="" id="dotes">
            <p>Така процедура допоможе зберегти оптику в робочому стані на довгі
                роки
            </p>
        </blockquote>
        <ul id="service--recomendations-list">
            <li class="service--recomendations-item">
                <div class="service--recomendations-item-title">
                    <h3>Комплект бі-ксенонових лінз № 1</h3>
                    <div class="section-questions--icon-wrap">
                        <svg class="section-questions--icon">
                            <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                            <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                        </svg>
                    </div>
                </div>
                <div class="service--recomendations-wrap">
                    <div>
                        <p class="service--recomendations-item-comlect">У комплекті:</p>
                        <ul>
                            <li>
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <div>
                                    <p>Біксенонові лінзи 2.5 дюйми</p>
                                    <span>Morimoto Mini H1 х2 шт.</span>
                                </div>
                            </li>
                            <li>
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <div>
                                    <p>Ксенонові лампи</p>
                                    <span>Galaxy H1 х2 шт.</span>
                                </div>
                            </li>
                            <li>
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <div>
                                    <p>Блоки розпалювання</p>
                                    <span>Galaxy 35w х2 шт.</span>
                                </div>
                            </li>
                            <li>
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <div>
                                    <p>Проведення для підключення бі-лінз</p>
                                </div>
                            </li>
                            <li>
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <div>
                                    <p>Маски декоративні для лінз х2 шт. на вибір,
                                        з ангельськими очима і без ангельських вічок</p>
                                </div>
                            </li>
                            <li>
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <div>
                                    <p>Маски декоративні для лінз х2 шт. на вибір,
                                        з ангельськими очима і без ангельських вічок</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <img src="./images/complect.png" alt="">
                    <div class="service--price-wrap">
                        <p id="service--price-name">Установочного комплекта
                            би-ксеноновых линз №1</p>
                        <p id="service--price">від 4200.00 грн. <span>*</span></p>
                        <button>
                            Авторизація
                        </button>
                    </div>
                    <p class="section-request--legal">
                        <span id="text-star">* </span>Ціна настановного комплекту лінз у фари, може змінюватись від
                        побажання
                        клієнта та
                        модифікації комплекту, а також від
                        курсу НБУ на момент придбання комплекту.</a>.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="block-with-gallery">
    <h3> </h3>
    <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <ul class="block-content-images-gallery horizontal-scroller">
            <li>
                <img src="./images/Rectangle 23.png" alt="">
            </li>
            <li>
                <img src="./images/Rectangle 23.png" alt="">
            </li>
        </ul>
        <ul class="block-content-images-gallery horizontal-scroller">
            <li>
                <img src="./images/Rectangle 23.png" alt="">
            </li>
            <li>
                <img src="./images/Rectangle 23.png" alt="">
            </li>
        </ul>
        <div class="grid-slider">
            <div class="grid-slider-content">
                <p>Підключили до штатної проводки і тепер потрібно було налаштувати
                    світло нових
                    лінз Hella біксенонів за допомогою
                    регулювального приладу для автомобільної оптики.</p>
                <div class="grid-slider-nav">
                    <span class="grid-slider-pointer">
                        <span class="grid-slider-pointer-current">1</span>
                        /
                        <span class="grid-slider-pointer-total">2</span>
                    </span>
                    <div class="grid-slider-nav-buttons-wrap">
                        <button class="grid-slider-nav-button active left">
                            <svg>
                                <use href="./images/icons.svg#arrow-left"></use>
                            </svg>
                        </button>
                        <button class="grid-slider-nav-button right">
                            <svg>
                                <use href="./images/icons.svg#arrow-right"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="grid-slider-list">
                <li>
                    <img src="./images/job-done-1.png" alt="">
                </li>
                <li>
                    <img src="./images/job-done-2.png" alt="">
                </li>
            </ul>
        </div>
        <div class="grid-text-img">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat..
            </p>
            <img src="./images/job-done-1.png" alt="">
        </div>
    </div>
</div>
<div class="block-content">
    <div></div>
    <div class="block--banner-slider">
        <ul class="block--banner-list">
            <li>
                <img src="./images/chevrolet.png" alt="">
            </li>
            <li>
                <img src="./images/chevrolet.png" alt="">
            </li>
            <li>
                <img src="./images/chevrolet.png" alt="">
            </li>
            <li>
                <img src="./images/chevrolet.png" alt="">
            </li>
        </ul>
        <div class="block--banner-contols">
            <button class="block--banner-contols-button left">
                <svg class="job--page-content-nav-button-icon">
                    <use href="./images/icons.svg#arrow-left"></use>
                </svg>
            </button>
            <span class="job--page-content-slider-pages">
                <span class="job--page-content-slider-pages-actual">1</span></span>
            <button class="block--banner-contols-button right">
                <svg class="job--page-content-nav-button-icon">
                    <use href="./images/icons.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</div>
<div class="block--banner-slider big">
    <ul class="block--banner-list">
        <li>
            <img src="./images/chevrolet.png" alt="">
        </li>
        <li>
            <img src="./images/chevrolet.png" alt="">
        </li>
        <li>
            <img src="./images/chevrolet.png" alt="">
        </li>
        <li>
            <img src="./images/chevrolet.png" alt="">
        </li>
    </ul>
    <div class="block--banner-contols">
        <button class="block--banner-contols-button left">
            <svg class="job--page-content-nav-button-icon">
                <use href="./images/icons.svg#arrow-left"></use>
            </svg>
        </button>
        <span class="job--page-content-slider-pages">
            <span class="job--page-content-slider-pages-actual">1</span></span>
        <button class="block--banner-contols-button right">
            <svg class="job--page-content-nav-button-icon">
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</div>
<div class="blocks--banner-image">
    <img src="./images/exsample-1.png" alt="">
</div>
<div class="block--two-columns container">
    <div class="block--two-columns_column">
        <p class="job--page-content-text lined">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image" data-change-height>
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image" data-change-height>
    </div>
    <div class="block--two-columns_column">
        <p class="job--page-content-text lined">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image" data-change-height>
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image" data-change-height>
    </div>
</div>
<div class="block-content">
    <div></div>
    <div class="block--two-columns_column">
        <p class="job--page-content-text lined">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image" data-change-height>
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image" data-change-height>
    </div>
</div>
<div class="block-content">
    <div></div>
    <div class="block--two-columns">
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image-norm" data-change-height>
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image-norm" data-change-height>
    </div>
</div>
<div class="block-content">
    <div></div>
    <div class="block--two-columns four">
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image-norm" data-change-height>
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image-norm" data-change-height>
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image-norm" data-change-height>
        <img src="./images/exsample-1.png" alt="" class="block--two-columns_image-norm" data-change-height>
    </div>
</div>
<div class="block-content">
    <div></div>
    <div>
        <p class="job--page-content-text lined">Тюнинг фар Ford Mustang Shelby GT500</p>
        <video class="block--video margin"></video>
        <video class="block--video"></video>
    </div>
</div>
<div class="block--video-full">
    <video class="block--video"></video>
</div>
<div class="block-content">
    <div>
        <span class="job--page-content-secondary-text">До ремонту</span>
        <p class="job--page-content-text">Майстри сервісу вирішили зробити вимірювання потужності світлового потоку за
            допомогою окремих приладів, а також зробити
            проекцію на екран полотно</p>
    </div>
    <ul class="job--page-content-elements-grid margin-mob">
        <li>
            <img src="./images/diagnostic-1.png" alt="" class="small">
        </li>
        <li>
            <img src="./images/diagnostic-2.png" alt="">
        </li>
        <li class="full-line">
            <img src="./images/diagnostic-3.png" alt="">
        </li>
    </ul>
</div>