<div class="blog-article">
    <div class="container">
        <ul class="offer-page--content">
            <li>
                <div>
                    <h3>Текст</h3>
                    <p class="job--page-content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                        <div class="offer-page-notification">
                            <img src="./images/dotes.png" alt="" id="dotes">
                            <p id="not">Така процедура допоможе зберегти оптику в робочому стані на довгі роки
                            </p>
                        </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                    </p>
                    <div class="offer-page--text-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis
                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis
                            aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla <a href="">посилання</a>.
                        </p>
                    </div>
                    <ul class="offer-page--plus-list">
                        <li>
                            <svg>
                                <use href="./images/icons.svg#plus-one"></use>
                            </svg>
                            <p id="not">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                        </li>
                        <li>
                            <svg>
                                <use href="./images/icons.svg#plus-one"></use>
                            </svg>
                            <p id="not">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                        </li>
                        <li>
                            <svg>
                                <use href="./images/icons.svg#plus-one"></use>
                            </svg>
                            <p id="not">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                        </li>
                    </ul><ul class="offer-page--plus-list">
                        <li>
                            <span>1.</span>
                            <p id="not">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                        </li>
                        <li>
                            <span>2.</span>
                      <p id="not">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                        </li>
                        <li>
                            <span>3.</span>
                            <p id="not">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor </p>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>Текст</h3>
                <div class="">

                </div>
            </li>
        </ul>
    </div>
</div>