<div class="page-title">
    <div class="container">
        <div class="page-title--navigation">
            <ul class="bread-crumbs">
                <li>
                    <a href="/">
                        <svg>
                            <use href="./images/icons.svg#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">Блог</a>
                </li>
                <li>
                    <a href="">Електрика</a>
                </li>
                <li>
                    <a href="">Інтенсивність світлового потоку. Що ж краще, галогенова оптика чи оптика з бі-лінзою?</a>
                </li>
            </ul>
            <div class="page-title--shadow"></div>
            <a href="" class="page-title--back">
                <svg>
                    <use href="./images/icons.svg#left"></use>
                </svg>
                Усі статті
            </a>
        </div>
        <h2>Блог</h2>
    </div>
</div>
<div class="blog-article">
    <div class="container">
        <div class="blog-article--image-wrap">
            <img src="./images/blog-bg.png" alt="">
        </div>
        <ul class="offer-page--content">
            <li>
                <h3>Інтенсивність світлового потоку. Що ж краще, галогенова оптика чи оптика з бі-лінзою?</h3>
                <div>
                    <p>Ви шукаєте, що легко можна встановити у фару автомобіля та миттєво покращити світло на дорожньому полотні? Але не завжди
                    можна просто покращити світло на дорозі, просто замінивши лампочки.
                    </p>
                    <p>Ми розповімо про необхідність встановлення біксенонових лінз у фару Вашого автомобіля. Ця стаття пояснить усі «за» та
                    «проти» установки білінз, не тільки для власників галогенової оптики, а й для власників уже з фарами моно або білінз.</p>
                    <div class="blog-article--text-indent">
                        <p>
                            Власники лінзованої оптики можуть запитати «навіщо ця інформація нам?». Відповідь: з кожним роком експлуатації фар
                            автомобіля заводська лінза вигоряє. Найчастіше це відбувається з галогеновою лінзою, в яку ставлять ксенонову лампочку.
                            За рахунок чого ресурс галогенової лінзи скорочується у два, а то й тричі.
                        </p>
                        <p>
                            Можна купити нові заводські фари, а можна просто поміняти заводські лінзи на бі-ксенонові лінзи і отримати світло краще,
                            ніж із заводу виробника.
                        </p>
                    </div>
                    <img src="./images/article-img-1.png" alt="">
                </div>
            </li>
            <li>
                <h3>Інтенсивність світлового потоку фар</h3>
                <div>
                    <p>Як мовиться: «Сила - це ніщо без керування» - то навіщо встановлювати HID у фарах без належного кріплення? Щоб захопити
                    та сфокусувати це потужне світло на керований шаблон променя та розкласти його по дорозі вперед? Без моно лінз чи
                    бі-ксенонових лінз – це просто неможливо! Білінзи є найважливішим компонентом, коли йдеться про оновлення фар, і через
                    величезне розмаїття доступних моделей, вибір одного часто може бути заплутаним.
                    </p>
                    <p>З різних марок, моделей, джерел і т.д. - єдине, що Ви повинні знати, це те, що незалежно від того, які лінзи Ви
                    використовуєте, Ваше світло буде не тільки виглядати краще, ніж «той хлопець» з дешевим комплектом HID ламп, але також
                    буде працювати значно краще! Зосередивши все доступне світло на дорозі, де воно Вам потрібне, замість того, щоб
                    розкидати його в несфокусованих краплях - простіше кажучи, Ваші фари яскравіше світять, коли у них є Білінзи.</p>
                    <p>
                        Коли настає час вибирати установку лінз для модернізації фари, є достатньо варіантів, щоб голова оберталася від
                        нерозуміння, що потрібно встановлювати! Але Ви не переживайте, команда Car Light Design завжди готова допомогти у
                        правильному виборі, наші майстри знають, який комплект необхідний саме Вашому автомобілю!
                    </p>
                    <p>
                        Що ж краще, галогенова оптика чи бі-ксенонові фари?
                    </p>
                </div>
            </li>
            <li>
                <h3>1. Вам потрібна бі-ксенонова лінза або галогенова фара з ближнім і далеким світлом?</h3>
                <div>
                    <p>Цей вибір залежить від того, як налаштовані ваші фари. Чи використовують вони одну лампу з двома нитками для створення
                    ближніх і далеких променів? Або, чи використовують одну лампу для ближнього світла, а іншу лампу для далекого світла?
                    Якщо в автомобілі використовуються дві лампи, ви можете використовувати ближнє світло або біксенонову лінзу. Якщо в
                    автомобілі використовується одна лампочка з подвійною ниткою, то для збереження повної функціональності ближніх і
                    далеких променів Вам необхідно використовувати біксенонову лінзу. Таким чином Ви не втрачаєте функціональність фари, але
                    про це отримуєте якісне світло, світло з біксеноновою лінзою покращується в 3-4 рази від того, що у Вас стоїть спочатку
                    у фарі!
                    </p>
                    <p>
                        Бі-лінза – лінза із двома функціональними режимами. Раніше ми говорили про те, як функціонує бі-лінза. Але нагадаємо, що
                        бі-лінза має дві функції – ближній та далекий в одному модулі. За рахунок чого вона працює? Все просто, в модулі
                        бі-лінзи знаходиться шторка, коли важелів перемикання відбувається на дальній, шторка опускається і зрізаний світловий
                        потік виривається на дорожньому полотні.
                    </p>
                </div>
            </li>
            <li>
                <h3>2. Встановлення бі-ксенонових лінз у фару автомобіля</h3>
                <div>
                    <p>
                        Звичайно можна самостійно зробити всю установку лінз у фару Вашого автомобіля. Але, встановлення лінз потребує певних
                        знань та вправності!
                    </p>
                    <p>
                        Увага! Команда Car Light Design рекомендує звернутися до професіоналів із встановлення лінз у фари автомобіля.
                    </p> 
                    <p>
                        Для того, щоб встановити бі-лінзи у фари авто потрібно знати функціональність лінз. Кожна лінза видає свій світловий
                        потік із певними нюансами. Також необхідно розуміти фактичні розміри фари автомобіля. Адже не кожна фара може помістити
                        досить великий модуль бі-лінзи!
                    </p>  
                    <p>
                        - що вимагає значного обсягу різання, їх складніше правильно вирівняти. Приклади включають FX-R, TL, TSX, S2K, RX330,
                        LS430 і т.д.
                    </p>                 
                </div>
            </li>
            <li>
                <h3>Морімото Міні</h3>
                <div>
                    <p>
                        - (H1 та D2S), де тримач лампи подвоюється як монтажний вал. Цей різьбовий вал проходить через отвір у вашому відбивному
                        ковші (де проходить галогенна лампа) і затискається різноманітним обладнанням. Набагато простіше встановити та
                        вирівняти.
                    </p>
                    <p>
                        Ці варіанти одні з небагатьох, що можуть зустрітися у світі автомобільного світла.
                    </p>
                    <img src="./images/article-img-2.png" alt="">
                </div>
            </li>
            <li>
                <h3>3. Розрахунок фар автомобіля</h3>
                <div>
                    <p>
                        Говорячи про розмір фар, ми маємо на увазі розміри хромованого відбивача вільної форми, в якому буде встановлено
                        проектор.
                    </p>
                    <p>
                        Великі фари:
                    </p>
                    <p>
                        - Не турбуйтесь про розміри занадто багато, Ви можете, мабуть, модифікувати щось від крихітного Morimoto Mini до
                        великого проектора Lexus LS430. Деякі приклади автомобілів з відбивачами фар, які ми вважаємо великими, є Toyota Tacoma,
                        Dodge Ram, Honda CR-V, Chevy Cobalt. Багато позашляховиків і навіть деякі автомобілі мають «великі» фари. Навіть якщо Ви
                        хочете модифікувати щось легке для встановлення, наприклад, Morimoto Mini, не дозволяйте слову «mini» відштовхувати Вас,
                        тому що Ви думаєте, що він виглядатиме маленьким усередині вашої великої фари. Закінчений зовнішній вигляд
                        модифікованого пристрою не відрізнятиметься від того, який був би у більшого проектора.
                    </p>
                    <p>
                        Маленькі фари:
                    </p>
                    <p>
                        - Загалом ширина відбивачів фар не викликає особливого занепокоєння, але висота профілю та глибина деяких корпусів фар
                        може завадити Вам використовувати великий проектор. Morimoto Mini не тільки хороші для людей, які хочуть щось легко
                        встановити, але вони також чудово підходять для дообладнання відносно невеликі фари. Навіть якщо вам зручніше вирізати
                        та робити інші модифікації – іноді Morimoto Mini може бути єдиним варіантом відповідного розміру незалежно. Більшість
                        відбивачів з великими пучками теж малі, тому у разі чотирьох ступінчастої модифікації міні завжди роблять гарний вибір,
                        принаймні для вторинного проектора. Деякі приклади автомобілів з невеликими фарами: Pontiac Grand Prix, Old Chevy Tahoe,
                        герметичні лампи, восьма Gen Honda Civic і т.д.
                    </p>
                </div>
            </li>
            <li>
                <h3>4. Рівень продуктивності біксенонових лінз</h3>
                <div>
                    <p>
                        Якщо Вам потрібен найширший, яскравіший, гостріший і рівномірно розподілений промінь світла перед вашим автомобілем,
                        нерозумно чекати таких речей від чогось іншого, крім кращих із кращих у проекційній оптиці. Немає жодних сумнівів у
                        тому, що щось подібне до великого, дорогого Lexus LS430 або Acura TL проектора вийде з ладу Morimoto mini у багатьох
                        відношеннях - але в той же час, це буде коштувати Вам набагато більше грошей, вимагатиме тонну додаткової роботи для
                        встановлення, і навіть не завжди відповідатиме незалежно від того, як Ви його поставите. В іншому напрямку, проектор
                        Morimoto від TRS запакує величезний удар, якщо врахувати його ціну, універсальність та простоту його модернізації у
                        фарах. Оскільки осторонь, тільки тому, що лінза коштує дорого і вимагає серйозної операції по встановленню, це не
                        обов'язково означає, що він виконуватиме «легку установку», таку як Morimoto Mini. Наприклад, низька ефективність
                        променя від проектора Acura TSX навряд чи краща, ніж у Morimoto, але вони коштують вдвічі більше і вдвічі більше часу
                        для модернізації. Часто наші пропоновані лінзи післяпродажного виробництва навіть перевершують OEM виробників. Сучасні
                        європейські автомобілі, оснащені фарами ZKW, Bosch та Hella, часто висвітлюються модернізованими моримото, оснащеними
                        HID китами.
                    </p>
                    <p>
                        Просто пам'ятайте, це називається дообладнанням через. Момент модернізації – взяти лінзу з бажаними вихідними
                        характеристиками та модифікувати ваші фари (наскільки це залежить від Вас), щоб зробити його придатним.
                    </p>
                    <p>
                        Звичайно, професіонали своєї справи зможуть встановити великі розміри бі-лінз навіть у найпроблемніші фари з маленькими
                        розмірами. Питання вправи та накопичених знань, досвід в установці завжди перемагає труднощі. Правда полягає в тому, що
                        справді завод виробник не завжди випускає автомобілі з якісним світлом, і так, заміна заводських лінз - це набагато
                        дешевше, ніж покупка альтернативної оптики.
                    </p>
                    <div class="blog-article--buttons-wrap">
                        <button>
                            <span>Корисна інформація</span>
                            <svg>
                                <use href="./images/icons.svg#like"></use>
                            </svg>
                            <div id="anim-1"></div>
                        </button>
                        <button>
                            <span>Додати до обраних</span>
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                            <div id="anim-2"></div>
                        </button>
                    </div>
                </div>
            </li>
            <li class="blog-article--tags">
                <h3></h3>
                <div>
                    <ul>
                        <li>
                            <a href="">Ремонт фар Київ</a>
                        </li>
                        <li>
                            <a href="">Заміна лінз у фарах</a>
                        </li>
                        <li>
                            <a href="">Ремонт фар Mercedes</a>
                        </li>
                        <li>
                            <a href="">Установка лінз фар Mercedes</a>
                        </li>
                        <li>
                            <a href="">Вартість установки лінз фар</a>
                        </li>
                        <li>
                            <a href="">Установка лінз hella фари</a>
                        </li>
                        <li>
                            <a href="">Вартість заміни лінз фар</a>
                        </li>
                        <li>
                            <button>
                                <span>Більше</span>
                                <svg>
                                    <use href="./images/icons.svg#left"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <h3>Запит</h3>
                <div>
                    <p class="contacts--text">
                    Для запису звертайтесь за номер телеофну або заповнюйте контакт форму
                    </p>
                    <form action="" class="contacts-page--form">
                        <input type="text" class="section-request--user-data" placeholder="Імʼя">
                        <input type="text" class="section-request--user-data" placeholder="Номер телефону">
                        <textarea name="" id="" cols="30" rows="10" placeholder="Запит"
                            class="section-request--request-text"></textarea>
                        <p class="section-request--legal">
                            <span id="text-star">* </span> Заповніть обов’язково поля Імʼя та Номер телефону, або <a href="">авторизуйтесь на
                                сайті</a> для автозаповення персональних даних.
                            Надсилаючи цю форму, ви погоджуєтеся з <a href="">Політикою конфіденційності</a> та <a href="">Умовами
                            використання</a>.
                        </p>
                        <button class="section-request--submit">Надіслати запит</button>
                    </form>
                </div>
            </li>
        </ul>
    </div>
    <div class="blog-article--correct-item container">
        <h3>Виконані роботи з
            різних варіантів встановлення лінз</h3>
        <ul class="blog-article--comleted-works horizontal-scroller">
            <li class="blog-article--comleted-works-cart" id="blog-article--comleted-works-cart">
                <div class="blog-article--comleted-works-cart-image-wrap">
                    <div class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/1.png" alt="">
                </div>
                <h4>
                    Внутрішнє чищення фар Opel Insignia з поліруванням скла
                </h4>
                <p>
                    В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не
                    виняток оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.
                </p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="blog-article--comleted-works--tag-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    Шліфування та полірування автомобільних фар
                    <div class="text"></div>
                </a>
            </li>
            <li class="blog-article--comleted-works-cart" id="blog-article--comleted-works-cart">
                <div class="blog-article--comleted-works-cart-image-wrap">
                    <div class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/2.png" alt="">
                </div>
                <h4>
                    ПОЛИРОВКА ФАР FORD FOCUS
                </h4>
                <p>
                    В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не
                    виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.
                </p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="blog-article--comleted-works--tag-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    Шліфування та полірування автомобільних фар
                    <div class="text"></div>
                </a>
            </li>
            <li class="blog-article--comleted-works-cart" id="blog-article--comleted-works-cart">
                <div class="blog-article--comleted-works-cart-image-wrap">
                    <div class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/2.png" alt="">
                </div>
                <h4>
                    ПОЛИРОВКА ФАР FORD FOCUS
                </h4>
                <p>
                    В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не
                    виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.
                </p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="blog-article--comleted-works--tag-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    Шліфування та полірування автомобільних фар
                    <div class="text"></div>
                </a>
            </li>
        </ul>
        <div class="section-more-jobs--mobile-nav-buttons">
            <button class="more">
                <svg>
                    <use href="./images/icons.svg#refresh"></use>
                </svg>
                Більше робіт
            </button>
            <div>
                <button class="left">
                    <svg>
                        <use href="./images/icons.svg#preworius"></use>
                    </svg>
                </button>
                <button class="right">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>