.service--hero-wrap{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: max(560px) max(736px);
    height: fit-content;
    background-color: #0A0A0A;
    border-radius: 20px;
    
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 1399px) {
        display: block;
        padding: 32px;
    }

    & h2{
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 52px;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 460px;

        @media (max-width: 1399px) {
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            letter-spacing: 0.05em;
        }
    }

    &.one{
        background-image: url('./images/bg-lights/lights-bg.png');
    }
    &.two{
        background-image: url('./images/bg-lights/lights-bg (1).png');
    }
    &.three{
        background-image: url('./images/bg-lights/lights-bg (2).png');
    }
    &.four{
        background-image: url('./images/bg-lights/lights-bg (3).png');
    }
    &.five{
        background-image: url('./images/bg-lights/lights-bg (4).png');
    }
    &.six{
        background-image: url('./images/bg-lights/lights-bg (5).png');
    }
    &.seven{
        background-image: url('./images/bg-lights/lights-bg (6).png');
    }
    &.eight{
        background-image: url('./images/bg-lights/lights-bg (7).png');
    }
    &.nine{
        background-image: url('./images/bg-lights/lights-bg (8).png');
    }
    &.ten{
        background-image: url('./images/bg-lights/lights-bg (9).png');
    }
    &.eleven{
        background-image: url('./images/bg-lights/lights-bg (10).png');
    }
    &.twelve{
        background-image: url('./images/bg-lights/lights-bg (11).png');
    }
    &.thirteen{
        background-image: url('./images/bg-lights/lights-bg (12).png');
    }

    &.hidden{
        display: none;
    }
}

.service--hero-bg{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    top: 0;
    right: 0;
}

.service--hero-text{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 80px;

    @media (max-width: 767px) {
        padding: 0;
    }
}

.service--hero-img{
    width: 100%;
    height: auto;

    @media (max-width: 1399px) {
        width: calc(100% + 32px);
    }
}

.service--hero-button{

    width: 72px;
    height: 72px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    background-color: transparent;
    background-color: #151617;
    display: flex;
    align-items: center;
    justify-content: center;

    transition-property: border-color;
    transition-duration: 500ms;
    transition-duration: 0;

    @media (max-width: 767px) {
        width: 38px;
        height: 38px;
    }

    &:hover{
        border: 2px solid #FFFFFF;
    }



    & svg{
        width: 24px;
        height: 16px;
    }
}

.service--hero-button-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 96px;
    height: 96px;
    border-radius: 100%;
    background-color: #0A0A0A;
    position: absolute;
    bottom: 50%;
    z-index: 99;

    @media (max-width: 767px) {
        width: 48px;
        height: 48px;
    }

    &.left{
        left: 0;
        transform: translate(25%, 50%);

        @media (max-width: 767px) {
            left: -12px;
        }

    }

    &.right{
        right: 0;
        transform: translate(-25%, 50%);

        @media (max-width: 767px) {
            right: -12px;
        }
    }

    & svg{
        display: block;
    }

    
}

.service--hero{
    position: relative;
}

.service--content{
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
}

#service--content-advantages-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 80px;

    @media (max-width: 767px) {
        display: block;
    }

    & li{
        display: block;
        padding: 24px;
        background-color: #0A0A0A;
        border-radius: 20px;


        &:not(:first-child) {
                margin-top: 0;

                @media (max-width: 767px) {
                    margin-top: 16px;
                }
            }
    }

    & span{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #F1DD23;
        display: inline-block;
        width: fit-content;

        @media (max-width: 767px) {
            font-size: 18px;
            line-height: 28px;
        }
    }

    & p{
        padding-top: 24px;
        margin-top: 40px;
        border-top: 2px solid #8A8A9C;

        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 24px;
            margin-top: 24px;
        }
    }
}

#service--recomendations-list{
    margin-top: 90px;
   

    & li{
        width: 100%;
        display: block;
        padding-bottom: 30px;
        border-bottom: 1px solid #8A8A9C;

        &:not(:first-child){
            margin-top: 40px;
        }

        & img {
            width: 100%;
            height: auto;
            margin: 0;
            display: block;

        }
    }

    & h3 {
        margin: 0;
        
        @media (max-width: 767px) {
            max-width: 240px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
        }
    }
    
    

    & ul{
        grid-column-start: 1;
        grid-column-end: 2;
        margin-top: 16px;

        & li{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            padding: 0;
            border: none;

            &:not(:first-child){
                margin-top: 14px;
            }

            & p{
                margin: 0;
                display: block;
                max-width: 450px;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }

            & span{
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
                display: block;
            }

            & svg{
                margin-right: 5px;
                margin-top: 7px;
                display: block;
                position: static;
            }
        }
    }
}

.service--recomendations-item-title{

    display: flex;
    align-items: center;

    & h3{
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0.05em;
        color: #FFFFFF;

        transition-property: color;
        transition-duration: 500ms;
        transition-delay: 0;

        &.active{
            color: #F1DD23;
        }

        @media (max-width: 767px) {
            font-size: 16px;
            line-height: 24px;
            margin-bottom: 0;
        }
    }

    &:hover,
    :focus {

        &>.section-questions--icon-wrap {
            background-color: #fff;

            &>.section-questions--icon {
                &>.section-questions--icon-plus {
                    stroke: #212223;
                }

                &>.section-questions--icon-minus {
                    stroke: transparent;
                }
            }
        }
    }

    &.active {

        &>.section-questions--icon-wrap {
            background-color: transparent;
            transform: rotate(90deg);

            transition-property: transform, background-color;
            transition-duration: 500ms;
            transition-delay: 0;

            &>.section-questions--icon {
                &>.section-questions--icon-plus {
                    stroke: transparent;
                }

                &>.section-questions--icon-minus {
                    stroke: #FFFFFF;
                }
            }
        }

        &>.section-questions--ansver {
            display: block;
            height: 96px;
            transition-property: height;
            transition-duration: 500ms;
            transition-delay: 0;
        }
    }

    
}

.service--recomendations-item-comlect{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    // margin-top: 40px;
}

.service--price-wrap{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 26px 36px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    gap: 40px;
    margin-top: 30px;

    transition-property: background-color;
    transition-duration: 500ms;
    transition-delay: 0;

    @media (max-width: 1399px) {
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: 0;
        max-width: 94%;
        padding: 16px;
    }

    &:hover{
        background-color: #212223;
    }

    & button{
        width: 100%;
        height: 48px;
        border-radius: 10px;
        border: 1.5px solid #F1DD23;
        background-color: #F1DD23;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #0A0A0A;

        transition-property: background-color, color;
        transition-duration: 500ms;
        transition-delay: 0;
    }
}

.service--recomendations-wrap .footer--icon-cross{
    fill: #F1DD23;
}

.service--price-wrap:hover button {
    background-color: transparent;
    color: #F1DD23;
}

#service--price-name{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;

    @media (max-width: 767px) {
        text-align: center;
        max-width: 300px;
    }
}

#service--price{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    margin-top: 0;

    & span{
        color: #F1DD23;
        margin: 0;
        display: inline;
    }
}

#service--recomendations-list .section-request--legal{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    margin-top: 15px;
    color: #8A8A9C;

}

.offer-page--content{
    padding-bottom: 80px;
}

.service--recomendations-wrap {

    display: grid;
    grid-template-columns: max(440px) max(306px);
    justify-content: space-between;

    height: 0;
    overflow: hidden;
    margin-top: 0;

    &.active{
        margin-top: 40px;
        height: fit-content;
    }

    @media (max-width: 1399px) {
        grid-template-columns: 100%;
        gap: 24px;
    }

    & img{
        display: block;
        width: 100%;

        @media (max-width: 767px) {
            grid-row-start: 1;
            grid-row-end: 2;

        }
    }

    & div{
        @media (max-width: 767px) {
            grid-row-start: 2;
            grid-row-end: 3;
        }

        &.service--price-wrap{
            @media (max-width: 767px) {
                grid-row-start: 3;
                grid-row-end: 4;
            }
        }
    }

    & li {
        gap: 5px;
    }
}

.service--content .contacts-page--form .section-request--legal {

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #8A8A9C;
}

.service--content .contacts-page--form{
    width: 100%;
}

.service--content .section-request--submit{
    margin: auto;
    margin-top: 40px;
    width: 100%;
    max-width: 100%;
    display: block;
}