.offer-page-notification{
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
    position: relative;
}

#dotes{
    display: inline-block;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 40px;
    transform: translateY(-50%);
}

#not{
    margin-top: 0;
}

.offer-page--text-block{
    margin-top: 100px;
}

.offer-page--plus-list{
    width: 100%;
    margin-top: 100px;

    & li{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0;

        &:not(:first-child){
            margin-top: 8px;
        }

        & svg{
            fill: #F1DD23;
            width: 8px;
            height: 8px;
            margin-right: 4px;
        }

        & span{
            font-family: Montserrat;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px;
            letter-spacing: 0.54px;
            color: #F1DD23;
            margin-right: 4px;
        }
    }
}

.four-text-blocks{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 100px 24px;
}

.block--banner-slider{
    width: 100%;
    overflow: hidden;
}

.block--banner-list{
    display: flex;
    width: 100%;
    overflow: hidden;
}

.block--banner-contols{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.block--banner-contols-button{
    border: none;
    background-color: transparent;
}

.block--banner-list-item{
    border-radius: 20px;
    overflow: hidden;   
    width: 100%;
    transition-property: transform;
    transition-duration: 500ms;
    transition-delay: 0;
    flex-shrink: 0;

    & img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.blocks--banner-image{
    width: 100%;

    & img{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.block--two-columns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.block--two-columns_column{

}

.block--two-columns_image{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 40px;

    &:nth-child(n+3){
        margin-top: 100px;
    }
}

.block--two-columns_image-norm{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 20px;
}