.sort-page .section-about-light--list-item{
    background-color: #0A0A0A;

    transition-property: background-color, border;
    transition-duration: 500ms;
    transition-delay: 0;

    &:hover,
    :focus{
        background-color: #FFFFFF1A;
    }
}

.sort-page .section-about-light--list{
    margin: 0;
    margin-top: 25px;
}


.sort-page--title{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #8A8A9C;
    
}

.sort-page .section-services--more-services{
    &.first{
        margin-bottom: 80px;
    }
}

.page-title--tag{
    width: fit-content;
    height: fit-content;
    padding: 8px 16px;
    background-color: #FFFFFF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
        font-size: 12px;
        line-height: 18px;
        padding: 7px 8px;
        margin-top: 16px;
    }

    & button{
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #0A0A0A;
        border-radius: 5px;
        background-color: transparent;
        margin-left: 6px;

        @media (max-width: 767px) {
            width: 13px;
            height: 13px;
            padding: 0;
        }
    }

    & svg{
        width: 5px;
        height: 5px;
        stroke: #0A0A0A;
    }
}
.sort-page .section-about-light--list {
    margin-top: 24px;

    @media (max-width: 767px) {
        display: none;
    }
}

.sort-page .section-nore-jobs--list {
    display: none;

    @media (max-width: 767px) {
        display: block;
        margin: auto;
        margin-top: 24px;
        width: 350px;

        & li {
            max-width: 350px;
            background-color: #0A0A0A;
            border-radius: 15px;

            &:not(:first-child) {
                margin-top: 32px;
            }
        }
    }
}