<div class="page-title">
    <div class="container">
        <div class="page-title--navigation">
            <ul class="bread-crumbs">
                <li>
                    <a href="/">
                        <svg>
                            <use href="./images/icons.svg#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">Наші роботи</a>
                </li>
            </ul>
            <a href="" class="page-title--back">
                <svg>
                    <use href="./images/icons.svg#left"></use>
                </svg>
                Назад
            </a>
        </div>
        <h2>Наші роботи</h2>
    </div>
</div>
<div class="catalog-page">
    <div class="container">
        <div class="catalog-page--hero">
            <div class="catalog-page--hero-text">
                <ul>
                    <li>
                        Новинка
                    </li>
                </ul>
                <h3>Заміна лінз у фарах Mercedes-Benz ML 6.3</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти з ладу. І не виняток оптика
                автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття і власник
                автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">
                    <div class="footer--icon-wrap">
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <!-- <img src="./images/+.svg" alt="" class="footer--icon-minus"> -->
                    </div>
                    Детальніше
                </a>
            </div>
            <div class="catalog-page--hero-image">
                <img src="./images/catalag-hero.png" alt="">
            </div>
        </div>
        <div class="catalog-page--filter">
            <button class="catalog-page--fiter-theme">
                <div>
                    <span>Фільтр</span>
                    <p>Сортувати за тематикою</p>
                </div>
                <div class="section-questions--icon-wrap">
                    <svg class="section-questions--icon">
                        <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                        <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                    </svg>
                </div>
            </button>
            <button class="catalog-page--filter-car">
                <div>
                    <span>Фільтр</span>
                    <p>За маркою</p>
                </div>
                <div class="section-questions--icon-wrap">
                    <svg class="section-questions--icon">
                        <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                        <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                    </svg>
                </div>
            </button>
            <button class="catalog-page--clear-filter">
                <svg class="">
                    <use href="./images/icons.svg#refresh" class="section-questions--icon-plus"></use>
                </svg>
                <p id="catalog-page--clear-filter-text">Очистити усі фільтри</p>
            </button>
            <ul class="catalog-page--themes-list">
                <li>
                    <button>
                        <p>Встановлення біксенонових лінз
                            у фари автомобіля</p>
                        <img src="./images/bground-small/bg-img-01.png" alt="">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Заміна скла автомобільних
                            фар</p>
                        <img src="./images/bground-small/bg-img-02.png" alt="">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Регулювання фар на лазерно-оптичному обладнанні</p>
                        <img src="./images/bground-small/bg-img-03.png" alt="" class="correct">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Послуги автоелектрика</p>
                        <img src="./images/bground-small/bg-img-05.png" alt="">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Ремонт тріщин фар автомобіля</p>
                        <img src="./images/bground-small/bg-img-06.png" alt="">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Led технології центрального стоп сигналу (CHMSL)</p>
                        <img src="./images/bground-small/bg-img-04.png" alt="">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Тюнінг фар автомобіля</p>
                        <img src="./images/bground-small/bg-img-09.png" alt="">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Заміна перегорілих
                            лам автомобіля</p>
                        <img src="./images/bground-small/bg-img-07.png" alt="">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Ремонт
                            Led оптики автомобіля</p>
                        <img src="./images/bground-small/bg-img-08.png" alt="">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Герметизація автомобільних фар</p>
                        <img src="./images/bground-small/bg-img-10.png" alt="">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Профілактика фар автомобіля</p>
                        <img src="./images/bground-small/bg-img-11.png" alt="">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Обклеювання захисною плівкою фар</p>
                        <img src="./images/bground-small/bg-img-12.png" alt="">
                    </button>
                </li>
                <li>
                    <button>
                        <p>Полірування
                            та шліфування автомобільних фар</p>
                        <img src="./images/bground-small/bg-img-13.png" alt="">
                    </button>
                </li>
                <li>
                    <a href="">
                        <p>Усі роботи
                        <br>Car-light.design</p>
                    </a>
                </li>
            </ul>
            <div class="catalog-page--marks-wrap">
                <div class="catalog-page--input-wrap">
                    <input type="text" placeholder="Марка автомобіля">
                    <svg>
                        <use href="./images/icons.svg#search"></use>
                    </svg>
                </div>
                <span>Топ пошуку</span>
                <ul class="catalog-page--auto-list">
                    <li>
                        <button>
                            <p>BMW</p>
                            <svg>
                                <use href="./images/icons.svg#bmw"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button>
                            <p>Volkswagen</p>
                            <svg>
                                <use href="./images/icons.svg#volkswagen"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button>
                            <p>Mercedes-Benz</p>
                            <svg>
                                <use href="./images/icons.svg#mercedes"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button>
                            <p>Volvo</p>
                            <svg>
                                <use href="./images/icons.svg#volvo"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button>
                            <p>SEAT</p>
                            <svg>
                                <use href="./images/icons.svg#seat"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button>
                            <p>Porsche</p>
                            <svg>
                                <use href="./images/icons.svg#porsche"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button>
                            <p>Rolls-Rolls</p>
                            <svg>
                                <use href="./images/icons.svg#rr"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button>
                            <p>Citroen</p>
                            <svg>
                                <use href="./images/icons.svg#citroen"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button>
                            <p>BYD</p>
                            <svg>
                                <use href="./images/icons.svg#byd"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button>
                            <p>Opel</p>
                            <svg>
                                <use href="./images/icons.svg#opel"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <button>
                            <p>Honda</p>
                            <svg>
                                <use href="./images/icons.svg#honda"></use>
                            </svg>
                        </button>
                    </li>
                    <li>
                        <a href="">
                            Усі марки
                        </a>
                    </li>
                </ul>
            </div>
            <div class="catalog-page--filter-notification hidden">
                <p>
                    Нажаль, за вашим запитом нічого невдалось знайти!
                </p>
                <img src="./images/warning.svg" alt="">
            </div>
        </div>
        <h3 class="sort-page--title">Усі роботи</h3>
        <ul class="section-about-light--list">
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Шліфування та полірування автомобільних фар</span>
                        </li>
        
                    </ul>
                    <h3>Самостійне полірування фар, наслідки</h3>
                    <p>Шановні автовласники, ми також хочемо заощадити ваші фінансові ресурси та час. Хочемо щоб у вас було все
                        добре з
                        автосвітлом,</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-1.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Заміна автоламп</h3>
                    <p>Перегоріла лампочка в автомобілі, і це дрібниця відповість більшість автовласників, навіщо відвідувати
                        сервіс автосвітла
                        або СТО, а також чекати планового ТО автомобіля, де з низкою робіт з обслуговування автомобіля,
                        здійснять фахівці і
                        заміну автолампи, що перегоріла.
        
                        Адже просто більшість автовласників під час виходу з ладу автолампи вирушать до спеціалізованого
                        магазину, де
                        представлені автомобільні лампи у найширшому виборі.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-2.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Профілактика автомобільних фар</span>
                        </li>
                    </ul>
                    <h3>Звуковий парктронік або парктронік із використанням камер</h3>
                    <p>Сьогодні після чергової встановленої паркувальної системи допомоги водієві вирішили висловити свою думку
                        щодо системи
                        паркування.
        
                        Що краще звуковий парктронік чи камера заднього виду?
        
                        Ось одне із питань, яке доводиться постійно чути від водіїв, які вирішили встановити хоч щось, для
                        надання допомоги при
                        паркуванні, на автомобілі заднім ходом.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-3.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Класифікація всіх встановлюваних ламп у легкових, вантажних автомобілях та мотоциклах</h3>
                    <p>При цьому є два шляхи вирішення цієї проблеми:
                        • Перший шлях – при виявленні несправності зі світлом автомобіля вирушить у спеціалізоване СТО. Де
                        фахівці витягнуть
                        лампу, що перегоріла, визначать її маркування і встановлять аналогічну.
        
                        • Другий шлях – заміна лампочок власними силами. Виймаємо лампу, потім із нею вирушаємо купувати новою.
                    </p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-4.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Встановлення лінз у фари</span>
                        </li>
                    </ul>
                    <h3>Регулировка фар на лазерно-оптическом оборудование</h3>
                    <p>Точне налаштування роботи фар автомобіля за допомогою оптико-механічного приладу контролю та регулювання
                        світла фар
                        PH2066/D/L2W.T. Engineering S.r.l.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-5.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li class="section-about-light--star-icon">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </li>
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                    <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                        деяких знань
                        деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-6.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Шліфування та полірування автомобільних фар</span>
                        </li>
            
                    </ul>
                    <h3>Самостійне полірування фар, наслідки</h3>
                    <p>Шановні автовласники, ми також хочемо заощадити ваші фінансові ресурси та час. Хочемо щоб у вас було все
                        добре з
                        автосвітлом,</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-1.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Заміна автоламп</h3>
                    <p>Перегоріла лампочка в автомобілі, і це дрібниця відповість більшість автовласників, навіщо відвідувати
                        сервіс автосвітла
                        або СТО, а також чекати планового ТО автомобіля, де з низкою робіт з обслуговування автомобіля,
                        здійснять фахівці і
                        заміну автолампи, що перегоріла.
            
                        Адже просто більшість автовласників під час виходу з ладу автолампи вирушать до спеціалізованого
                        магазину, де
                        представлені автомобільні лампи у найширшому виборі.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-2.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Профілактика автомобільних фар</span>
                        </li>
                    </ul>
                    <h3>Звуковий парктронік або парктронік із використанням камер</h3>
                    <p>Сьогодні після чергової встановленої паркувальної системи допомоги водієві вирішили висловити свою думку
                        щодо системи
                        паркування.
            
                        Що краще звуковий парктронік чи камера заднього виду?
            
                        Ось одне із питань, яке доводиться постійно чути від водіїв, які вирішили встановити хоч щось, для
                        надання допомоги при
                        паркуванні, на автомобілі заднім ходом.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-3.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Класифікація всіх встановлюваних ламп у легкових, вантажних автомобілях та мотоциклах</h3>
                    <p>При цьому є два шляхи вирішення цієї проблеми:
                        • Перший шлях – при виявленні несправності зі світлом автомобіля вирушить у спеціалізоване СТО. Де
                        фахівці витягнуть
                        лампу, що перегоріла, визначать її маркування і встановлять аналогічну.
            
                        • Другий шлях – заміна лампочок власними силами. Виймаємо лампу, потім із нею вирушаємо купувати новою.
                    </p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-4.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Встановлення лінз у фари</span>
                        </li>
                    </ul>
                    <h3>Регулировка фар на лазерно-оптическом оборудование</h3>
                    <p>Точне налаштування роботи фар автомобіля за допомогою оптико-механічного приладу контролю та регулювання
                        світла фар
                        PH2066/D/L2W.T. Engineering S.r.l.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-5.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li class="section-about-light--star-icon">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </li>
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                    <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                        деяких знань
                        деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-6.png" alt="">
                </div>
            </li>
        </ul>
        <ul class="section-nore-jobs--list">
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div>
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/1.png" alt="">
                </div>
                <h3>Внутрішнє очищення фар Opel Insignia з поліруванням скла</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Профілактика автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/2.png" alt="">
                </div>
                <h3>Полірування автомобільних фар Ford Focus</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Шліфування та полірування автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/3.png" alt="">
                </div>
                <h3>Заміна скла автомобільних фари Lexus ES 350</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/4.png" alt="">
                </div>
                <h3>Заміна скла передної фари Jeep Cherokee MK1</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/5.png" alt="">
                </div>
                <h3>Заміна линз на линзи BI-LED у фараз автомобіля Porsche Cayenne</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <a href="" class="section-more-jobs--all-jobs-link">
                    <svg>
                        <use href="./images/icons.svg#right"></use>
                    </svg>
                    Усі роботи
                </a>
            </li>
        </ul>
        <ul class="catalog-page--pages-nav">
            <li>
                <button>
                    <svg>
                        <use href="./images/icons.svg#preworius"></use>
                    </svg>
                </button>
            </li>
            <li>
                <button class="active">
                    1
                </button>
            </li>
            <li>
                <button>
                    2
                </button>
            </li>
            <li>
                <button>
                    3
                </button>
            </li>
            <li>
                <button>
                    ...
                </button>
            </li>
            <li>
                <button>
                    999
                </button>
            </li>
            <li>
                <button>
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
</div>