<div class="cabinet--drop hidden">
    <div class="cabinet--add-new-car hidden" id="car">
        <div class="cabinet--add-new-car-model-wrap">
            <svg class="cabinet--add-new-car-logo">
                <use href="./images/cars.svg#icon-no-logo"></use>
            </svg>
            <div>
                <p class="cabinet--add-new-car-mark">Марка авто</p>
                <span class="cabinet--add-new-car-model">Серія</span>
            </div>
            <button class="cabinet--add-new-car-remove-btn hidden">
                <svg>
                    <use href="./images/icons.svg#trash"></use>
                </svg>
            </button>
        </div>
        <form action="" class="cabinet--add-new-car-form">
            <div class="cabinet--add-new-car-input-wrap">
                <input type="text" placeholder="Марка автомобіля">
                <svg>
                    <use href="./images/icons.svg#reduct"></use>
                </svg>
            </div>
            <div class="cabinet--add-new-car-input-wrap">
                <input type="text" placeholder="Модель авто">
                <svg>
                    <use href="./images/icons.svg#reduct"></use>
                </svg>
            </div>
            <div class="cabinet--add-new-car-input-wrap">
                <input type="text" placeholder="VIN номер">
                <svg>
                    <use href="./images/icons.svg#reduct"></use>
                </svg>
            </div>
        </form>
        <div class="cabinet--add-new-car-buttons-wrap">
            <button class="add">Додати</button>
            <button class="remove">Закрити</button>
        </div>
    </div>
    <div class="cabinet--add-new-user hidden" id="user">
        <form action="" class="cabinet--add-new-car-form">
            <div class="cabinet--add-new-car-input-wrap">
                <input type="text" placeholder="Імʼя">
            </div>
            <div class="cabinet--add-new-car-input-wrap">
                <input type="text" placeholder="Прізвище">
            </div>
            <div class="cabinet--add-new-car-input-wrap">
                <input type="text" placeholder="Місто паркування">
            </div>
            <div class="cabinet--add-new-car-input-wrap">
                <input type="text" placeholder="Номер телефону">
            </div>
            <div class="cabinet--add-new-car-input-wrap">
                <input type="text" placeholder="Електронна адреса">
            </div>
        </form>
        <p class="section-request--legal">
            <span>* </span>Заповніть обов’язково поля.
            Надсилаючи цю форму, ви погоджуєтеся з <a href="">Політикою конфіденційності</a> та <a href="">Умовами
                використання</a>.
        </p>
        <div class="cabinet--add-new-car-buttons-wrap">
            <button class="add">Додати</button>
            <button class="remove">Закрити</button>
        </div>
    </div>
</div>