<div class="page-title">
    <div class="container">
        <div class="page-title--navigation">
            <ul class="bread-crumbs">
                <li>
                    <a href="/">
                        <svg>
                            <use href="./images/icons.svg#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">Особистий кабінет</a>
                </li>
            </ul>
            <a href="" class="page-title--back">
                <svg>
                    <use href="./images/icons.svg#left"></use>
                </svg>
                Назад
            </a>
        </div>
    </div>
</div>
<div class="cabinet--page container">
    <div class="cabinet--page-info">
        <h3 class="cabinet--page-section-title">Додати нове авто</h3>
        <button class="cabinet--page-button-add-auto">
            <div>
                <span class="cabinet--page-primary-text left">Автомобіль</span>
                <p class="cabinet--page-secondary-text">Додати до списку</p>
            </div>
            <div class="cabinet--page-button-add-icon-wrap">
                <svg class="cabinet--page-button-add-icon">
                    <use href="./images/icons.svg#plus-two"></use>
                </svg>
            </div>
        </button>
        <div class="cabinet--page-info-in-list">
            <span class="cabinet--page-primary-text">У списку</span>
            <p class="cabinet--page-secondary-text">0 авто</p>
        </div>
        <div class="cabinet--page-section-title-wrap">
            <h3 class="cabinet--page-section-title">Бонуси / Рейтинг</h3>
            <div>
                <svg class="cabinet--page-info-icon">
                    <use href="./images/icons.svg#information"></use>
                </svg>
            </div>
        </div>
        <div class="cabinet--page-info-raiting">
            <div>
                <span class="cabinet--page-primary-text left">Доступні</span>
                <p class="cabinet--page-secondary-text">Бонуси</p>
            </div>
            <span class="cabinet--page-text-big">0</span>
        </div>
        <div class="cabinet--page-info-raiting">
            <div>
                <span class="cabinet--page-primary-text left">Ваш</span>
                <p class="cabinet--page-secondary-text">Рейтинг</p>
            </div>
            <span class="cabinet--page-text-big">0</span>
        </div>
        <h3 class="cabinet--page-section-title list">Список авто</h3>
        <div class="cabinet--page-user-title-wrap">
            <h3 class="cabinet--page-section-title">Данні користувача</h3>
            <svg class="">
                <use href="./images/icons.svg#reduct"></use>
            </svg>
        </div>
        <button class="cabinet--page-button-add-car">
            <svg class="cabinet--page-button-icon four-wheel">
                <use href="./images/icons.svg#four-wheel"></use>
            </svg>
            <div class="cabinet--page-add-text-wrap">
                <p>Гараж порожній</p>
                <div class="cabinet--page-add-link">
                    <div class="footer--icon-wrap">
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <img src="./images/+.svg" alt="" class="footer--icon-minus">
                    </div>
                    <span>Додати авто</span>
                </div>
            </div>
        </button>
        <button class="cabinet--page-user-add">
            <svg class="cabinet--page-button-icon user">
                <use href="./images/icons.svg#user"></use>
            </svg>
            <div class="cabinet--page-add-text-wrap">
                <p>Відсутні данні</p>
                <div class="cabinet--page-add-link">
                    <div class="footer--icon-wrap">
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <img src="./images/+.svg" alt="" class="footer--icon-minus">
                    </div>
                    <span>Додати</span>
                </div>
            </div>
        </button>
    </div>
    <h3 class="cabinet--page-section-title section-margin">Список виконаних робіт</h3>
    <div class="cabinet--page-list-wrap">
        <div class="cabinet--page-icon-cross">
            <svg class="cabinet--page-button-icon cross">
                <use href="./images/icons.svg#cross"></use>
            </svg>
        </div>
        <div class="cabinet--page-add-text-wrap">
            <p>Спісок порожній</p>
            <div class="cabinet--page-add-link">
                <div class="footer--icon-wrap">
                    <svg class="footer--icon-cross">
                        <use href="./images/icons.svg#plus-one"></use>
                    </svg>
                    <img src="./images/+.svg" alt="" class="footer--icon-minus">
                </div>
                <span>Додати</span>
            </div>
        </div>
    </div>
    <h3 class="cabinet--page-section-title section-margin">Корисні теми, що вартують лайк</h3>
    <div class="cabinet--page-list-wrap">
        <div class="cabinet--page-icon-cross">
            <svg class="cabinet--page-button-icon cross">
                <use href="./images/icons.svg#cross"></use>
            </svg>
        </div>
        <div class="cabinet--page-add-text-wrap">
            <p>Спісок порожній</p>
            <div class="cabinet--page-add-link">
                <div class="footer--icon-wrap">
                    <svg class="footer--icon-cross">
                        <use href="./images/icons.svg#plus-one"></use>
                    </svg>
                    <img src="./images/+.svg" alt="" class="footer--icon-minus">
                </div>
                <span>Додати</span>
            </div>
        </div>
    </div>
</div>