<div class="page-title">
    <div class="container">
        <div class="page-title--navigation">
            <ul class="bread-crumbs">
                <li>
                    <a href="/">
                        <svg>
                            <use href="./images/icons.svg#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">Особистий кабінет</a>
                </li>
            </ul>
            <a href="" class="page-title--back">
                <svg>
                    <use href="./images/icons.svg#left"></use>
                </svg>
                Назад
            </a>
        </div>
    </div>
</div>
<div class="cabinet--page container">
    <div class="cabinet--page-info">
        <h3 class="cabinet--page-section-title">Додати нове авто</h3>
        <button class="cabinet--page-button-add-auto" id="anim-3">
            <div>
                <span class="cabinet--page-primary-text left">Автомобіль</span>
                <p class="cabinet--page-secondary-text">Додати до списку</p>
            </div>
            <div class="cabinet--page-button-add-icon-wrap">
                <svg class="cabinet--page-button-add-icon">
                    <use href="./images/icons.svg#plus-two"></use>
                </svg>
            </div>
            <div class="background one"></div>
        </button>
        <div class="cabinet--page-info-in-list">
            <span class="cabinet--page-primary-text">У списку</span>
            <p class="cabinet--page-secondary-text">3 авто</p>
        </div>
        <div class="cabinet--page-section-title-wrap" onclick="">
            <h3 class="cabinet--page-section-title">Бонуси / Рейтинг</h3>
            <div class="cabinet--information-wrap">
                <svg class="cabinet--page-info-icon">
                    <use href="./images/icons.svg#information"></use>
                </svg>
                <p class="cabinet--information">
                    Обслуговування у Car-light.design приносить не лише задовлення і підкреслює професіаналізм наших майсітрів, а
                    також
                    приность гарні бонусі.
            
                    За кожний ремонт вам нараховуються очки за які ви у подальшому зможете отримувати знажки на послуги, або приємні
                    бонуси,
                    а також піднімаєтесь у ранговому списку.
                </p>
            </div>
        </div>
        <div class="cabinet--page-info-raiting">
            <div>
                <span class="cabinet--page-primary-text left">Доступні</span>
                <p class="cabinet--page-secondary-text">Бонуси</p>
            </div>
            <span class="cabinet--page-text-big">800</span>
            <div id="anim-1"></div>
        </div>
        <div class="cabinet--page-info-raiting">
            <div>
                <span class="cabinet--page-primary-text left">Ваш</span>
                <p class="cabinet--page-secondary-text">Рейтинг</p>
            </div>
            <span class="cabinet--page-text-big">D1</span>
            <div class="background" id="anim-2"></div>
        </div>
        <h3 class="cabinet--page-section-title list">Список авто</h3>
        <div class="cabinet--page-user-title-wrap">
            <h3 class="cabinet--page-section-title">Данні користувача</h3>
            <button class="cabinet--page-change-user">
                <svg class="">
                    <use href="./images/icons.svg#reduct"></use>
                </svg>
            </button>
        </div>
        <div class="cabinet--page-cars-list-wrap" data-scrollbar>
            <ul class="cabinet--page-cars-list" data-scroll-content>
                <li class="cabinet--page-cars-list-item active">
                    <svg class="cabinet--page-cars-list-item-car-icon">
                        <use href="./images/cars.svg#icon-Bmw"></use>
                    </svg>
                    <div class="cabinet--page-cars-list-item-text-wrap">
                        <p class="mark">BMW</p>
                        <p class="info"><span class="model">ML 6.3 w164</span> / <span class="vin">1VWBN7A35CCXXXXXX</span></p>
                    </div>
                    <button class="cabinet--page-cars-list-item-button">
                        <svg class="cabinet--page-cars-list-item-icon-reduct">
                            <use href="./images/icons.svg#reduct"></use>
                        </svg>
                    </button>
                </li>
                <li class="cabinet--page-cars-list-item">
                    <svg class="cabinet--page-cars-list-item-car-icon">
                        <use href="./images/cars.svg#icon-Volwsvagen"></use>
                    </svg>
                    <div class="cabinet--page-cars-list-item-text-wrap">
                        <p class="mark">Volwsvagen</p>
                        <p class="info"><span class="model">Passat B8</span> / <span class="vin">1VWBN7A35CCXXXXXX</span></p>
                    </div>
                    <button class="cabinet--page-cars-list-item-button">
                        <svg class="cabinet--page-cars-list-item-icon-reduct">
                            <use href="./images/icons.svg#reduct"></use>
                        </svg>
                    </button>
                </li>
                <li class="cabinet--page-cars-list-item">
                    <svg class="cabinet--page-cars-list-item-car-icon">
                        <use href="./images/cars.svg#icon-Volwsvagen"></use>
                    </svg>
                    <div class="cabinet--page-cars-list-item-text-wrap">
                        <p class="mark">Volwsvagen</p>
                        <p class="info"><span class="model">Passat B8</span> / <span class="vin">1VWBN7A35CCXXXXXX</span></p>
                    </div>
                    <button class="cabinet--page-cars-list-item-button">
                        <svg class="cabinet--page-cars-list-item-icon-reduct">
                            <use href="./images/icons.svg#reduct"></use>
                        </svg>
                    </button>
                </li>
            </ul>
            <div class="custom-scrollbar">
                <div class="custom-crollbar-thumb"></div>
            </div>
        </div>
        <div class="cabinet--page-user-cart">
            <div class="cabinet--page-user-avatar">
                <span class="cabinet--page-user-country">UA</span>
                <p class="cabinet--page-user-raiting">Рейтинг: <span>D1</span></p>
                <svg>
                    <use href="./images/icons.svg#user"></use>
                </svg>
            </div>
            <div class="cabinet--page-user-info">
                <div>
                    <p class="cabinet--page-user-info-cathegory">Ваше імʼя</p>
                    <span class="cabinet--page-user-info-value" data-name>Артур</span>
                </div>
                <div>
                    <p class="cabinet--page-user-info-cathegory">Ваше прізвище</p>
                    <span class="cabinet--page-user-info-value" data-second-name>Баканов</span>
                </div>
                <div>
                    <p class="cabinet--page-user-info-cathegory">Місто паркування</p>
                    <span class="cabinet--page-user-info-value" data-city>Київ</span>
                </div>
                <div>
                    <p class="cabinet--page-user-info-cathegory">Номер моб. телефону</p>
                    <span class="cabinet--page-user-info-value" data-phone>+38 073 100 42 64</span>
                </div>
                <div class="mail">
                    <p class="cabinet--page-user-info-cathegory">Електронна адреса</p>
                    <span class="cabinet--page-user-info-value" data-mail>bakanov.arthur@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    <h3 class="sort-page--title">Список виконаних робіт</h3>
    <ul class="cabinet--page-jobs-list-desktop">
        <li class="cabinet--page-jobs-item hidden">
            <div class="cabinet--page-jobs-item-first-block">
                <div class="cabinet--page-item-car-inf">
                    <div class="cabinet--page-jobs-car-info">
                        <svg class="cabinet--page-cars-list-item-car-icon">
                            <use href="./images/cars.svg#icon-Bmw"></use>
                        </svg>
                        <div class="cabinet--page-cars-list-item-text-wrap">
                            <p class="mark">BMW</p>
                            <p class="info"><span class="model">ML 6.3 w164</span> / <span class="vin">1VWBN7A35CCXXXXXX</span>
                            </p>
                        </div>
                    </div>
                    <span class="cabinet--page-status">У роботі</span>
                </div>
                <div class="cabinet--page-jobs-item-links-wrap">
                    <a href="" class="cabinet--page-more-info">
                        <svg>
                            <use href="./images/icons.svg#information"></use>
                        </svg>
                        Більш детально про послугу
                    </a>
                </div>
            </div>
            <div class="cabinet--page-jobs-item-second-block">
                <p class="cabinet--page-item-job-title">Послуги автоелектрика</p>
                <div class="cabinet--page-item-job-details">
                    <p>Попредня готовність на:</p>
                    <span>10.10.2023</span>
                </div>
                <p class="cabinet--page-jobs-notification">
                    *Дата вказана приблизна, все залежить від ситуацію котру майстри виявлять при детальному огляді. Попередньо
                    з вами
                    зв'яжеться наш менеджер та повідомити дату готовності автомобіля.
                </p>
            </div>
            <div class="section-questions--icon-wrap">
                <svg class="section-questions--icon">
                    <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                    <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                </svg>
            </div>
        </li>
        <li class="cabinet--page-jobs-item hidden"> 
            <div class="cabinet--page-jobs-item-first-block">
                <div class="cabinet--page-item-car-inf">
                    <div class="cabinet--page-jobs-car-info">
                        <svg class="cabinet--page-cars-list-item-car-icon">
                            <use href="./images/cars.svg#icon-Bmw"></use>
                        </svg>
                        <div class="cabinet--page-cars-list-item-text-wrap">
                            <p class="mark">BMW</p>
                            <p class="info"><span class="model">ML 6.3 w164</span> / <span class="vin">1VWBN7A35CCXXXXXX</span></p>
                        </div>
                    </div>
                    <span class="cabinet--page-status">У роботі</span>
                </div>
                <div class="cabinet--page-jobs-item-links-wrap">
                    <a href="" class="cabinet--page-more-info">
                        <svg>
                            <use href="./images/icons.svg#information"></use>
                        </svg>
                        Більш детально про послугу
                    </a>
                </div>
            </div>
            <div class="cabinet--page-jobs-item-second-block">
                <p class="cabinet--page-item-job-title">Встановлення біксенонових лінз у фари автомобіля</p>
                <div class="cabinet--page-item-job-details">
                    <p>Попредня готовність на:</p>
                    <span>10.10.2023</span>
                </div>
                <p class="cabinet--page-jobs-notification">
                    *Дата вказана приблизна, все залежить від ситуацію котру майстри виявлять при детальному огляді. Попередньо з вами
                    зв'яжеться наш менеджер та повідомити дату готовності автомобіля.
                </p>
            </div>
            <div class="section-questions--icon-wrap">
                <svg class="section-questions--icon">
                    <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                    <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                </svg>
            </div>
        </li>
        <li class="cabinet--page-jobs-item hidden">
            <div class="cabinet--page-jobs-item-first-block">
                <div class="cabinet--page-item-car-inf">
                    <div class="cabinet--page-jobs-car-info">
                        <svg class="cabinet--page-cars-list-item-car-icon">
                            <use href="./images/cars.svg#icon-Bmw"></use>
                        </svg>
                        <div class="cabinet--page-cars-list-item-text-wrap">
                            <p class="mark">BMW</p>
                            <p class="info"><span class="model">ML 6.3 w164</span> / <span class="vin">1VWBN7A35CCXXXXXX</span>
                            </p>
                        </div>
                    </div>
                    <span class="cabinet--page-status-date">10.10.2023</span>
                </div>
                <div class="cabinet--page-jobs-feedback-options">
                    <div class="cabinet--page-jobs-feedback-wrap">
                        <span class="cabinet--page-jobs-table-title">Оцініть роботу:</span>
                        <ul class="cabinet--page-jobs-grade-list">
                            <li>
                                <button data-id="1">
                                    <svg>
                                        <use href="./images/icons.svg#star"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button data-id="2">
                                    <svg>
                                        <use href="./images/icons.svg#star"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button data-id="3">
                                    <svg>
                                        <use href="./images/icons.svg#star"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button data-id="4">
                                    <svg>
                                        <use href="./images/icons.svg#star"></use>
                                    </svg>
                                </button>
                            </li>
                            <li>
                                <button data-id="5">
                                    <svg>
                                        <use href="./images/icons.svg#star"></use>
                                    </svg>
                                </button>
                            </li>
                        </ul>
                    </div>
                    <div class="cabinet--page-jobs-feedback-wrap">
                        <span class="cabinet--page-jobs-table-title">Залиши відгук:</span>
                        <a href="" class="cabinet--page-jobs-feedback-link">
                            <svg>
                                <use href="./images/icons.svg#google"></use>
                            </svg>
                            Google map
                        </a>
                    </div>
                </div>
                <div class="cabinet--page-jobs-item-links-wrap">
                    <a href="" class="cabinet--page-more-info">
                        <svg>
                            <use href="./images/icons.svg#eye"></use>
                        </svg>
                        Переглянути ремонтні роботи
                    </a>
                    <a href="" class="cabinet--page-more-info">
                        <svg>
                            <use href="./images/icons.svg#download"></use>
                        </svg>
                        Завантажити рахунок (*pdf)
                    </a>
                </div>
            </div>
            <div class="cabinet--page-jobs-item-second-block">
                <p class="cabinet--page-item-job-title">Встановлення біксенонових лінз у фари автомобіля</p>
                <span class="cabinet--page-jobs-table-title">Проведені роботи</span>
                <ul class="cabinet--page-jobs-table">
                    <li>
                        <p>Работа по замене линз</p>
                        <span>6.000 грн</span>
                    </li>
                    <li>
                        <p>Комплект линз Hella 3</p>
                        <span>2.600 грн</span>
                    </li>
                    <li>
                        <p>Лампы Osram Classic</p>
                        <span>3.800 грн</span>
                    </li>
                    <li>
                        <p>Загальна вартість</p>
                        <span>6.000 грн</span>
                    </li>
                </ul>
            </div>
            <div class="section-questions--icon-wrap">
                <svg class="section-questions--icon">
                    <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                    <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                </svg>
            </div>
        </li>
    </ul>
    <ul class="cabinet--page-jobs-list-mobile">
        <li class="cabinet--page-jobs-item">
            <div class="cabinet--page-item-car-inf">
                <div class="cabinet--page-jobs-car-info">
                    <svg class="cabinet--page-cars-list-item-car-icon">
                        <use href="./images/cars.svg#icon-Bmw"></use>
                    </svg>
                    <div class="cabinet--page-cars-list-item-text-wrap">
                        <p class="mark">BMW</p>
                        <p class="info"><span class="model">ML 6.3 w164</span> / <span class="vin">1VWBN7A35CCXXXXXX</span>
                        </p>
                    </div>
                </div>
                <p class="cabinet--page-item-job-title">Послуги автоелектрика</p>
                <span class="cabinet--page-status">У роботі</span>
            </div>
            <div class="cabinet--page-item-job-details">
                <p>Попредня готовність на:</p>
                <span>10.10.2023</span>
            </div>
            <p class="cabinet--page-jobs-notification">
                *Дата вказана приблизна, все залежить від ситуацію котру майстри виявлять при детальному огляді.
                Попередньо
                з вами
                зв'яжеться наш менеджер та повідомити дату готовності автомобіля.
            </p>
            <div class="cabinet--page-jobs-item-links-wrap">
                <a href="" class="cabinet--page-more-info">
                    <svg>
                        <use href="./images/icons.svg#information"></use>
                    </svg>
                    Більш детально про послугу
                </a>
            </div>
            <div class="section-questions--icon-wrap">
                <svg class="section-questions--icon">
                    <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                    <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                </svg>
            </div>
        </li>
        <li class="cabinet--page-jobs-item">
            <div class="cabinet--page-item-car-inf">
                <div class="cabinet--page-jobs-car-info">
                    <svg class="cabinet--page-cars-list-item-car-icon">
                        <use href="./images/cars.svg#icon-Bmw"></use>
                    </svg>
                    <div class="cabinet--page-cars-list-item-text-wrap">
                        <p class="mark">BMW</p>
                        <p class="info"><span class="model">ML 6.3 w164</span> / <span class="vin">1VWBN7A35CCXXXXXX</span>
                        </p>
                    </div>
                </div>
                <p class="cabinet--page-item-job-title">Послуги автоелектрика</p>
                <span class="cabinet--page-status">У роботі</span>
            </div>
            <div class="cabinet--page-item-job-details">
                <p>Попредня готовність на:</p>
                <span>10.10.2023</span>
            </div>
            <p class="cabinet--page-jobs-notification">
                *Дата вказана приблизна, все залежить від ситуацію котру майстри виявлять при детальному огляді.
                Попередньо
                з вами
                зв'яжеться наш менеджер та повідомити дату готовності автомобіля.
            </p>
            <div class="cabinet--page-jobs-item-links-wrap">
                <a href="" class="cabinet--page-more-info">
                    <svg>
                        <use href="./images/icons.svg#information"></use>
                    </svg>
                    Більш детально про послугу
                </a>
            </div>
            <div class="section-questions--icon-wrap">
                <svg class="section-questions--icon">
                    <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                    <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                </svg>
            </div>
        </li>
        <li class="cabinet--page-jobs-item">
            <div class="cabinet--page-item-car-inf">
                <div class="cabinet--page-jobs-car-info">
                    <svg class="cabinet--page-cars-list-item-car-icon">
                        <use href="./images/cars.svg#icon-Bmw"></use>
                    </svg>
                    <div class="cabinet--page-cars-list-item-text-wrap">
                        <p class="mark">BMW</p>
                        <p class="info"><span class="model">ML 6.3 w164</span> / <span class="vin">1VWBN7A35CCXXXXXX</span>
                        </p>
                    </div>
                </div>
                <p class="cabinet--page-item-job-title">Встановлення біксенонових лінз у фари автомобіля</p>
                <span class="cabinet--page-status-date">10.10.2023</span>
            </div>
            <span class="cabinet--page-jobs-table-title">Проведені роботи</span>
            <ul class="cabinet--page-jobs-table">
                <li>
                    <p>Работа по замене линз</p>
                    <span>6.000 грн</span>
                </li>
                <li>
                    <p>Комплект линз Hella 3</p>
                    <span>2.600 грн</span>
                </li>
                <li>
                    <p>Лампы Osram Classic</p>
                    <span>3.800 грн</span>
                </li>
                <li>
                    <p>Загальна вартість</p>
                    <span>6.000 грн</span>
                </li>
            </ul>
            <div class="cabinet--page-jobs-feedback-options">
                <div class="cabinet--page-jobs-feedback-wrap">
                    <span class="cabinet--page-jobs-table-title">Оцініть роботу:</span>
                    <ul class="cabinet--page-jobs-grade-list">
                        <li>
                            <button>
                                <svg>
                                    <use href="./images/icons.svg#star"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button>
                                <svg>
                                    <use href="./images/icons.svg#star"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button>
                                <svg>
                                    <use href="./images/icons.svg#star"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button>
                                <svg>
                                    <use href="./images/icons.svg#star"></use>
                                </svg>
                            </button>
                        </li>
                        <li>
                            <button>
                                <svg>
                                    <use href="./images/icons.svg#star"></use>
                                </svg>
                            </button>
                        </li>
                    </ul>
                </div>
                <div class="cabinet--page-jobs-feedback-wrap">
                    <span class="cabinet--page-jobs-table-title">Залиши відгук:</span>
                    <a href="" class="cabinet--page-jobs-feedback-link">
                        <svg>
                            <use href="./images/icons.svg#google"></use>
                        </svg>
                        Google map
                    </a>
                </div>
            </div>
            <div class="cabinet--page-jobs-item-links-wrap">
                <a href="" class="cabinet--page-more-info">
                    <svg>
                        <use href="./images/icons.svg#eye"></use>
                    </svg>
                    Переглянути ремонтні роботи
                </a>
                <a href="" class="cabinet--page-more-info">
                    <svg>
                        <use href="./images/icons.svg#download"></use>
                    </svg>
                    Завантажити рахунок (*pdf)
                </a>
            </div>
            <div class="section-questions--icon-wrap">
                <svg class="section-questions--icon">
                    <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                    <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                </svg>
            </div>
        </li>
    </ul>
    <a href="" class="section-services--more-services first">
        <svg>
            <use href="./images/icons.svg#refresh"></use>
        </svg>
        Завантажити ще
    </a>
    <h3 class="sort-page--title">Корисні теми, що вартують лайк</h3>
    <ul class="section-about-light--list">
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Світло</span>
                    </li>
                    <li>
                        <span>Електрика</span>
                    </li>
                    <li>
                        <span>BMW</span>
                    </li>
                </ul>
                <h3>Самостійне полірування фар, наслідки</h3>
                <p>Шановні автовласники, ми також хочемо заощадити ваші фінансові ресурси та час. Хочемо щоб у вас було все
                    добре з
                    автосвітлом,</p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-4.png" alt="">
            </div>
        </li>
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Світло</span>
                    </li>
                </ul>
                <h3>Звуковий парктронік або парктронік із використанням камер</h3>
                <p>Сьогодні після чергової встановленої системи паркування допомоги водію вирішили висловити свою думку про
                    систему
                    паркування.
    
                    Що краще звуковий парктронік чи камера заднього виду?
    
                    Ось одне із питань, яке доводиться постійно чути від водіїв, які вирішили встановити хоч щось для
                    надання допомоги при
                    паркуванні, на автомобілі заднім ходом.</p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-3.png" alt="">
            </div>
        </li>
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Світло</span>
                    </li>
                    <li>
                        <span>Електрика</span>
                    </li>
                    <li>
                        <span>BMW</span>
                    </li>
                </ul>
                <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                    деяких знань
                    деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-6.png" alt="">
            </div>
        </li>
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Світло</span>
                    </li>
                    <li>
                        <span>BMW</span>
                    </li>
                </ul>
                <h3>Класифікація всіх встановлюваних ламп у легкових, вантажних автомобілях та мотоциклах</h3>
                <p>При цьому є два шляхи вирішення цієї проблеми:
                    • Перший шлях – при виявленні несправності зі світлом автомобіля вирушить у спеціалізоване СТО. Де
                    фахівці витягнуть
                    лампу, що перегоріла, визначать її маркування і встановлять аналогічну.
    
                    • Другий шлях – заміна лампочок власними силами. Виймаємо лампу, потім із нею вирушаємо купувати новою.
                </p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-7.png" alt="">
            </div>
        </li>
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Світло</span>
                    </li>
                    <li>
                        <span>Електрика</span>
                    </li>
                    <li>
                        <span>BMW</span>
                    </li>
                </ul>
                <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                    деяких знань
                    деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-6.png" alt="">
            </div>
        </li>
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Заміна скла фар автомобіля</span>
                    </li>
                </ul>
                <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                    деяких знань
                    деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-7.png" alt="">
            </div>
        </li>
    </ul>
    <div class="section-more-jobs--mobile-nav-buttons">
        <button class="more">
            <svg>
                <use href="./images/icons.svg#refresh"></use>
            </svg>
            Більше робіт
        </button>
        <div>
            <button class="left">
                <svg>
                    <use href="./images/icons.svg#preworius"></use>
                </svg>
            </button>
            <button class="right">
                <svg>
                    <use href="./images/icons.svg#next"></use>
                </svg>
            </button>
        </div>
    </div>
</div>