<div class="page-title">
    <div class="container">
        <div class="page-title--navigation">
            <ul class="bread-crumbs">
                <li>
                    <a href="/">
                        <svg>
                            <use href="./images/icons.svg#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">Особистий кабінет</a>
                </li>
            </ul>
            <a href="" class="page-title--back">
                <svg>
                    <use href="./images/icons.svg#left"></use>
                </svg>
                Назад
            </a>
        </div>
    </div>
</div>
<div class="cabinet--page container">
    <div class="cabinet--page-info">
        <h3 class="cabinet--page-section-title">Додати нове авто</h3>
        <button class="cabinet--page-button-add-auto">
            <div>
                <span class="cabinet--page-primary-text left">Автомобіль</span>
                <p class="cabinet--page-secondary-text">Додати до списку</p>
            </div>
            <div class="cabinet--page-button-add-icon-wrap">
                <svg class="cabinet--page-button-add-icon">
                    <use href="./images/icons.svg#plus-two"></use>
                </svg>
            </div>
        </button>
        <div class="cabinet--page-info-in-list">
            <span class="cabinet--page-primary-text">У списку</span>
            <p class="cabinet--page-secondary-text">3 авто</p>
        </div>
        <div class="cabinet--page-section-title-wrap">
            <h3 class="cabinet--page-section-title">Бонуси / Рейтинг</h3>
            <div>
                <svg class="cabinet--page-info-icon">
                    <use href="./images/icons.svg#information"></use>
                </svg>
            </div>
        </div>
        <div class="cabinet--page-info-raiting">
            <div>
                <span class="cabinet--page-primary-text left">Доступні</span>
                <p class="cabinet--page-secondary-text">Бонуси</p>
            </div>
            <span class="cabinet--page-text-big">800</span>
        </div>
        <div class="cabinet--page-info-raiting">
            <div>
                <span class="cabinet--page-primary-text left">Ваш</span>
                <p class="cabinet--page-secondary-text">Рейтинг</p>
            </div>
            <span class="cabinet--page-text-big">D1</span>
        </div>
        <h3 class="cabinet--page-section-title list">Список авто</h3>
        <div class="cabinet--page-user-title-wrap">
            <h3 class="cabinet--page-section-title">Данні користувача</h3>
            <svg class="">
                <use href="./images/icons.svg#reduct"></use>
            </svg>
        </div>
        <ul class="cabinet--page-cars-list">
            <li class="cabinet--page-cars-list-item active">
                <svg class="cabinet--page-cars-list-item-car-icon">
                    <use href="./images/cars.svg#icon-Bmw"></use>
                </svg>
                <div class="cabinet--page-cars-list-item-text-wrap">
                    <p class="mark">BMW</p>
                    <p class="info"><span class="model">ML 6.3 w164</span> / <span class="vin">1VWBN7A35CCXXXXXX</span></p>
                </div>
                <button class="cabinet--page-cars-list-item-button">
                    <svg class="cabinet--page-cars-list-item-icon-reduct">
                        <use href="./images/icons.svg#reduct"></use>
                    </svg>
                </button>
            </li>
            <li class="cabinet--page-cars-list-item">
                <svg class="cabinet--page-cars-list-item-car-icon">
                    <use href="./images/cars.svg#icon-Volwsvagen"></use>
                </svg>
                <div class="cabinet--page-cars-list-item-text-wrap">
                    <p class="mark">Volwsvagen</p>
                    <p class="info"><span class="model">Passat B8</span> / <span class="vin">1VWBN7A35CCXXXXXX</span></p>
                </div>
                <button class="cabinet--page-cars-list-item-button">
                    <svg class="cabinet--page-cars-list-item-icon-reduct">
                        <use href="./images/icons.svg#reduct"></use>
                    </svg>
                </button>
            </li>
            <li class="cabinet--page-cars-list-item">
                <svg class="cabinet--page-cars-list-item-car-icon">
                    <use href="./images/cars.svg#icon-Volwsvagen"></use>
                </svg>
                <div class="cabinet--page-cars-list-item-text-wrap">
                    <p class="mark">Volwsvagen</p>
                    <p class="info"><span class="model">Passat B8</span> / <span class="vin">1VWBN7A35CCXXXXXX</span></p>
                </div>
                <button class="cabinet--page-cars-list-item-button">
                    <svg class="cabinet--page-cars-list-item-icon-reduct">
                        <use href="./images/icons.svg#reduct"></use>
                    </svg>
                </button>
            </li>
        </ul>
        <div class="cabinet--page-user-cart">
            <div class="cabinet--page-user-avatar">
                <span class="cabinet--page-user-country">UA</span>
                <p class="cabinet--page-user-raiting">Рейтинг: <span>D1</span></p>
                <svg>
                    <use href="./images/icons.svg#user"></use>
                </svg>
                <!-- <img src="" alt=""> -->
            </div>
            <div class="cabinet--page-user-info">
                <div>
                    <p class="cabinet--page-user-info-cathegory">Ваше імʼя</p>
                    <span class="cabinet--page-user-info-value">Артур</span>
                </div>
                <div>
                    <p class="cabinet--page-user-info-cathegory">Ваше прізвище</p>
                    <span class="cabinet--page-user-info-value">Баканов</span>
                </div>
                <div>
                    <p class="cabinet--page-user-info-cathegory">Місто паркування</p>
                    <span class="cabinet--page-user-info-value">Київ</span>
                </div>
                <div>
                    <p class="cabinet--page-user-info-cathegory">Номер моб. телефону</p>
                    <span class="cabinet--page-user-info-value">+38 073 100 42 64</span>
                </div>
                <div class="mail">
                    <p class="cabinet--page-user-info-cathegory">Електронна адреса</p>
                    <span class="cabinet--page-user-info-value">bakanov.arthur@gmail.com</span>
                </div>
            </div>
        </div>
    </div>
    <h3 class="sort-page--title">Список виконаних робіт</h3>
    <ul class="section-questions--list">
        <li class="section-questions--item"> 
            <div class="cabinet--page-jobs-car-info">
                <svg class="cabinet--page-cars-list-item-car-icon">
                    <use href="./images/cars.svg#icon-Volwsvagen"></use>
                </svg>
                <div class="cabinet--page-cars-list-item-text-wrap">
                    <p class="mark">Volwsvagen</p>
                    <p class="info"><span class="model">Passat B8</span> / <span class="vin">1VWBN7A35CCXXXXXX</span></p>
                </div>
            </div>
            <div class="section-questions--icon-wrap">
                <svg class="section-questions--icon">
                    <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                    <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                </svg>
            </div>
        </li>
    </ul>
    <h3 class="sort-page--title">Корисні теми, що вартують лайк</h3>
    <ul class="section-about-light--list">
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Світло</span>
                    </li>
                    <li>
                        <span>Електрика</span>
                    </li>
                    <li>
                        <span>BMW</span>
                    </li>
                </ul>
                <h3>Самостійне полірування фар, наслідки</h3>
                <p>Шановні автовласники, ми також хочемо заощадити ваші фінансові ресурси та час. Хочемо щоб у вас було все
                    добре з
                    автосвітлом,</p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-4.png" alt="">
            </div>
        </li>
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Світло</span>
                    </li>
                </ul>
                <h3>Звуковий парктронік або парктронік із використанням камер</h3>
                <p>Сьогодні після чергової встановленої системи паркування допомоги водію вирішили висловити свою думку про
                    систему
                    паркування.
    
                    Що краще звуковий парктронік чи камера заднього виду?
    
                    Ось одне із питань, яке доводиться постійно чути від водіїв, які вирішили встановити хоч щось для
                    надання допомоги при
                    паркуванні, на автомобілі заднім ходом.</p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-3.png" alt="">
            </div>
        </li>
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Світло</span>
                    </li>
                    <li>
                        <span>Електрика</span>
                    </li>
                    <li>
                        <span>BMW</span>
                    </li>
                </ul>
                <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                    деяких знань
                    деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-6.png" alt="">
            </div>
        </li>
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Світло</span>
                    </li>
                    <li>
                        <span>BMW</span>
                    </li>
                </ul>
                <h3>Класифікація всіх встановлюваних ламп у легкових, вантажних автомобілях та мотоциклах</h3>
                <p>При цьому є два шляхи вирішення цієї проблеми:
                    • Перший шлях – при виявленні несправності зі світлом автомобіля вирушить у спеціалізоване СТО. Де
                    фахівці витягнуть
                    лампу, що перегоріла, визначать її маркування і встановлять аналогічну.
    
                    • Другий шлях – заміна лампочок власними силами. Виймаємо лампу, потім із нею вирушаємо купувати новою.
                </p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-7.png" alt="">
            </div>
        </li>
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Світло</span>
                    </li>
                    <li>
                        <span>Електрика</span>
                    </li>
                    <li>
                        <span>BMW</span>
                    </li>
                </ul>
                <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                    деяких знань
                    деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-6.png" alt="">
            </div>
        </li>
        <li class="section-about-light--list-item">
            <div class="section-about-light--text-wrap">
                <ul class="section-about-light--tag-list">
                    <li class="section-about-light--star-icon hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </li>
                    <li>
                        <span>Заміна скла фар автомобіля</span>
                    </li>
                </ul>
                <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                    деяких знань
                    деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                <a href="" class="section--services-more">Детальніше</a>
            </div>
            <div class="section-about-light--image-wrap">
                <img src="./images/about-light-7.png" alt="">
            </div>
        </li>
    </ul>
</div>