<div class="cookies">
    <div>
        <h3>
            <img src="./images/icons/cookie.png" alt="">
            Ми цінуємо вашу конфіденційність
        </h3>
        <p>
            Щоб надати вам кращий сервіс, ми використовуємо файли cookie. Ці файли cookie використовуються для забезпечення
            належної
            роботи сайту (функціональні та файли cookie в строго необхідній категорії).
        </p>
        <p>Ви можете ознайомитись з нашою <a href="">Політика конфіденційності</a></p>
    </div>
    <div>
        <button>Прийняти</button>
        <button>Відхилити</button>
    </div>
</div>