<div class="backdrop-auth hidden">
    <div class="drop-auth">
        <div>
            <h3>Авторизація</h3>
            <div class="drop-auth--phone hidden">
                <p>Щоб використовувати всі функції сайту, увійдіть до особистого кабінету</p>
                <form action="" class="drop-auth--form-phone">
                    <input type="text" placeholder="Номер телефону">
                </form>
                <div class="drop-call--buttons">
                    <button class="drop-call--order">Увійти</button>
                    <button class="drop-call--close">Закрити</button>
                </div>
            </div>
            <div class="drop-auth--phone">
                <p>Введіть 4-х значний код, надісланий на ваш номер</p>
                <div class="drop-auth--notif">
                    <p>+380 73 100 42 64</p>
                    <button>Змінити номер телефону</button>
                </div>
                <form action="" id="drop-auth--form-code">
                    <input type="text" placeholder="0" maxlength="1">
                    <input type="text" placeholder="0" maxlength="1">
                    <input type="text" placeholder="0" maxlength="1">
                    <input type="text" placeholder="0" maxlength="1">
                </form>
                <div class="drop-call--buttons">
                    <button class="drop-call--order">Продовжити</button>
                    <button class="drop-call--close">Отримати код</button>
                </div>
                <p id="drop-auth--phone-not">+ Код надіслано повторно</p>
            </div>
           
        </div>
        <img src="./images/drop-auth.png" alt="">
    </div>
</div>