<div class="backdrop hidden">
    <div class="drop-call">
        <div>
            <h3>Замовити дзвінок</h3>
            <p>Наш менеджер зв'яжеться з вами найближчим часом</p>
            <form action="">
                <input type="text" placeholder="Ім'я">
                <input type="text" placeholder="Номер телефону">
            </form>
            <div class="drop-call--buttons">
                <button class="drop-call--order">Замовити дзвінок</button>
                <button class="drop-call--close">Закрити</button>
            </div>
        </div>
        <img src="./images/phone.png" alt="">
    </div>
</div>