<footer class="footer-mobile container">
    <div class="footer-mobile--logo-wrap footer--box-1">
        <svg class="footer-mobile--logo">
            <use href="./images/icons.svg#logo"></use>
        </svg>
        <p class="footer-mobile--text">
            Модернізація, ремонтні роботи автомобільного світла та оптики. Весь спектр післягарантійного
            обслуговування та ремонту
            будь-якої складності
        </p>
    </div>
    <ul class="footer-mobile--contacts">
        <li>
            <svg class="footer-mobile--icon-calendar">
                <use href="./images/icons.svg#calendar"></use>
            </svg>
            <p class="footer-mobile--dates">
                Пн-Сб - 10:00-20:00<br>Нд - вихідний
            </p>
        </li>
        <li>
            <svg class="footer-mobile--icon-phone">
                <use href="./images/icons.svg#phone"></use>
            </svg>
            <div>
                <a href="tel: +380672747070">+38 (067) 274-70-70</a>
                <a href="tel: +380632747070">+38 (063) 274-70-70</a>
            </div>
        </li>
    </ul>
    <ul class="footer-mobile--nav">
        <li class="footer-mobile--nav-item" id="footer-mobile-pages">
            <div class="header-mobile--nav-list-item-inf">
                <span class="header-mobile--menu-punkt">
                    <div class="footer--icon-wrap">
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <img src="./images/+.svg" alt="" class="footer--icon-minus">
                    </div>
                    Сторінки
                </span>
                <span class="header-mobile--nav-number">7</span>
            </div>
            <ul class="footer-mobile--pages-list hidden">
                <li>
                    <a href="">Головна</a>
                </li>
                <li>
                    <a href="">Послуги</a>
                </li>
                <li>
                    <a href="">Наші роботи</a>
                </li>
                <li>
                    <a href="">Блог</a>
                </li>
                <li>
                    <a href="">Електроніка</a>
                </li>
                <li>
                    <a href="">Проводка</a>
                </li>
                <li>
                    <a href="">Контакти</a>
                </li>
            </ul>
        </li>
        <li class="footer-mobile--nav-item" id="footer-mobile-services">
            <div class="header-mobile--nav-list-item-inf">
                <span class="header-mobile--menu-punkt">
                    <div class="footer--icon-wrap">
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <img src="./images/+.svg" alt="" class="footer--icon-minus">
                    </div>
                    Послуги
                </span>
                <span class="header-mobile--nav-number">13</span>
            </div>
            <ul class="footer-mobile--services-list hidden">
                <li>
                    <a href="">Заміна скла авто фар</a>
                </li>
                <li>
                    <a href="">Регулювання фар лазерно-оптичним обладнанням</a>
                </li>
                <li>
                    <a href="">Led технології центального стоп сигналу (CHMSL)</a>
                </li>
                <li>
                    <a href="">Полірування та шліфування авто фар</a>
                </li>
                <li>
                    <a href="">Послуги автоелектрика</a>
                </li>
                <li>
                    <a href="">Ремонт тріщин фар</a>
                </li>
                <li>
                    <a href="">Заміна перегорілих ламп</a>
                </li>
                <li>
                    <a href="">Ремонт Led оптики</a>
                </li>
                <li>
                    <a href="">Тюнінг авто фар</a>
                </li>
                <li>
                    <a href="">Герметизація авто фар</a>
                </li>
                <li>
                    <a href="">Обклеювання захисною плівкою фар</a>
                </li>
                <li>
                    <a href="">Встановлення біксенонових лінз</a>
                </li>
                <li>
                    <a href="">Профілактика авто фари</a>
                </li>
            </ul>
        </li>
        <li class="footer-mobile--nav-item socials">
            <span class="header-mobile--menu-punkt">
                Ми у мережі
            </span>
            <ul class="footer-mobile--social-links">
                <li>
                    <a href="" >
                        <svg class="footer-mobile--icon-facebook">
                            <use href="./images/icons.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="footer-mobile--icon-tiktok">
                            <use href="./images/icons.svg#tiktok"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">
                        <svg class="footer-mobile--icon-instagram">
                            <use href="./images/icons.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </li>
        <li class="footer-mobile--nav-item">
            <a href="" class="header-mobile--menu-punkt">
                <div class="footer--icon-wrap">
                    <svg class="footer--icon-cross">
                        <use href="./images/icons.svg#plus-one"></use>
                    </svg>
                    <img src="./images/+.svg" alt="" class="footer--icon-minus">
                </div>
                Публічна оферта
            </a>
        </li>
        <li class="footer-mobile--nav-item">
            <a href="" class="header-mobile--menu-punkt">
                <div class="footer--icon-wrap">
                    <svg class="footer--icon-cross">
                        <use href="./images/icons.svg#plus-one"></use>
                    </svg>
                    <img src="./images/+.svg" alt="" class="footer--icon-minus">
                </div>
                Політика конфіденційності
            </a>
        </li>
    </ul>
    <p class="footer-mobile--copyright">© All rights reserved Car-lights design</p>
</footer>