<footer class="footer-desktop">
    <div class="container">
        <div class="footer--wrap">
            <div class="footer--logo-wrap footer--box-1">
                <svg class="footer--logo">
                    <use href="./images/icons.svg#logo"></use>
                </svg>
                <p class="footer--text">
                    Модернізація, ремонтні роботи автомобільного світла та оптики. Весь спектр післягарантійного
                    обслуговування та ремонту
                    будь-якої складності
                </p>
            </div>
            <div class="footer--box-2">
                <p class="footer--text">Додаткова інформація
                    за телефонами:</p>
                <ul class="footer--contacts-list">
                    <li>
                        <a href="tel:+380672747070" class="footer--link">
                            +38 (067) 274-70-70
                        </a>
                    </li>
                    <li>
                        <a href="tel:+380632747070" class="footer--link">
                            +38 (063) 274-70-70
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--box-3">
                <div class="footer--group-title">
                    <h3>Сторінки</h3>
                </div>
                <ul class="footer--list">
                    <li>
                        <a href="/" class="footer--link">
                            Головна
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Послуги
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Наші роботи
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Автосвітло
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Електрика
                        </a>
                    </li>
                    <li>
                        <a href="./contacts.html" class="footer--link">
                            Контакти
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--box-4">
                <div class="footer--group-title">
                    <h3>Ми у мережі</h3>
                </div>
                <ul class="footer--list">
                    <li>
                        <a href="/" class="footer--link">
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Tik-Tok
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--box-5">
                <div class="footer--group-title">
                    <h3>Послуги</h3>
                </div>
                <ul class="footer--list">
                    <li>
                        <a href="/" class="footer--link">
                            Заміна скла авто фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Регулювання фар лазерно-оптичним обладнанням
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Led технології центального стоп сигналу (CHMSL)
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Полірування та шліфування авто фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Послуги автоелектрика
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Ремонт тріщин фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Заміна перегорілих ламп
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Ремонт Led оптики
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Тюнінг авто фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Герметизація авто фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Обклеювання захисною плівкою фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Встановлення біксенонових лінз
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            Профілактика авто фари
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--box-6">
                <p class="footer--copyright">© All rights reserved Car-lights design</p>
                <a href="./offer.html" class="footer--link eight">
                    Публічна оферта
                </a>
                <a href="./security.html" class="footer--link seven">
                    Політика конфіденційності
                </a>
            </div>
        </div>
    </div>
</footer>