<footer>
    <div class="container">
        <div class="footer--wrap">
            <div class="footer--logo-wrap footer--box-1">
                <svg class="footer--logo">
                    <!-- <use href=""></use> -->
                </svg>
                <p class="footer--text">
                    Модернізація, ремонтні роботи автомобільного світла та оптики. Весь спектр післягарантійного
                    обслуговування та ремонту
                    будь-якої складності
                </p>
            </div>
            <div class="footer--box-2">
                <p class="footer--text">Додаткова інформація
                    за телефонами:</p>
                <ul class="footer--contacts-list">
                    <li>
                        <a href="tel:+380672747070" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            +38 (067) 274-70-70
                        </a>
                    </li>
                    <li>
                        <a href="tel:+380632747070" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            +38 (063) 274-70-70
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--box-3">
                <div class="footer--group-title">
                    <svg class="footer--icon-cross">
                        <!-- <use href=""></use> -->
                    </svg>
                    <h3>Сторінки</h3>
                </div>
                <ul class="footer--list">
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Головна
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Послуги
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Наші роботи
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Автосвітло
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Електрика
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Контакти
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--box-4">
                <div class="footer--group-title">
                    <svg class="footer--icon-cross">
                        <!-- <use href=""></use> -->
                    </svg>
                    <h3>Ми у мережі</h3>
                </div>
                <ul class="footer--list">
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Tik-Tok
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--box-5">
                <div class="footer--group-title">
                    <svg class="footer--icon-cross">
                        <!-- <use href=""></use> -->
                    </svg>
                    <h3>Послуги</h3>
                </div>
                <ul class="footer--list">
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Заміна скла авто фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Регулювання фар лазерно-оптичним обладнанням
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Led технології центального стоп сигналу (CHMSL)
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Полірування та шліфування авто фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Послуги автоелектрика
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Ремонт тріщин фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Заміна перегорілих ламп
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Ремонт Led оптики
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <svg class="footer--icon-cross">
                                <!-- <use href=""></use> -->
                            </svg>
                            Тюнінг авто фар
                        </a>
                    </li>
                </ul>
                <button class="footer--more-options-button">
                    Розгорнути список послуг
                </button>
            </div>
            <div class="footer--box-6">
                <p class="footer--copyright">© All rights reserved Car-lights design</p>
                <a href="/" class="footer--link">
                    <svg class="footer--icon-cross">
                        <!-- <use href=""></use> -->
                    </svg>
                    Публічна оферта
                </a>
                <a href="/" class="footer--link">
                    <svg class="footer--icon-cross">
                        <!-- <use href=""></use> -->
                    </svg>
                    Політика конфіденційності
                </a>
                <a href="" class="footer--top-button">

                </a>
            </div>
        </div>
    </div>
</footer>