<footer>
    <div class="container">
        <div class="footer--wrap">
            <div class="footer--logo-wrap footer--box-1">
                <svg class="footer--logo">
                    <use href="./images/icons.svg#logo"></use>
                </svg>
                <p class="footer--text">
                    Модернізація, ремонтні роботи автомобільного світла та оптики. Весь спектр післягарантійного
                    обслуговування та ремонту
                    будь-якої складності
                </p>
            </div>
            <div class="footer--box-2">
                <p class="footer--text">Додаткова інформація
                    за телефонами:</p>
                <ul class="footer--contacts-list">
                    <li>
                        <a href="tel:+380672747070" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            +38 (067) 274-70-70
                        </a>
                    </li>
                    <li>
                        <a href="tel:+380632747070" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            +38 (063) 274-70-70
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--box-3">
                <div class="footer--group-title">
                    <!-- <div class="footer--icon-wrap">
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <img src="./images/+.svg" alt="" class="footer--icon-minus">
                    </div> -->
                    <h3>Сторінки</h3>
                </div>
                <ul class="footer--list">
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Головна
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Послуги
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Наші роботи
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Автосвітло
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Електрика
                        </a>
                    </li>
                    <li>
                        <a href="./contacts.html" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Контакти
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--box-4">
                <div class="footer--group-title">
                    <!-- <div class="footer--icon-wrap">
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <img src="./images/+.svg" alt="" class="footer--icon-minus">
                    </div> -->
                    <h3>Ми у мережі</h3>
                </div>
                <ul class="footer--list">
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Instagram
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Tik-Tok
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--box-5">
                <div class="footer--group-title">
                    <!-- <div class="footer--icon-wrap">
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <img src="./images/+.svg" alt="" class="footer--icon-minus">
                    </div> -->
                    <h3>Послуги</h3>
                </div>
                <ul class="footer--list">
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Заміна скла авто фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Регулювання фар лазерно-оптичним обладнанням
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Led технології центального стоп сигналу (CHMSL)
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Полірування та шліфування авто фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Послуги автоелектрика
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Ремонт тріщин фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Заміна перегорілих ламп
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Ремонт Led оптики
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Тюнінг авто фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Герметизація авто фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Обклеювання захисною плівкою фар
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Встановлення біксенонових лінз
                        </a>
                    </li>
                    <li>
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Профілактика авто фари
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer--box-6">
                <p class="footer--copyright">© All rights reserved Car-lights design</p>
                <a href="./offer.html" class="footer--link">
                    <div class="footer--icon-wrap">
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <img src="./images/+.svg" alt="" class="footer--icon-minus">
                    </div>
                    Публічна оферта
                </a>
                <a href="./security.html" class="footer--link">
                    <div class="footer--icon-wrap">
                        <svg class="footer--icon-cross">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        <img src="./images/+.svg" alt="" class="footer--icon-minus">
                    </div>
                    Політика конфіденційності
                </a>
                <a href="" class="footer--top-button">
                    <svg class="footer--icon-up">
                        <use href="./images/icons.svg#arrow-up"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</footer>