<header>
    <div class="header--notification">
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua. Ut enim ad minim
                <a href="">veniam</a>
            </p>
            <button class="header--notification-button">
                <svg>
                    <use href="./images/icons.svg#cross"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="container header--info">
        <p>
            <svg class="header--info-icon">
                <use href="./images/icons.svg#information"></use>
            </svg>
            Приймаємо клієнтів за попереднім записом
        </p>
        <p>
            <svg class="header--graphic-icon">
                <use href="./images/icons.svg#user"></use>
            </svg>
            Працюємо: Пн-Сб - 10:00-20:00 / Нд - вихідний
        </p>
        <p>
            <svg class="header--phone-icon">
                <use href="./images/icons.svg#phone"></use>
            </svg>
            <a href="tel: +380672747070">+38 (067) 274-70-70</a>
            <span> / </span>
            <a href="tel: +380632747070">+38 (063) 274-70-70</a>
        </p>
    </div>
    <div class="container header--main">
        <a href="/">
            <svg class="header--logo">
                <use href="./images/icons.svg#logo" class="header--logo-1"></use>
                <use href="./images/icons.svg#logo-2" class="header--logo-2"></use>
            </svg>
        </a>
        <nav>
            <ul class="header--nav-list">
                <li>
                    <a href="" class="header--link active">Головна</a>
                </li>
                <li>
                    <a href="./services.html" class="header--link">Послуги</a>
                </li>
                <li>
                    <a href="" class="header--link">Наші роботи</a>
                </li>
                <li class="header--blog-links">
                    <a href="" class="header--blog-link header--link">
                        <svg class="header--blog-icon">
                            <use href="./images/icons.svg#plus-one"></use>
                        </svg>
                        Блог
                    </a>
                    <ul class="header--blog-list">
                        <li>
                            <a href="">Усі теми</a>
                        </li>
                        <li>
                            <a href="">Світло</a>
                        </li>
                        <li>
                            <a href="">Електрика</a>
                        </li>
                        <li>
                            <a href="">Проводка</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="./contacts.html" class="header--link">Контакти</a>
                </li>
            </ul>
        </nav>
        <div class="header--language">
            <div>
                <svg>
                    <use href="./images/icons.svg#down"></use>
                </svg>
                <span>UA</span>
            </div>
            <ul class="hidden">
                <li class="header--language-variant active">UA</li>
                <li class="header--language-variant">ENG</li>
                <li class="header--language-variant">RU</li>
            </ul>
        </div>
        <button class="header--login">
            <svg>
                <use href="./images/icons.svg#user"></use>
            </svg>
        </button>
        <button class="header--termine">
            Записатися
        </button>
    </div>
</header>