<header>
    <div class="header--notification">
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua. Ut enim ad minim
                <a href="">veniam</a>
            </p>
            <button class="header--notification-button">
            </button>
        </div>
    </div>
    <div class="container">
        <a href="/">
            <svg class="header--logo"></svg>
        </a>
        <nav>
            <ul class="header--nav-list">
                <li>
                    <a href="">Головна</a>
                </li>
                <li>
                    <a href="">Послуги</a>
                </li>
                <li>
                    <a href="">Наші роботи</a>
                </li>
                <li>
                    <a href="">Блог</a>
                </li>
                <li>
                    <a href="">Контакти</a>
                </li>
            </ul>
        </nav>
    </div>
</header>