<header class="header-mobile container">
    <div class="header-mobile--logo-wrap">
        <a href="/">
            <svg class="header--logo">
                <use href="./images/icons.svg#logo" class="header--logo-1"></use>
                <use href="./images/icons.svg#logo-2" class="header--logo-2 hidden"></use>
            </svg>
        </a>
        <div class="header-mobile--buttons">
            <button class="header-mobile--menu-button">
                <svg class="header-mobile--icon-menu">
                    <use href="./images/icons.svg#menu" ></use>
                </svg>
                <svg class="header-mobile--icon-cross hidden">
                    <use href="./images/icons.svg#cross" ></use>
                </svg>
            </button>
            <div class="header-mobile--buttons-carusel">
                <button class="header-mobile--link-call">
                    <svg>
                        <use href="./images/icons.svg#phone"></use>
                    </svg>
                </button>
                <button class="header-mobile--button-enter hidden">
                    Вхід
                </button>
            </div>
        </div>  
    </div>
    <div class="header-mobile--menu hidden">
        <nav>
            <ul class="header-mobile--nav-list">
                <li id="header-mobile--popular-list">
                    <div class="header-mobile--nav-list-item-inf">
                        <span class="header-mobile--menu-punkt">
                            <div class="footer--icon-wrap">
                                <!-- <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg> -->
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Популярні послуги
                        </span>
                        <!-- <span class="header-mobile--nav-number">3</span> -->
                    </div>
                    <ul class="header-mobile--popular-list">
                        <li class="services-page--item">
                            <img src="./images/bg-lights-small/bg-light-03.png" alt="" class="services-page--bg-image">
                            <div class="services-page--service-wrap">
                                <h3>Регулювання фар на лазерно-оптичному обладнанні Engineering</h3>
                                <img src="./images/bground-small/bg-img-03.png" alt="">
                            </div>
                        </li>
                        <li class="services-page--item">
                            <img src="./images/bg-lights-small/bg-light-04.png" alt="" class="services-page--bg-image">
                            <div class="services-page--service-wrap">
                                <h3>Led технології центрального стоп сигналу (CHMSL)</h3>
                                <img src="./images/bground-small/bg-img-04.png" alt="">
                            </div>
                        </li>
                        <li class="services-page--item">
                            <img src="./images/bg-lights-small/bg-light-05.png" alt="" class="services-page--bg-image">
                            <div class="services-page--service-wrap">
                                <h3>Послуги кваліфікованого автоелектрика</h3>
                                <img src="./images/bground-small/bg-img-05.png" alt="">
                            </div>
                        </li>
                        <li class="services-page--item">
                            <a href="" class="section-more-jobs--all-jobs-link">
                                <svg>
                                    <use href="./images/icons.svg#right"></use>
                                </svg>
                                Усі послуги
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/">Головна</a>
                </li>
                <li>
                    <a href="/">Послуги</a>
                </li>
                <li>
                    <a href="/">Наші роботи</a>
                </li>
                <li id="header-mobile--blog-themes">
                    <div class="header-mobile--nav-list-item-inf">
                        <span class="header-mobile--menu-punkt">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Про автосвітло
                        </span>
                        <span class="header-mobile--nav-number">4</span>
                    </div>
                    <ul class="header-mobile--blog-list hidden">
                        <li>
                            <a href="">Усі теми</a>
                        </li>
                        <li>
                            <a href="">Світло</a>
                        </li>
                        <li>
                            <a href="">Електрика</a>
                        </li>
                        <li>
                            <a href="">Проводка</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/">Контакти</a>
                </li>
                <li id="header-mobile-leanguage">
                    <div class="header-mobile--nav-list-item-inf">
                        <span class="header-mobile--menu-punkt">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Мова
                        </span>
                        <span class="header-mobile--nav-number">3</span>
                    </div>
                    <ul class="header-mobile--leanguage-list hidden">
                        <li>
                            <a href="">UA (Українська)</a>
                        </li>
                        <li>
                            <a href="">ENG (Англійська)</a>
                        </li>
                        <li>
                            <a href="">RU (Російська)</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="header-mobile--contacts">
            <p class="header-mobile--dates">
                Пн-Сб - 10:00-20:00<br>Нд - вихідний
            </p>
            <div class="header-mobile--phones-wrap">
                <a href="tel: +380672747070">+38 (067) 274-70-70</a>
                <a href="tel: +380632747070">+38 (063) 274-70-70</a>
            </div>
        </div>
    </div>
</header>