<header>
    <div class="header--notification">
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna
                aliqua. Ut enim ad minim
                <a href="">veniam</a>
            </p>
            <button class="header--notification-button">
                <svg>
                    <use href="./images/icons.svg#cross"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="container header--info">

    </div>
    <div class="container">
        <a href="/">
            <svg class="header--logo">
                <use href="./images/icons.svg#logo"></use>
            </svg>
        </a>
        <nav>
            <ul class="header--nav-list">
                <li>
                    <a href="">Головна</a>
                </li>
                <li>
                    <a href="">Послуги</a>
                </li>
                <li>
                    <a href="">Наші роботи</a>
                </li>
                <li>
                    <a href="">Блог</a>
                    <ul style="display: none;">
                        <li>
                            <a href="">Усі теми</a>
                        </li>
                        <li>
                            <a href="">Світло</a>
                        </li>
                        <li>
                            <a href="">Електрика</a>
                        </li>
                        <li>
                            <a href="">Проводка</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="">Контакти</a>
                </li>
            </ul>
        </nav>
        <button class="header--language">
            <svg>
                <use href="./images/icons.svg#down"></use>
            </svg>
            UA
        </button>
        <button class="header--login">
            <svg>
                <use href="./images/icons.svg#user"></use>
            </svg>
        </button>
        <button class="header--termine">
            Записатися
        </button>
    </div>
</header>