<section class="section-best">
    <div class="container">
        <div>
            <h2>Все те, <span>щоб вважатися найкращими</span></h2>
            <a href="" class="section--services-more">Наші послуги</a>
        </div>
        <ul>
            <li class="section-best--item">
                <img src="./images/Спектр.png" alt="">
                <p>Повний спектр
                ремонтних послуг автосвітла</p>
            </li>
            <li class="section-best--item">
                <img src="./images/Знижка.png" alt="">
                <p>Знижки клієнтам
                на ремонт фар та модернізацію світла</p>
            </li>
            <li class="section-best--item">
                <img src="./images/Технології.png" alt="">
                <p>Використовуємо
                тільки сучасне
                обладнання</p>
            </li>
            <li class="section-best--item">
                <img src="./images/Сертифікати.png" alt="">
                <p>Використання сертифікованих
                матеріалів</p>
            </li>
            <li class="section-best--item">
                <img src="./images/Топ-майстри.png" alt="">
                <p>Висока кваліфікація спеціалістів, які знають свою справу</p>
            </li>
            <li class="section-best--item">
                <img src="./images/Ціни-ок.png" alt="">
                <p>Демократичні ціни
                на послуги у СТО
                Car-Light.design</p>
            </li>
        </ul>
    </div>
</section>