<section class="hero"> 
    <div class="container">
        <div class="hero--wrap">
            <h2>
                ремонтні роботи
                та Модернізація
                <span>
                    Автомобільного
                    світла та оптики
                </span>
            </h2>
            <p>
                Весь спектр післягарантійного обслуговування та ремонту будь-якої складності. Працюємо 6 днів на тиждень за
                попереднім
                записом.
            </p>
            <div class="hero--links">
                <button class="hero--termine">Записатися</button>
                <a href="" class="hero--works">Наші роботи</a>
            </div>
        </div>
    </div>
</section>