<section class="section-more-jobs">
    <div class="container">
        <h2>
            Більше
            <span>робіт</span>
        </h2>
        <ul class="section-nore-jobs--list">
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div>
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/1.png" alt="">
                </div>
                <h3>Внутрішнє очищення фар Opel Insignia з поліруванням скла</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток оптика
                автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття і власник
                автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Профілактика автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/2.png" alt="">
                </div>
                <h3>Полірування автомобільних фар Ford Focus</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Шліфування та полірування автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/3.png" alt="">
                </div>
                <h3>Заміна скла автомобільних фари Lexus ES 350</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/4.png" alt="">
                </div>
                <h3>Заміна скла передної фари Jeep Cherokee MK1</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/5.png" alt="">
                </div>
                <h3>Заміна линз на линзи BI-LED у фараз автомобіля Porsche Cayenne</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <a href="" class="section-more-jobs--all-jobs-link">
                    <svg>
                        <use href="./images/icons.svg#right"></use>
                    </svg>
                    Усі роботи
                </a>
            </li>
        </ul>
        <div class="section-more-jobs--mobile-nav-buttons">
            <button class="more">
                <svg>
                    <use href="./images/icons.svg#refresh"></use>
                </svg>
                Більше робіт
            </button>
            <div>
                <button class="left">
                    <svg>
                        <use href="./images/icons.svg#preworius"></use>
                    </svg>
                </button>
                <button class="right">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>