<section class="section-about-light">
    <div class="container">
        <h2>
            Про
            <span>Автосвітло</span>
        </h2>
        <ul class="section-about-light--list">
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Світло</span>
                        </li>
                        <li>
                            <span>Електрика</span>
                        </li>
                        <li>
                            <span>BMW</span>
                        </li>
                    </ul>
                    <h3>Самостійне полірування фар, наслідки</h3>
                    <p>Шановні автовласники, ми також хочемо заощадити ваші фінансові ресурси та час. Хочемо щоб у вас було все
                        добре з
                        автосвітлом,</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-1.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li class="section-about-light--star-icon">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </li>
                        <li>
                            <span>Світло</span>
                        </li>
                        <li>
                            <span>Електрика</span>
                        </li>
                        <li>
                            <span>BMW</span>
                        </li>
                    </ul>
                    <h3>Заміна автоламп</h3>
                    <p>Перегоріла лампочка в автомобілі, і це дрібниця відповість більшість автовласників, навіщо відвідувати сервіс автосвітла
                    або СТО, а також чекати планового ТО автомобіля, де з низкою робіт з обслуговування автомобіля, здійснять фахівці і
                    заміну автолампи, що перегоріла.
                    
                    Адже просто більшість автовласників під час виходу з ладу автолампи вирушать до спеціалізованого магазину, де
                    представлені автомобільні лампи у найширшому виборі.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-2.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Світло</span>
                        </li>
                        <li>
                            <span>Електрика</span>
                        </li>
                        <li>
                            <span>Мaserati</span>
                        </li>
                    </ul>
                    <h3>Звуковий парктронік або парктронік із використанням камер</h3>
                    <p>Сьогодні після чергової встановленої паркувальної системи допомоги водієві вирішили висловити свою думку щодо системи
                    паркування.
                    
                    Що краще звуковий парктронік чи камера заднього виду?
                    
                    Ось одне із питань, яке доводиться постійно чути від водіїв, які вирішили встановити хоч щось, для надання допомоги при
                    паркуванні, на автомобілі заднім ходом.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-3.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Електрика</span>
                        </li>
                    </ul>
                    <h3>Класифікація всіх встановлюваних ламп у легкових, вантажних автомобілях та мотоциклах</h3>
                    <p>При цьому є два шляхи вирішення цієї проблеми:
                    • Перший шлях – при виявленні несправності зі світлом автомобіля вирушить у спеціалізоване СТО. Де фахівці витягнуть
                    лампу, що перегоріла, визначать її маркування і встановлять аналогічну.
                    
                    • Другий шлях – заміна лампочок власними силами. Виймаємо лампу, потім із нею вирушаємо купувати новою.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-4.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Світло</span>
                        </li>
                        <li>
                            <span>Електрика</span>
                        </li>
                        <li>
                            <span>BMW</span>
                        </li>
                    </ul>
                    <h3>Регулировка фар на лазерно-оптическом оборудование</h3>
                    <p>Точне налаштування роботи фар автомобіля за допомогою оптико-механічного приладу контролю та регулювання світла фар
                    PH2066/D/L2W.T. Engineering S.r.l.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-5.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Світло</span>
                        </li>
                    </ul>
                    <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                    <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує деяких знань
                    деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-6.png" alt="">
                </div>
            </li>
        </ul>
        <a href="" class="section-services--more-services">
            <svg>
                <use href="./images/icons.svg#eye"></use>
            </svg>
            Більше статей
        </a>
        <div class="section-more-jobs--mobile-nav-buttons">
            <button class="more">
                <svg>
                    <use href="./images/icons.svg#refresh"></use>
                </svg>
                Більше робіт
            </button>
            <div>
                <button class="left">
                    <svg>
                        <use href="./images/icons.svg#preworius"></use>
                    </svg>
                </button>
                <button class="right">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>