<section class="section--exsample container">
    <ul>
        <li>
            <img src="./images/exsample-1.png" alt="" class="big">
            <img src="./images/exsample-small-1.png" alt="" class="small">
            <div class="section--exsample-notification first" onclick="">
                <div class="section--exsample-notification-text">
                    <p>Проведено роботи з полірування скла автомобільнї фари</p>
                    <a href="">
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </a>
                    <div class="section--exsample-notification-arrow"></div>
                </div>
                <div class="section--exsample-notification-point">
                    <svg class="footer--icon-cross">
                        <use href="./images/icons.svg#plus-one"></use>
                    </svg>
                </div>
            </div>
            <div class="section--exsample-notification second" onclick="">
                <div class="section--exsample-notification-text">
                    <p>Проведено роботи з полірування скла автомобільнї фари</p>
                    <a href="">
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </a>
                    <div class="section--exsample-notification-arrow"></div>
                </div>
                <div class="section--exsample-notification-point">
                    <svg class="footer--icon-cross">
                        <use href="./images/icons.svg#plus-one"></use>
                    </svg>
                </div>
            </div>
        </li>
        <li>
            <img src="./images/exsample-2.png" alt="" class="big">
            <img src="./images/exsample-small-2.png" alt="" class="small">
            <div class="section--exsample-notification three" onclick="">
                <div class="section--exsample-notification-text">
                    <p>Проведено роботи з полірування скла автомобільнї фари</p>
                    <a href="">
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </a>
                    <div class="section--exsample-notification-arrow"></div>
                </div>
                <div class="section--exsample-notification-point">
                    <svg class="footer--icon-cross">
                        <use href="./images/icons.svg#plus-one"></use>
                    </svg>
                </div>
            </div>
            <div class="section--exsample-notification four" onclick="">
                <div class="section--exsample-notification-text">
                    <p>Проведено роботи з полірування скла автомобільнї фари</p>
                    <a href="">
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </a>
                    <div class="section--exsample-notification-arrow"></div>
                </div>
                <div class="section--exsample-notification-point">
                    <svg class="footer--icon-cross">
                        <use href="./images/icons.svg#plus-one"></use>
                    </svg>
                </div>
            </div>
        </li>
        <li>
            <img src="./images/exsample-3.png" alt="" class="big">
            <img src="./images/exsample-small-3.png" alt="" class="small">
            <div class="section--exsample-notification five" onclick="">
                <div class="section--exsample-notification-text">
                    <p>Проведено роботи з полірування скла автомобільнї фари</p>
                    <a href="">
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </a>
                    <div class="section--exsample-notification-arrow"></div>
                </div>
                <div class="section--exsample-notification-point">
                    <svg class="footer--icon-cross">
                        <use href="./images/icons.svg#plus-one"></use>
                    </svg>
                </div>
            </div>
        </li>
        <li>
            <img src="./images/exsample-4.png" alt="" class="big">
            <img src="./images/exsample-small-4.png" alt="" class="small">
            <div class="section--exsample-notification six" onclick="">
                <div class="section--exsample-notification-text">
                    <p>Проведено роботи з полірування скла автомобільнї фари</p>
                    <a href="">
                        <a href="/" class="footer--link">
                            <div class="footer--icon-wrap">
                                <svg class="footer--icon-cross">
                                    <use href="./images/icons.svg#plus-one"></use>
                                </svg>
                                <img src="./images/+.svg" alt="" class="footer--icon-minus">
                            </div>
                            Детальніше
                        </a>
                    </a>
                    <div class="section--exsample-notification-arrow"></div>
                </div>
                <div class="section--exsample-notification-point">
                    <svg class="footer--icon-cross">
                        <use href="./images/icons.svg#plus-one"></use>
                    </svg>
                </div>
            </div>
        </li>
    </ul>
    <div class="service--hero-button-wrap left">
        <button class="service--hero-button">
            <svg>
                <use href="./images/icons.svg#arrow-left"></use>
            </svg>
        </button>
    </div>
    <span class="section--exsample-numbers"><span class="section--exsample-numbers-page">1</span>/4</span>
    <div class="service--hero-button-wrap right">
        <button class="service--hero-button">
            <svg>
                <use href="./images/icons.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</section>