<section class="section-request">
    <div class="container">
        <div class="section-request--text-wrap">
            <h4>Запит</h4>
            <ul>
                <li>
                    <p class="section-request--text"><span>*</span> якщо у вас виникли питання щодо роботи
                    чи справності світла вашого автомобіля</p>
                </li>
                <li>
                    <p class="section-request--text"><span>*</span> якщо ви хочете дізнатися про вартість виконання робіт з ремонту автомобільної оптики або автосвітла.</p>
                </li>
                <li>
                    <p class="section-request--text"><span>*</span> також різні пропозиції, ми будемо раді розглянути їх, і негайно надати вам вичерпну інформацію. Для цього
                        заповніть
                        форму.</p>
                </li>
            </ul>
        </div>
        <form action="" class="section-request--form">
            <input type="text" class="section-request--user-data" placeholder="Імʼя">
            <input type="text" class="section-request--user-data" placeholder="Номер телефону">
            <!-- <input type="text" placeholder="Запит" class="section-request--request-text"> -->
            <textarea name="" id="" cols="30" rows="10" placeholder="Запит" class="section-request--request-text"></textarea>
            <p class="section-request--legal"><span>*</span>Заповніть обов’язково поля Імʼя та Номер телефону, або <a href="">авторизуйтесь на сайті</a> для автозаповення персональних даних.
            Надсилаючи цю форму, ви погоджуєтеся з <a href="">Політикою конфіденційності</a> та <a href="">Умовами використання</a>.</p>
            <button class="section-request--submit">Надіслати запит</button>
        </form>
    </div>
</section>