<section class="section-services">
    <div class="container">
        <h2>НАШІ
            <span>ПОСЛУГИ</span>
        </h2>
        <div>
            <p>
                Ми є спеціалізованим автотехцентром у Києві з ремонту та тюнінгу автомобільної оптики, відновлення та
                модернізації
                автосвітла.
            </p>
            <p>
                Усі види послуг виконуються висококваліфікованими спеціалістами.
            </p>
        </div>
        <ul class="section-services--list">
            <li>
                <div class="section-services--text-wrap">
                    <p>
                        <span>01</span>
                        /13</p>
                    <h3>Регулювання фар на лазерно-оптичному обладнанні</h3>
                    <p class="section-services--list-description">Точне налаштування роботи фар автомобіля за допомогою оптико-механічного приладу контролю та регулювання світла фар
                    PH2066/D/L2W.T. Engineering S.r.l.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <img src="./images/adjustment.png" alt="" class="big">
                <img src="./images/bg-img (1).png" alt="" class="small">
            </li>
            <li>
                <div class="section-services--text-wrap">
                    <p>
                        <span>02</span>
                        /13</p>
                    </p>
                    <h3>Led технології центрального стоп сигналу (CHMSL)</h3>
                    <p class="section-services--list-description">Фахівці сервісу автомобільного світла
                    Сar Light Design здійснюють для автовласників
                    бюджетної комплектації автомобіля, послуги з модернізації світла центрального стоп-сигналу (CHMSL) з використанням Led
                    технологій.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <img src="./images/bground-big/img-right (3).png" alt="" class="big">
                <img src="./images/bg-img.png" alt="" class="small">
            </li>
            <li>
                <div class="section-services--text-wrap">
                    <p><span>03</span>
                    /13</p></p>
                    <h3>Послуги кваліфікованого автоелектрика</h3>
                    <p class="section-services--list-description">Сучасні автомобілі використовують у своєму функціоналі все більше і більше електроніки для підвищення комфорту їзди та
                    безпеки.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <img src="./images/bground-big/img-right (4).png" alt="" class="big">
                <img src="./images/bg-img (2).png" alt="" class="small">
            </li>
        </ul>
        <a href="" class="section-services--more-services">
            <svg>
                <use href="./images/icons.svg#eye"></use>
            </svg>
            Більше послуг
        </a>
    </div>
</section>