<section class="section-questions">
    <div class="container">
        <h2>
            ПИТАННЯ,
            <span>
                ЩО ЧАСТО ЗАДАЮТЬ
            </span>
        </h2>
        <ul class="section-questions--list">
            <li class="section-questions--item active">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                <div class="section-questions--icon-wrap">
                    <svg class="section-questions--icon">
                        <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                        <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                    </svg>
                </div>
                <p class="section-questions--ansver">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </li>
            <li class="section-questions--item active">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                <div class="section-questions--icon-wrap">
                    <svg class="section-questions--icon">
                        <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                        <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                    </svg>
                </div>
                <p class="section-questions--ansver">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </li>
            <li class="section-questions--item active">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                <div class="section-questions--icon-wrap">
                    <svg class="section-questions--icon">
                        <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                        <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                    </svg>
                </div>
                <p class="section-questions--ansver">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </li>
            <li class="section-questions--item active">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                <div class="section-questions--icon-wrap">
                    <svg class="section-questions--icon">
                        <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                        <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                    </svg>
                </div>
                <p class="section-questions--ansver">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </li>
            <li class="section-questions--item active">
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h3>
                <div class="section-questions--icon-wrap">
                    <svg class="section-questions--icon">
                        <use href="./images/icons.svg#plus-two" class="section-questions--icon-plus"></use>
                        <use href="./images/icons.svg#minus" class="section-questions--icon-minus"></use>
                    </svg>
                </div>
                <p class="section-questions--ansver">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis
                    aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                    sint
                    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </li>
        </ul>
    </div>
</section>