<section class="section-description">
    <div class="container">
        <div class="section-description--text-wrap">
            <p class="section-description--secondary-text">
                Якщо світло автомобіля не дає вже потрібної освітленості дороги, і ви не знаєте, як вчинити, міняти лампочки або
                купувати нову авто оптику, або в гіршому випадку вживаних фар на авторозбиранні...
            </p>
            <p class="section-description--main-text">
                Ми допоможемо вам у більшості випадків відновити світло автомобіля за невеликі гроші, в порівнянні з придбан-ням навіть
                вживаних фар на авторозбиранні.
            </p>
        </div>
        <div class="section-description--image-wrap">
            <img src="./images/lamp.png" alt="">
        </div>
    </div>
</section>