<div class="page-title">
    <div class="container">
        <div class="page-title--navigation">
            <ul class="bread-crumbs">
                <li>
                    <a href="/">
                        <svg>
                            <use href="./images/icons.svg#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">Політика конфіденційності</a>
                </li>
            </ul>
            <a href="" class="page-title--back">
                <svg>
                    <use href="./images/icons.svg#left"></use>
                </svg>
                Назад
            </a>
        </div>
        <h1>Політика конфіденційності</h1>
    </div>
</div>
<div class="offer-page">
    <div class="container">
        <ul class="offer-page--content">
            <li>
                <h3>1. Загальні положення</h3>
                <div>
                    <p>Сайт – сайт, розташований в мережі Інтернет за адресою: https://avesauto.ua
                    </p>
                    <p>Адміністрація Сайту – СПД Якименко А. А.
                    </p>
                    <p>
                        Користувач – фізична або юридична особа, що розмістила свою персональну інформацію за допомогою Форми зворотного
                        зв'язку на сайті з метою подальшої передачі даних Адміністрації Сайту.
                    </p>
                    <p>
                        Форма зворотного зв'язку – спеціальна форма, де Користувач розміщує свою персональну інформацію з метою передачі даних
                        Адміністрації Сайту.
                    </p>
                </div>
            </li>
            <li>
                <h3>2. Загальні положення</h3>
                <div>
                    <p>
                        2.1. Ця Політика конфіденційності є офіційним типовим документом Адміністрації Сайту і визначає порядок обробки і
                        захисту інформації про фізичних та юридичних осіб, що використовують Форму зворотного зв'язку на Сайті.
                    </p>
                    <p>
                        2.2. Метою цієї Політики конфіденційності є забезпечення належного захисту інформації про Користувача, в т. ч. його
                        персональних даних від несанкціонованого доступу або розголошення.
                    </p>
                    <p>
                        2.3. Відносини, пов'язані зі збором, зберіганням, поширенням та захистом інформації про користувачів регулюються цією
                        Політикою конфіденційності та чинним законодавством України.
                    </p>
                    <p>
                        2.4. Чинна редакція Політики конфіденційності, є публічним документом, розроблена Адміністрацією Сайту і доступна
                        будь-якому Користувачеві мережі Інтернет при переході по гіпертекстовим посиланням «Політика конфіденційності».
                    </p>
                    <p>
                        2.5. Адміністрація Сайту має право вносити зміни в дану Політику конфіденційності.
                    </p>
                    <p>
                        2.6. При внесенні змін у Політику конфіденційності, Адміністрація Сайту повідомляє про це Користувача шляхом розміщення
                        нової редакції Політики конфіденційності на Сайті.
                    </p>
                    <p>
                        2.7. При розміщенні нової редакції Політики конфіденційності на Сайті, попередня редакція зберігаються в архіві
                        документації Адміністрації Сайту.
                    </p>
                    <p>
                        2.8. Використовуючи Форму зворотного зв'язку, Користувач висловлює свою згоду з умовами цієї Політики конфіденційності.
                    </p>
                    <p>
                        2.9. Адміністрація Сайту не перевіряє достовірність одержуваної (збирається) інформації про Користувача.
                    </p>
                </div>
            </li>
            <li>
                <h3>3. Умови і мету збору та обробки персональних даних користувача</h3>
                <div>
                    <p>
                        3.1. Персональні дані Користувача, такі як: ім'я, прізвище, по батькові, e-mail, телефон та ін., передаються
                        Користувачем Адміністрації Сайту згоди Користувача.
                    </p>
                    <p>
                        3.2. Передача персональних даних Користувачем Адміністрації Сайту, через Форму зворотного зв'язку означає згоду
                        Користувача на передачу його персональних даних.
                    </p>
                    <p>
                        3.3. Адміністрація Сайту здійснює обробку інформації про Користувача, в т. ч. його персональних даних, таких як: ім'я,
                        прізвище, по батькові, e-mail, телефон і ін, а також додаткової інформації про Користувача, що надається їм за своїм
                        бажанням з метою виконання зобов'язань перед Користувачем Сайту.
                    </p>
                    <p>
                        3.4. Обробка персональних даних здійснюється на основі принципів: а) законності цілей і способів обробки персональних
                        даних та добросовісності; б) відповідності цілей обробки персональних даних цілям, визначеним заздалегідь і заявленим
                        при зборі персональних даних; в) відповідності обсягу і характеру оброблюваних персональних даних способів обробки
                        персональних даних та цілей обробки персональних даних; г) неприпустимість об'єднання створених для несумісних між собою
                        цілей баз даних, що містять персональні дані.
                    </p>
                    <p>
                        3.5. Адміністрація Сайту здійснює обробку персональних даних Користувача з його згоди в цілях надання послуг, продажу
                        товарів, пропонованих на Сайті.
                    </p>
                </div>
            </li>
            <li>
                <h3>4. Зберігання і використання персональних даних</h3>
                <div>
                    <p>
                        Персональні дані Користувача зберігаються виключно на електронних носіях і використовуються суворо за призначенням,
                        визначеним у п. 3 цієї Політики конфіденційності.
                    </p>
                </div>
            </li>
            <li>
                <h3>5. Передача персональних даних</h3>
                <div>
                    <p>
                        5.1. Персональні дані не передаються третім особам, за винятком випадків, прямо передбачених цією Політикою
                        конфіденційності.
                    </p>
                    <p>
                        5.2. Надання персональних даних Користувача за запитом державних органів, органів місцевого самоврядування здійснюється
                        в порядку, передбаченому законодавством України.
                    </p>
                </div>
            </li>
            <li>
                <h3>6. Терміни зберігання та змищення персоналиних даних</h3>
                <div>
                    <p>
                        6.1. Персональні дані Користувача зберігаються на електронному носії сайту безстроково.
                    </p>
                    <p>
                        6.2. Персональні дані Користувача знищуються при бажанні самого користувача на підставі його звернення, або за
                        ініціативою Адміністратора сайту без пояснення причин шляхом видалення Адміністрацією Сайту інформації, розміщеної
                        Користувачем.
                    </p>
                </div>
            </li>
            <li>
                <h3>7. Права та обовʼязки користувача</h3>
                <div>
                    <p>
                        Користувачі мають право на підставі запиту отримувати від Адміністрації Сайту інформацію, що стосується обробки
                        персональних даних.
                    </p>
                </div>
            </li>
            <li>
                <h3>8. Заходи щодо захисту інформації про користувача</h3>
                <div>
                    <p>
                        Адміністратор Сайту приймає технічні та організаційно-правові заходи з метою забезпечення захисту персональних даних від
                        неправомірного або випадкового доступу до них, знищення, зміни, блокування, копіювання, розповсюдження, а також інших
                        неправомірних дій.
                    </p>
                </div>
            </li>
            <li>
                <h3>9. Звернення користувача</h3>
                <div>
                    <p>
                        9.1. Користувач має право направляти Адміністрації Сайту свої запити, в т. ч. щодо використання/видалення його
                        персональних даних, передбачені п. 3 цієї Політики конфіденційності в письмовій формі за адресою, вказаною в п. 1.
                    </p>
                    <p>
                        9.2. Запит, що направляється Користувачем, повинен містити наступну інформацію:
                        
                        <span>Для фізичної особи:</span>
                        <br>– номер основного документа, що посвідчує особу Користувача або його представника;
                        <br>– відомості про дату видачі зазначеного документа й видав його органі;– дату реєстрації через Форму зворотного зв'язку;
                        <br>– текст запиту у вільній формі;
                        <br>– підпис Користувача або його представника.
                        
                        <span>Для юридичної особи:</span>
                        <br>– запит у довільній формі на фірмовому бланку;
                        <br>– дата реєстрації через Форму зворотного зв'язку;
                        <br>– запит повинен бути підписаний уповноваженою особою з додатком документів, що підтверджують повноваження особи.
                    </p>
                    <p>
                        9.3. Адміністрація Сайту зобов'язується розглянути і направити відповідь на запит Користувача протягом 30 днів з моменту
                        надходження звернення.
                    </p>
                    <p>
                        9.4. Вся кореспонденція, отримана Адміністрацією від Користувача (звернення у письмовій/електронній формі) належить до
                        інформації обмеженого доступу та без письмової згоди Користувача розголошенню не підлягає. Персональні дані та інша
                        інформація про Користувача, направившем запит, не може бути без спеціальної згоди Користувача використані інакше, як для
                        відповіді по темі отриманого запиту або у випадках, прямо передбачених законодавством.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>