.section-best{
    margin-top: 190px;
   
    @media (max-width: 767px) {
        margin-top: 98px;
    }

    & h2{
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        text-transform: uppercase;
        color: #F1DD23;
        position: relative;
        z-index: 2;


        @media (max-width: 1399px) {
            font-size: 32px;
            line-height: 40px;
        }

        & span{
            color: #FFFFFF;
        }
    }

    
}

.section-best .section--services-more {
    margin-top: 65px;
    width: 137px;
    display: flex;
    position: relative;
    z-index: 2;

    @media (max-width: 767px) {
        display: none;
    }
}

.section-best .container{
    padding-top: 96px;
    padding-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #151617;
    border-radius: 40px;
    position: relative;
    overflow: hidden;

    @media (max-width: 767px) {
        display: block;
    }

    & ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 00px;
        position: relative;
        z-index: 2;

        @media (max-width: 767px) {
            justify-items: center;
            margin-top: 56px;
            gap: 24px;
        }
    }
}

.section-best--item{

    @media (max-width: 767px) {
        max-width: 163px;
        padding: 16px;
        background: #0A0A0A;
            border-radius: 10px;
    }

    & img{
        width: 64px;
        height: 64px;

        @media (max-width: 767px) {
            width: 52px;
            height: 52px;
        }
    }

    & p{
        font-style: medium;
        font-size: 16px;
        line-height: 24px;
        color: #FFFFFF;
        max-width: 180px;
        margin-top: 25px;

        @media (max-width: 1399px) {
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.02em;
        }
    }
}

.section-best .bg-animation{
    position: absolute;
    filter: blur(27px);
    top: -500px;
    left: 0;
    z-index: 1;

    transition-property: transform, top, left, right;
    transition-duration: 7000ms;
    transition-delay: 0;

    @media (max-width: 767px) {
        top: -300px;
        left: -800px;
    }

    &.left{
        top: -400px;
        left: -1100px;
        transform: rotate(47deg);

        @media (max-width: 767px) {
            left: -1400px;
        }
    }

    &.bottom{
        transform: rotate(107deg);
        top: 20px;
        left: -200px;

        @media (max-width: 767px) {
            top: 500px;
            left: -800px;
        }
    }
}