.section-description{
    margin-top: 190px;

    @media (max-width: 767px) {
        margin: 0;
        padding-top: 80px;
    }
}

.section-description .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 25px;
    align-items: center;

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column-reverse;
    }
}

.section-description--image-wrap{
    width: 100%;
    height: fit-content;
    padding-left: 86px;
    padding-top: 86px;
    background-color: #151617;
    border-radius: 20px;
    overflow: hidden;

    @media (max-width: 767px) {
        padding: 0;
        min-height: 320px;
        display: flex;
        align-items: flex-end;
    }

    & img{
        display: block;
        margin: 0;
        margin-left: auto;
        max-height: 494px;
        width: 100%;
        height: auto;

        @media (max-width: 767px) {
            width: 80%;
        }
    }
}

.section-description--secondary-text{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-indent: 100px;
    color: #FFFFFF;

    @media (max-width: 1399px) {
        font-size: 14px;
        line-height: 24px;
        text-indent: 0;
    }
}

.section-description--main-text{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-indent: 110px;
    color: #FFFFFF;

    margin-top: 95px;

    @media (max-width: 1399px) {
        font-size: 16px;
        line-height: 24px;
        text-indent: 0;
        margin-top: 24px;
    }
}

.section-description--text-wrap{
    padding: 86px 98px;

    @media (max-width: 1399px) {
        padding: 0;
    }

    @media (max-width: 767px) {
        
        margin-top: 56px;
    }
}