.hero{
    position: relative;

    & h2{
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
        color: #F1DD23;
        max-width: 524px;
        text-transform: uppercase;

        @media (max-width: 1399px) {
            font-size: 32px;
            line-height: 40px;
            max-width: 375px;
        }

        @media (max-width:767px) {
            
            margin: auto;
            text-align: center;
        }

        & span{
            color: #FFFFFF;
        }
    }

    & p{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        max-width: 519px;
        margin-top: 40px;

        @media (max-width: 1399px) {
            font-size: 14px;
            line-height: 24px;
            letter-spacing: 0.04em;
            max-width: 375px;
        }

        @media (max-width: 767px) {
            
            margin: auto;
            margin-top: 24px;
            
        }
    }
}

.hero .container{
    @media (max-width:767px) {
        background-image: url('./images/hero.png');
        background-position: bottom 0px right 0px;
        background-size: auto 60%;
        background-repeat: no-repeat;
    }
}

.hero--wrap{
        background-image: url('./images/hero.png');
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: right;
        padding-left: 60px;
        padding-top: 168px;
        padding-bottom: 168px;

        @media (max-width: 767px) {
            padding: 0;
            padding-bottom: 118px;
            background-image: none;
        }
        
}

.hero--termine,
.hero--works{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px 30px;
    border-radius: 10px;

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;

    transition-property: background-color, color;
    transition-duration: 500ms;
    transition-delay: 0;

    @media (max-width:767px) {
        width: 172px;
        height: 40px;
        font-size: 12px;
        line-height: 18px;

    }
}

.hero--termine{
    background-color: #F1DD23;
    border: 1.5px solid #F1DD23;
    color: #0A0A0A;

    &:hover,
    :focus {
        background-color: transparent;
        color: #F1DD23;
    }
}

.hero--works {
    background-color: transparent;
    border: 1.5px solid #FFFFFF;
    color: #FFFFFF;
    margin-left: 25px;

    &:hover,
    :focus {
        background-color: #FFFFFF;
        color: #0A0A0A;
    }
}

.hero--links{
    display: flex;
    margin-top: 80px;

    @media (max-width: 767px) {
        justify-content: center;
        margin-top: 340px;
        z-index: 3;
    }
}

.hero-blur{
    display: none;
    
    @media (max-width:767px) {
        z-index: 1;
        display: block;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 112px;
        background: linear-gradient(0deg, #0A0A0A 4.46%, rgba(10, 10, 10, 0) 100%);
    }

    &.second{
        @media (max-width:767px) {
            z-index: 1;
            display: block;
            position: absolute;
            bottom: 46%;
            width: 100%;
            height: 112px;
            background: linear-gradient(180deg, #0A0A0A 4.46%, rgba(10, 10, 10, 0) 100%);
        }
    }
}