.section--exsample{
    position: relative;
    margin-top: 190px;

    @media (max-width: 767px) {
        margin: 0;
        margin: auto;
        padding-top: 80px;
    }

    & ul{
        display: flex;
        width: 100%;
        overflow: hidden;
        border-radius: 20px;
        flex-shrink: 0;

        @media (max-width: 767px) {
            margin: auto;
                border-radius: 15px;
                // max-width: 350px;
            }
    }

    & li{
        position: relative;
        width: 100%;
        height: auto;
        flex-shrink: 0;

        transition-property: transform;
        transition-duration: 500ms;
        transition-delay: 0;
        display: block;


        & img{
            
            width: 100%;
            object-fit: cover;

            @media (max-width: 767px) {
                height: 528px;
            }

            &.big{
                display: block;

                // @media (max-width: 767px) {
                //     display: none;
                // }
            }

            &.small {
                display: none;

            //     @media (max-width: 767px) {
            //         display: block;
            //     }
            }
        }
    }
}

.section--exsample-notification-text{
    display: block;
    width: 196px;
    padding: 16px 18px;
    background-color: #FFFFFF;
    box-shadow: 0px 2px 4px -2px rgba(138, 138, 156, 0.12), 0px 4px 4px -2px rgba(138, 138, 156, 0.08);
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    opacity: 0;
    z-index: -1;

    transition-property: opacity;
    transition-duration: 500ms;
    transition-delay: 0;


    & p{
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.02em;
        color: #0A0A0A;
    }
}

.section--exsample-notification-text .footer--link{
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: #8A8A9C;
    margin: auto;
    width: fit-content;
    margin-top: 10px;

    transition-property: color;
    transition-duration: 500ms;
    transition-delay: 0;

    &:hover{
        color: #0A0A0A;
    }
}

.section--exsample-notification-arrow{
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%) rotate(45deg);
    background-color: #FFFFFF;
}

.section--exsample-notification-point{
    display: block;
    margin-top: 10px;
    width: 64px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.25);
    border: 2px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition-property: border, background-color;
    transition-duration: 500ms;
    transition-delay: 0;

    @media (max-width: 767px) {
        width: 40px;
        height: 40px;
    }

    & svg{
        fill: #FFFFFF;
        width: 12px;
        height: 12px;
    }
}

.section--exsample-notification{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
   
    &.first{
        top: 20%;
        left: 15%;

        @media (max-width: 767px) {
            top: 45%;

            &>.section--exsample-notification-text{
                transform: translate(-30%, -100%);

                &>.section--exsample-notification-arrow {
                    left: 30%;
                }
            }
        }
    }

    &.second{
        left: 60%;
        top: 70%;
        
        @media (max-width: 767px) {
            left: 67%;
            top: 77%;

            &>.section--exsample-notification-text {
                transform: translate(-60%, -100%);
        
                &>.section--exsample-notification-arrow {
                    left: 60%;
                }
            }
        }
    }
    &.three{
        left: 60%;
        top: 20%;

        @media (max-width: 767px) {
            left: 17%;
            top: 11%;

            &>.section--exsample-notification-text {
                transform: translate(-30%, 60%);
        
                &>.section--exsample-notification-arrow {
                    left: 30%;
                    top: -9%;
                }
            }
        }
    }
    &.four{
        left: 35%;
        top: 67%;

        @media (max-width: 767px) {
            left: 69%;
            top: 45%;

            &>.section--exsample-notification-text {
                transform: translate(-60%, -100%);
        
                &>.section--exsample-notification-arrow {
                    left: 60%;
                }
            }
        }
    }
    &.five {
        left: 60%;
        top: 18%;

        @media (max-width: 767px) {
            left: 70%;
            top: 44%;

            &>.section--exsample-notification-text {
                transform: translate(-60%, -100%);
        
                &>.section--exsample-notification-arrow {
                    left: 60%;
                }
            }
        }
    }
    &.six {
        left: 60%;
        top: 68%;

        @media (max-width: 767px) {
            left: 70%;
            top: 80%;

            &>.section--exsample-notification-text {
                transform: translate(-60%, -100%);
        
                &>.section--exsample-notification-arrow {
                    left: 60%;
                }
            }
        }
    }
}

.section--exsample-notification:hover .section--exsample-notification-point,
.section--exsample-notification:active .section--exsample-notification-point{
        background-color: transparent;
        border: 2px solid #FFFFFF;
}

.section--exsample-notification:hover .section--exsample-notification-text,
.section--exsample-notification:active .section--exsample-notification-text{
    opacity: 1;
    z-index: 99;
}

.section--exsample-numbers{
    display: none;
    @media (max-width: 767px) {
        text-align: center;
        display: block;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        z-index: 99;
        color: #8A8A9C;
        margin-top: 22px;
    }
}

.section--exsample-numbers-page{
    color: #FFFFFF;
}

.section--exsample .service--hero-button-wrap{
    @media (max-width: 767px) {
        bottom: 12px;
        width: 40px;
        height: 40px;
    }
}

.section--exsample .service--hero-button{
    @media (max-width: 767px) {
        width: 32px;
        height: 32px;

        & svg{
            width: 8px;
            height: 8px;
        }
    }
}




