* {
    box-sizing: border-box;
    // outline: 1px solid tomato;
}

html {
    scroll-behavior: smooth;
}


body {
    margin: 0;
    background-color: #151617;
    position: static;

    &.main{
        background-color: #0A0A0A;
    }
}

button {
    &:hover {
        cursor: pointer;
    }
}

a,
p,
h1,
h2,
h3,
h4,
span,
input,
textarea {
    font-family: 'Montserrat';
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ul {
    list-style: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

ol {
    padding-inline-start: 0;
}

a {
    text-decoration: none;
}

section {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
}


@import './sass/container';
@import './sass/header';
@import './sass/footer';
@import './sass/drop-call';
@import './sass/cookies';
@import './sass/main/hero';
@import './sass/main/section-services';
@import './sass/main/description';
@import './sass/main/section-exsample';
@import './sass/main/more-jobs';
@import './sass/main/best-section';
@import './sass/main/section-about';
@import './sass/main/section-questions';
@import './sass/main/section-request';
@import './sass/page-title';
@import './sass/offer/offer-page';
@import './sass/404/404-page';
@import './sass/contacts/contacts-page';
@import './sass/services/services-page';
@import './sass/sort/sort-page';
@import './sass/catalog/catalog-page';
@import './sass/blog/blog-page';
@import './sass/blog/blog-article';
@import './sass/services/service';
@import './sass/job/job-page';
@import './sass/cabinet/cabinet';
@import './sass/cabinet/cabinet-full';
@import './sass/header-mobile';
@import './sass/footer-mobile';
@import './sass/drop-auth';
@import './sass/drop-thx';
@import './sass/custom-scrollbar';