<div class="page-title">
    <div class="container">
        <div class="page-title--navigation">
            <ul class="bread-crumbs">
                <li>
                    <a href="/">
                        <svg>
                            <use href="./images/icons.svg#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">Сортування по тегу</a>
                </li>
            </ul>
            <a href="" class="page-title--back">
                <svg>
                    <use href="./images/icons.svg#left"></use>
                </svg>
                Назад
            </a>
        </div>
        <div class="page-title--title-wrap">
            <h1>Сортування по тегу</h1>
            <div class="page-title--tag">
                <span>Тонування задніх фар</span>
                <button>
                    <svg>
                        <use href="./images/icons.svg#cross"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="sort-page">
    <div class="container">
        <h3 class="sort-page--title">Виконані роботи</h3>
        <ul class="section-about-light--list">
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon hidden">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Самостійне полірування фар, наслідки</h3>
                    <p>Шановні автовласники, ми також хочемо заощадити ваші фінансові ресурси та час. Хочемо щоб у вас було все
                        добре з
                        автосвітлом,</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-4.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Звуковий парктронік або парктронік із використанням камер</h3>
                    <p>Сьогодні після чергової встановленої системи паркування допомоги водію вирішили висловити свою думку про
                        систему
                        паркування.
        
                        Що краще звуковий парктронік чи камера заднього виду?
        
                        Ось одне із питань, яке доводиться постійно чути від водіїв, які вирішили встановити хоч щось для
                        надання допомоги при
                        паркуванні, на автомобілі заднім ходом.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-3.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon hidden">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                    <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                        деяких знань
                        деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-6.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon hidden">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Класифікація всіх встановлюваних ламп у легкових, вантажних автомобілях та мотоциклах</h3>
                    <p>При цьому є два шляхи вирішення цієї проблеми:
                        • Перший шлях – при виявленні несправності зі світлом автомобіля вирушить у спеціалізоване СТО. Де
                        фахівці витягнуть
                        лампу, що перегоріла, визначать її маркування і встановлять аналогічну.
        
                        • Другий шлях – заміна лампочок власними силами. Виймаємо лампу, потім із нею вирушаємо купувати новою.
                    </p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-7.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon hidden">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                    <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                        деяких знань
                        деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-6.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon hidden">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                    <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                        деяких знань
                        деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-7.png" alt="">
                </div>
            </li>
        </ul>
        <ul class="section-nore-jobs--list">
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div>
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/1.png" alt="">
                </div>
                <h3>Внутрішнє очищення фар Opel Insignia з поліруванням скла</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Профілактика автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/2.png" alt="">
                </div>
                <h3>Полірування автомобільних фар Ford Focus</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Шліфування та полірування автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/3.png" alt="">
                </div>
                <h3>Заміна скла автомобільних фари Lexus ES 350</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/4.png" alt="">
                </div>
                <h3>Заміна скла передної фари Jeep Cherokee MK1</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/5.png" alt="">
                </div>
                <h3>Заміна линз на линзи BI-LED у фараз автомобіля Porsche Cayenne</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <a href="" class="section-more-jobs--all-jobs-link">
                    <svg>
                        <use href="./images/icons.svg#right"></use>
                    </svg>
                    Усі роботи
                </a>
            </li>
        </ul>
        <a href="" class="section-services--more-services first">
            <svg>
                <use href="./images/icons.svg#refresh"></use>
            </svg>
            Завантажити ще
        </a>
        <h3 class="sort-page--title">Блог</h3>
        <ul class="section-about-light--list">
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon hidden">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Самостійне полірування фар, наслідки</h3>
                    <p>Шановні автовласники, ми також хочемо заощадити ваші фінансові ресурси та час. Хочемо щоб у вас було все
                        добре з
                        автосвітлом,</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-4.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Звуковий парктронік або парктронік із використанням камер</h3>
                    <p>Сьогодні після чергової встановленої системи паркування допомоги водію вирішили висловити свою думку про
                        систему
                        паркування.
        
                        Що краще звуковий парктронік чи камера заднього виду?
        
                        Ось одне із питань, яке доводиться постійно чути від водіїв, які вирішили встановити хоч щось для
                        надання допомоги при
                        паркуванні, на автомобілі заднім ходом.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-3.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon hidden">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                    <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                        деяких знань
                        деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-6.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon hidden">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Класифікація всіх встановлюваних ламп у легкових, вантажних автомобілях та мотоциклах</h3>
                    <p>При цьому є два шляхи вирішення цієї проблеми:
                        • Перший шлях – при виявленні несправності зі світлом автомобіля вирушить у спеціалізоване СТО. Де
                        фахівці витягнуть
                        лампу, що перегоріла, визначать її маркування і встановлять аналогічну.
        
                        • Другий шлях – заміна лампочок власними силами. Виймаємо лампу, потім із нею вирушаємо купувати новою.
                    </p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-7.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon hidden">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                    <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                        деяких знань
                        деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-6.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <div class="section-avout-light--tags-wrap">
                        <div class="section-about-light--star-icon hidden">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </div>
                        <ul class="section-about-light--tag-list horizontal-scroller">
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li>
                                <a href="">Світло</a>
                            </li>
                            <li>
                                <a href="">Електрика</a>
                            </li>
                            <li>
                                <a href="">BMW</a>
                            </li>
                            <li class="last"></li>
                        </ul>
                    </div>
                    <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                    <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                        деяких знань
                        деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/about-light-7.png" alt="">
                </div>
            </li>
        </ul>
        <ul class="section-nore-jobs--list">
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div>
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/1.png" alt="">
                </div>
                <h3>Внутрішнє очищення фар Opel Insignia з поліруванням скла</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Профілактика автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/2.png" alt="">
                </div>
                <h3>Полірування автомобільних фар Ford Focus</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Шліфування та полірування автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/3.png" alt="">
                </div>
                <h3>Заміна скла автомобільних фари Lexus ES 350</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/4.png" alt="">
                </div>
                <h3>Заміна скла передної фари Jeep Cherokee MK1</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <div class="section-more-jobs--image-wrap">
                    <div class="hidden">
                        <svg>
                            <use href="./images/icons.svg#star"></use>
                        </svg>
                    </div>
                    <img src="./images/5.png" alt="">
                </div>
                <h3>Заміна линз на линзи BI-LED у фараз автомобіля Porsche Cayenne</h3>
                <p>В автомобілі незалежно, бюджетний він чи преміальний, згодом експлуатації може вийти все з ладу. І не виняток
                    оптика
                    автомобіля. У нас в сервісі автомобіль Mercedes-Benz передня оптика якого вже мало освітлює дорожнє покриття
                    і
                    власник
                    автомобіля вирішив виправити цю ситуацію зі світлом фар.</p>
                <a href="" class="section--services-more">Детальніше</a>
                <a href="" class="section-more-jobs--job-link">
                    <svg>
                        <use href="./images/icons.svg#next"></use>
                    </svg>
                    <span>Заміна скла автомобільних фар</span>
                </a>
            </li>
            <li class="section-more-jobs--item">
                <a href="" class="section-more-jobs--all-jobs-link">
                    <svg>
                        <use href="./images/icons.svg#right"></use>
                    </svg>
                    Усі роботи
                </a>
            </li>
        </ul>
        <a href="" class="section-services--more-services">
            <svg>
                <use href="./images/icons.svg#refresh"></use>
            </svg>
            Завантажити ще
        </a>
    </div>
</div>