<div class="page-title">
    <div class="container">
        <div class="page-title--navigation">
            <ul class="bread-crumbs">
                <li>
                    <a href="/">
                        <svg>
                            <use href="./images/icons.svg#home"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="">Сортування по тегу</a>
                </li>
            </ul>
            <a href="" class="page-title--back">
                <svg>
                    <use href="./images/icons.svg#left"></use>
                </svg>
                Назад
            </a>
        </div>
        <div class="page-title--title-wrap">
            <h2>Сортування по тегу</h2>
            <div class="page-title--tag">
                <span>Тонування задніх фар</span>
                <button>
                    <svg>
                        <use href="./images/icons.svg#cross"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="sort-page">
    <div class="container">
        <h3 class="sort-page--title">Виконані роботи</h3>
        <ul class="section-about-light--list">
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Шліфування та полірування автомобільних фар</span>
                        </li>

                    </ul>
                    <h3>Самостійне полірування фар, наслідки</h3>
                    <p>Шановні автовласники, ми також хочемо заощадити ваші фінансові ресурси та час. Хочемо щоб у вас було все
                        добре з
                        автосвітлом,</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-1.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Заміна автоламп</h3>
                    <p>Перегоріла лампочка в автомобілі, і це дрібниця відповість більшість автовласників, навіщо відвідувати
                        сервіс автосвітла
                        або СТО, а також чекати планового ТО автомобіля, де з низкою робіт з обслуговування автомобіля,
                        здійснять фахівці і
                        заміну автолампи, що перегоріла.
        
                        Адже просто більшість автовласників під час виходу з ладу автолампи вирушать до спеціалізованого
                        магазину, де
                        представлені автомобільні лампи у найширшому виборі.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-2.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Профілактика автомобільних фар</span>
                        </li>
                    </ul>
                    <h3>Звуковий парктронік або парктронік із використанням камер</h3>
                    <p>Сьогодні після чергової встановленої паркувальної системи допомоги водієві вирішили висловити свою думку
                        щодо системи
                        паркування.
        
                        Що краще звуковий парктронік чи камера заднього виду?
        
                        Ось одне із питань, яке доводиться постійно чути від водіїв, які вирішили встановити хоч щось, для
                        надання допомоги при
                        паркуванні, на автомобілі заднім ходом.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-3.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Класифікація всіх встановлюваних ламп у легкових, вантажних автомобілях та мотоциклах</h3>
                    <p>При цьому є два шляхи вирішення цієї проблеми:
                        • Перший шлях – при виявленні несправності зі світлом автомобіля вирушить у спеціалізоване СТО. Де
                        фахівці витягнуть
                        лампу, що перегоріла, визначать її маркування і встановлять аналогічну.
        
                        • Другий шлях – заміна лампочок власними силами. Виймаємо лампу, потім із нею вирушаємо купувати новою.
                    </p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-4.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Встановлення лінз у фари</span>
                        </li>
                    </ul>
                    <h3>Регулировка фар на лазерно-оптическом оборудование</h3>
                    <p>Точне налаштування роботи фар автомобіля за допомогою оптико-механічного приладу контролю та регулювання
                        світла фар
                        PH2066/D/L2W.T. Engineering S.r.l.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-5.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li class="section-about-light--star-icon">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </li>
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                    <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                        деяких знань
                        деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-6.png" alt="">
                </div>
            </li>
        </ul>
        <a href="" class="section-services--more-services first">
            <svg>
                <use href="./images/icons.svg#refresh"></use>
            </svg>
            Завантажити ще
        </a>
        <h3 class="sort-page--title">Блог</h3>
        <ul class="section-about-light--list">
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Шліфування та полірування автомобільних фар</span>
                        </li>
        
                    </ul>
                    <h3>Самостійне полірування фар, наслідки</h3>
                    <p>Шановні автовласники, ми також хочемо заощадити ваші фінансові ресурси та час. Хочемо щоб у вас було все
                        добре з
                        автосвітлом,</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-1.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Заміна автоламп</h3>
                    <p>Перегоріла лампочка в автомобілі, і це дрібниця відповість більшість автовласників, навіщо відвідувати
                        сервіс автосвітла
                        або СТО, а також чекати планового ТО автомобіля, де з низкою робіт з обслуговування автомобіля,
                        здійснять фахівці і
                        заміну автолампи, що перегоріла.
        
                        Адже просто більшість автовласників під час виходу з ладу автолампи вирушать до спеціалізованого
                        магазину, де
                        представлені автомобільні лампи у найширшому виборі.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-2.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Профілактика автомобільних фар</span>
                        </li>
                    </ul>
                    <h3>Звуковий парктронік або парктронік із використанням камер</h3>
                    <p>Сьогодні після чергової встановленої паркувальної системи допомоги водієві вирішили висловити свою думку
                        щодо системи
                        паркування.
        
                        Що краще звуковий парктронік чи камера заднього виду?
        
                        Ось одне із питань, яке доводиться постійно чути від водіїв, які вирішили встановити хоч щось, для
                        надання допомоги при
                        паркуванні, на автомобілі заднім ходом.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-3.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Класифікація всіх встановлюваних ламп у легкових, вантажних автомобілях та мотоциклах</h3>
                    <p>При цьому є два шляхи вирішення цієї проблеми:
                        • Перший шлях – при виявленні несправності зі світлом автомобіля вирушить у спеціалізоване СТО. Де
                        фахівці витягнуть
                        лампу, що перегоріла, визначать її маркування і встановлять аналогічну.
        
                        • Другий шлях – заміна лампочок власними силами. Виймаємо лампу, потім із нею вирушаємо купувати новою.
                    </p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-4.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li>
                            <span>Встановлення лінз у фари</span>
                        </li>
                    </ul>
                    <h3>Регулировка фар на лазерно-оптическом оборудование</h3>
                    <p>Точне налаштування роботи фар автомобіля за допомогою оптико-механічного приладу контролю та регулювання
                        світла фар
                        PH2066/D/L2W.T. Engineering S.r.l.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-5.png" alt="">
                </div>
            </li>
            <li class="section-about-light--list-item">
                <div class="section-about-light--text-wrap">
                    <ul class="section-about-light--tag-list">
                        <li class="section-about-light--star-icon">
                            <svg>
                                <use href="./images/icons.svg#star"></use>
                            </svg>
                        </li>
                        <li>
                            <span>Заміна скла фар автомобіля</span>
                        </li>
                    </ul>
                    <h3>Чи потрібно міняти біксенонові лінзи?</h3>
                    <p>Установка фар – проста процедура, з якою може впоратися більшість автовласників, але ремонт фар потребує
                        деяких знань
                        деталей автомобільної оптики та нюансів ремонту. як вибрати температуру лампи і т.д.</p>
                    <a href="" class="section--services-more">Детальніше</a>
                </div>
                <div class="section-about-light--image-wrap">
                    <img src="./images/bg-6.png" alt="">
                </div>
            </li>
        </ul>
        <a href="" class="section-services--more-services">
            <svg>
                <use href="./images/icons.svg#refresh"></use>
            </svg>
            Завантажити ще
        </a>
    </div>
</div>